<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Luck - Syntanatomie 2022</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

{% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesynt.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylenavbar1.css' %}">


</head>
<body>





<div class="navbar">
    <span class="logo">QuizLuck</span>
    <!-- Bouton pour ouvrir complètement la barre latérale -->
<div class="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
</div>

    <div class="user-menu">
        <div class="user-profile" onclick="toggleMenu()">
            <span class="profile-icon">👤</span>
            <span class="user-name">Bonjour, {{ user_full_name}} !</span>
            <span class="dropdown-arrow">▼</span>
        </div>
        <ul class="dropdown-menu" id="dropdown-menu">
            <li><a href="#" onclick="openAccountModal()">Mon Compte</a></li>
            <li>
                <a href="{% url 'login' %}">
                    <i class="fas fa-sign-out-alt"></i> Déconnexion
                </a>
            </li>
        </ul>
    </div>

</div>

<!-- Pop-up Modifier Mon Compte -->
<div id="account-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Modifier Mon compte</h3>
            <span class="close-btn" onclick="closeAccountModal()">&times;</span>
        </div>
        <div class="modal-body">
            <form id="account-form">
                {% csrf_token %}
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" name="username" value="{{ user_full_name}}" required>
<!-- Champ caché contenant la date de naissance -->
<input type="hidden" id="profile-dob" value="{{ request.user.profile.birth_date|date:'Y-m-d' }}">

                <label for="dob">Date de naissance :</label>
                <input type="date" id="dob" name="dob" value="{{ user.dob|date:'Y-m-d' }}">

                <label for="password">Nouveau mot de passe :</label>
                <input type="password" id="password" name="password" placeholder="Nouveau mot de passe">

                <label for="confirm-password">Répéter le mot de passe :</label>
                <input type="password" id="confirm-password" name="confirm_password" placeholder="Répéter le mot de passe">

                <button type="button" id="submit-form" class="btn-primary">Modifier</button>
            </form>
        </div>
    </div>
</div>

<!-- Pop-up Message -->
<div id="success-popup" class="popup">
    <div class="popup-content">
        <p id="popup-message"></p>
        <button onclick="closePopup()">OK</button>
    </div>
</div>


<div class="sidebar open" id="sidebar">

    <!-- Section Accueil -->
    <h3><i class="fas fa-home"></i> Accueil</h3>
    <ul>
        <li><a href="{% url 'home' %}"><i class="fas fa-arrow-circle-left"></i> Retourner à l'accueil</a></li>
    </ul>

    <!-- Section Modes -->
    <h3><i class="fas fa-gamepad"></i> Modes</h3>
    <ul>
        <li><a href="{% url 'start_challenge' %}"><i class="fas fa-bolt"></i> Mode Challenge</a></li>
	<li><a href="{% url 'revision' %}"><i class="fas fa-book"></i> Mode Révision</a></li>
        <li><a href="{% url 'resultats' %}"><i class="fas fa-chart-line"></i> Vos Résultats</a></li>
    </ul>

<!-- Section Vos Modules -->
<h3><i class="fas fa-folder"></i> Vos Modules</h3>
<div id="sidebar-semesters">
    <ul>
        {% for semester, modules in data.items %}
            <li>
                <span class="semester-title">
                    <i class="fas fa-graduation-cap"></i> {{ semester }}
                    <span class="toggle-arrow">▶</span> <!-- Flèche pour masquer/afficher -->
                </span>
                <ul class="modules-list hidden"> <!-- Liste masquée par défaut -->
                    {% for module in modules %}
                        <li>
                            <!-- Affiche uniquement la description -->
                            <a href="/{{ semester }}/{{ module.name }}/">
                                <i class="fas fa-book"></i> {{ module.description }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>




    <!-- Bouton Déconnexion -->
    <div class="logout-icon">
        <a href="{% url 'login' %}">
            <i class="fas fa-sign-out-alt"></i> Déconnexion
        </a>
    </div>
</div>


    <div id="content">

<div id="score-container" class="score-container">
    <h3>Note : <span id="score">0 / <span id="total-questions"</span></h3>
</div>


        <div class="quiz-title">
            <h1>Resultats detail</h1>
    </div>

         <!-- Conteneur des cercles -->
    <div class="circle-container" id="circle-container">
        <!-- Les cercles seront générés ici par JavaScript -->
    </div>

            <div class="quiz-title">
                <h1>QCM Anatomie 1</h1>
            </div>
            <form id="quiz-form">
<input type="hidden" name="file_name" value="MI2021">
    
        <div id="question-1" class="question-container">
            <div class="question">
                <p>1.) Parmi les éléments suivants, quels sont ceux qui sont justes dans la chaîne de transmission de Vibrio cholerae ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q1a" name="q1" value="A"> A-  La porte d’entrée est l’appareil digestif</li>
            
                    <li><input type="checkbox" id="q1b" name="q1" value="B"> B-  La porte de sortie est l’appareil respiratoire</li>
            
                    <li><input type="checkbox" id="q1c" name="q1" value="C"> C-  La transmission se fait par l’eau contaminée</li>
            
                    <li><input type="checkbox" id="q1d" name="q1" value="D"> D-  La transmission se fait par les aliments contaminés</li>
            
                    <li><input type="checkbox" id="q1e" name="q1" value="E"> E- La source de l’infection peut être un cadavre</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-2" class="question-container">
            <div class="question">
                <p>2.) Parmi les éléments suivants, quels sont ceux qui sont justes dans la chaîne de transmission de Leptospira ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q2a" name="q2" value="A"> A-  La porte d’entrée est la peau</li>
            
                    <li><input type="checkbox" id="q2b" name="q2" value="B"> B-  La porte de sortie est l’appareil urinaire</li>
            
                    <li><input type="checkbox" id="q2c" name="q2" value="C"> C-  La transmission se fait par voie digestive</li>
            
                    <li><input type="checkbox" id="q2d" name="q2" value="D"> D-  La transmission peut se faire dans un bain maure</li>
            
                    <li><input type="checkbox" id="q2e" name="q2" value="E"> E- La source de l’infection peut être un rat</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-3" class="question-container">
            <div class="question">
                <p>3.) Quelles sont parmi les maladies suivantes, celles qui doivent être déclarées par téléphone ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q3a" name="q3" value="A"> A-  Le SIDA</li>
            
                    <li><input type="checkbox" id="q3b" name="q3" value="B"> B-  Le choléra</li>
            
                    <li><input type="checkbox" id="q3c" name="q3" value="C"> C-  La méningite à méningocoque</li>
            
                    <li><input type="checkbox" id="q3d" name="q3" value="D"> D-  La covid-19</li>
            
                    <li><input type="checkbox" id="q3e" name="q3" value="E"> E- Les toxi-infections alimentaires collectives</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-4" class="question-container">
            <div class="question">
                <p>4.) Après un AES, la victime doit faire 4 des 5 actions suivantes. Lesquelles ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q4a" name="q4" value="A"> A-  Presser la plaie</li>
            
                    <li><input type="checkbox" id="q4b" name="q4" value="B"> B-  Nettoyer la plaie à l’eau courante et savon</li>
            
                    <li><input type="checkbox" id="q4c" name="q4" value="C"> C-  Tremper la partie blessée dans l’eau de Javel diluée</li>
            
                    <li><input type="checkbox" id="q4d" name="q4" value="D"> D-  Rincer à l’eau</li>
            
                    <li><input type="checkbox" id="q4e" name="q4" value="E"> E- Contacter un médecin référent</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-5" class="question-container">
            <div class="question">
                <p>5.) Quelles sont les propositions qui sont justes après un AES ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q5a" name="q5" value="A"> A-  Le risque de transmission du VIH est de 0,3 %</li>
            
                    <li><input type="checkbox" id="q5b" name="q5" value="B"> B-  Le risque de transmission du VHB est de 30 %</li>
            
                    <li><input type="checkbox" id="q5c" name="q5" value="C"> C-  Le risque de transmission du VHC est de 3 %</li>
            
                    <li><input type="checkbox" id="q5d" name="q5" value="D"> D-  Le risque de transmission du VIH est de 10 %</li>
            
                    <li><input type="checkbox" id="q5e" name="q5" value="E"> E- Le risque de transmission du VHB est de 3 %</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-6" class="question-container">
            <div class="question">
                <p>6.) Un homme de 40 ans consulte pour diarrhée chronique depuis 1 mois avec amaigrissement de 10 kg et une dyspnée depuis 5 jours. Cette symptomatologie a évolué en l’absence de fièvre. Il a dans les antécédents une tuberculose bien traitée et un zona à l’âge de 30 ans. Quel est le premier diagnostic à évoquer chez ce malade ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q6a" name="q6" value="A"> A-  Une tuberculose</li>
            
                    <li><input type="checkbox" id="q6b" name="q6" value="B"> B-  Une amibiase intestinale</li>
            
                    <li><input type="checkbox" id="q6c" name="q6" value="C"> C-  Une infection par le VIH</li>
            
                    <li><input type="checkbox" id="q6d" name="q6" value="D"> D-  Une giardiase</li>
            
                    <li><input type="checkbox" id="q6e" name="q6" value="E"> E- Une strongyloïdose</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-7" class="question-container">
            <div class="question">
                <p>7.) Quel test biologique vous allez demander pour confirmer votre diagnostic ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q7a" name="q7" value="A"> A-  IDR à la tuberculose</li>
            
                    <li><input type="checkbox" id="q7b" name="q7" value="B"> B-  Une coproparasitologie</li>
            
                    <li><input type="checkbox" id="q7c" name="q7" value="C"> C-  Un examen parasitologique des selles</li>
            
                    <li><input type="checkbox" id="q7d" name="q7" value="D"> D-  Une sérologie VIH</li>
            
                    <li><input type="checkbox" id="q7e" name="q7" value="E"> E- Une sérologie VHC</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-8" class="question-container">
            <div class="question">
                <p>8.) Parmi les germes suivants, deux peuvent être responsables de diarrhée chez ce malade. Lesquels ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q8a" name="q8" value="A"> A-  Cryptosporidie</li>
            
                    <li><input type="checkbox" id="q8b" name="q8" value="B"> B-  Entamoeba histolytica</li>
            
                    <li><input type="checkbox" id="q8c" name="q8" value="C"> C-  Klebsiella</li>
            
                    <li><input type="checkbox" id="q8d" name="q8" value="D"> D-  Microsporidie</li>
            
                    <li><input type="checkbox" id="q8e" name="q8" value="E"> E- Mycobacterium tuberculosis</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-9" class="question-container">
            <div class="question">
                <p>9.) Quel est le premier diagnostic à évoquer pour expliquer la dyspnée chez ce malade ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q9a" name="q9" value="A"> A-  Une tuberculose</li>
            
                    <li><input type="checkbox" id="q9b" name="q9" value="B"> B-  Une insuffisance cardiaque</li>
            
                    <li><input type="checkbox" id="q9c" name="q9" value="C"> C-  Une toxoplasmose</li>
            
                    <li><input type="checkbox" id="q9d" name="q9" value="D"> D-  Une pneumocystose</li>
            
                    <li><input type="checkbox" id="q9e" name="q9" value="E"> E- Une infection à CMV</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-10" class="question-container">
            <div class="question">
                <p>10.) Un banquier se déplace à Abidjan pour installer une succursale de sa banque. Trois jours après l’arrivée à Abidjan il a de la fièvre, des frissons et des céphalées. Il vous téléphone affolé ? Pour lui répondre vous pouvez évoquer tous les diagnostics suivants sauf un. Lequel ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q10a" name="q10" value="A"> A-  Une angine streptococcique</li>
            
                    <li><input type="checkbox" id="q10b" name="q10" value="B"> B-  Une intoxication alimentaire bactérienne</li>
            
                    <li><input type="checkbox" id="q10c" name="q10" value="C"> C-  Une grippe</li>
            
                    <li><input type="checkbox" id="q10d" name="q10" value="D"> D-  Une covid-19</li>
            
                    <li><input type="checkbox" id="q10e" name="q10" value="E"> E- Une méningite</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-11" class="question-container">
            <div class="question">
                <p>11.) Pourquoi vous n’évoquez pas ce diagnostic ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q11a" name="q11" value="A"> A-  Cette maladie n’existe pas à Abidjan</li>
            
                    <li><input type="checkbox" id="q11b" name="q11" value="B"> B-  Le malade est vacciné contre cette maladie</li>
            
                    <li><input type="checkbox" id="q11c" name="q11" value="C"> C-  Cette maladie entre dans la chimioprophylaxie qui le protège contre cette maladie</li>
            
                    <li><input type="checkbox" id="q11d" name="q11" value="D"> D-  La maladie ne touche que les enfants</li>
            
                    <li><input type="checkbox" id="q11e" name="q11" value="E"> E- La probabilité d’atteinte de cette maladie est insuffisante</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-12" class="question-container">
            <div class="question">
                <p>12.) Après un séjour de 7 jours à Abidjan le malade revient au Maro Le lendemain de son retour il est encore en face à de la fièvre et des frissons. Il vous consulte. Quel est le premier diagnostic qu’il faut évoquer chez lui ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q12a" name="q12" value="A"> A-  Une infection urinaire</li>
            
                    <li><input type="checkbox" id="q12b" name="q12" value="B"> B-  Une infection pulmonaire</li>
            
                    <li><input type="checkbox" id="q12c" name="q12" value="C"> C-  Une fièvre typhoïde</li>
            
                    <li><input type="checkbox" id="q12d" name="q12" value="D"> D-  Une grippe</li>
            
                    <li><input type="checkbox" id="q12e" name="q12" value="E"> E- Une paludisme</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-13" class="question-container">
            <div class="question">
                <p>13.) Quel est l’examen biologique qui permet de confirmer le diagnostic chez ce malade ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q13a" name="q13" value="A"> A-  Une NFS</li>
            
                    <li><input type="checkbox" id="q13b" name="q13" value="B"> B-  Une CRP</li>
            
                    <li><input type="checkbox" id="q13c" name="q13" value="C"> C-  Une goutte épaisse</li>
            
                    <li><input type="checkbox" id="q13d" name="q13" value="D"> D-  Une hémoculture</li>
            
                    <li><input type="checkbox" id="q13e" name="q13" value="E"> E- Une PCR Sars Cov-2</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-14" class="question-container">
            <div class="question">
                <p>14.) Quels sont les signes de gravité que vous allez chercher chez ce malade ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q14a" name="q14" value="A"> A-  Un ictère</li>
            
                    <li><input type="checkbox" id="q14b" name="q14" value="B"> B-  Une insuffisance rénale</li>
            
                    <li><input type="checkbox" id="q14c" name="q14" value="C"> C-  Des convulsions</li>
            
                    <li><input type="checkbox" id="q14d" name="q14" value="D"> D-  Des frissons</li>
            
                    <li><input type="checkbox" id="q14e" name="q14" value="E"> E- Une pression artérielle systolique inférieure à 8</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-15" class="question-container">
            <div class="question">
                <p>15.) Après avoir traité le malade, celui-ci vous dit qu’il a l’intention de voyager au Mali dans deux mois (séjour de 15 jours) et il vous demande le nom du médicament qu’il doit prendre pour éviter d’avoir la même maladie pour laquelle il a été traité. Quel est le médicament que vous allez lui prescrire ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q15a" name="q15" value="A"> A-  Rifadine</li>
            
                    <li><input type="checkbox" id="q15b" name="q15" value="B"> B-  Nivaquine</li>
            
                    <li><input type="checkbox" id="q15c" name="q15" value="C"> C-  Malanil</li>
            
                    <li><input type="checkbox" id="q15d" name="q15" value="D"> D-  Flagyl</li>
            
                    <li><input type="checkbox" id="q15e" name="q15" value="E"> E- Isoniazide</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-16" class="question-container">
            <div class="question">
                <p>16.) Comment il doit prendre ce médicament ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q16a" name="q16" value="A"> A-  Un comprimé par jour</li>
            
                    <li><input type="checkbox" id="q16b" name="q16" value="B"> B-  Un comprimé la veille du départ</li>
            
                    <li><input type="checkbox" id="q16c" name="q16" value="C"> C-  Un comprimé par jour pendant tout le séjour</li>
            
                    <li><input type="checkbox" id="q16d" name="q16" value="D"> D-  Un comprimé par jour 7 jours après le retour au Maroc</li>
            
                    <li><input type="checkbox" id="q16e" name="q16" value="E"> E- Un comprimé par jour 30 jours après le retour au Maroc</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-17" class="question-container">
            <div class="question">
                <p>17.) Un homme de 66 ans, Eboueur, a depuis 5 jours une fièvre avec ictère et des signes hémorragiques. Il a consulté un médecin qui lui a prescrit des sérologies des hépatites virales A, B et C qui sont négatives et une échographie abdominale qui s’est révélée normale. Quel est le premier diagnostic à évoquer chez ce malade ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q17a" name="q17" value="A"> A-  Une tuberculose</li>
            
                    <li><input type="checkbox" id="q17b" name="q17" value="B"> B-  Une leptospirose</li>
            
                    <li><input type="checkbox" id="q17c" name="q17" value="C"> C-  Une rickettsiose</li>
            
                    <li><input type="checkbox" id="q17d" name="q17" value="D"> D-  Une fièvre typhoïde</li>
            
                    <li><input type="checkbox" id="q17e" name="q17" value="E"> E- Une borreliose</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-18" class="question-container">
            <div class="question">
                <p>18.) Pour évaluer la gravité de la maladie vous demandez un bilan biologique. Le malade vous dit qu'il n'a pas les moyens financiers pour faire le bilan. Quel est le seul examen biologique que vous pouvez demander ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q18a" name="q18" value="A"> A-  NFS</li>
            
                    <li><input type="checkbox" id="q18b" name="q18" value="B"> B-  CRP</li>
            
                    <li><input type="checkbox" id="q18c" name="q18" value="C"> C-  VS</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-19" class="question-container">
            <div class="question">
                <p>19.) Trois jours après son hospitalisation le malade développe une forme grave de la maladie. Quel est le facteur de gravité qu'a ce malade ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q19a" name="q19" value="A"> A-  Le sexe masculin</li>
            
                    <li><input type="checkbox" id="q19b" name="q19" value="B"> B-  L'âge</li>
            
                    <li><input type="checkbox" id="q19c" name="q19" value="C"> C-  Le manque de moyens financiers</li>
            
                    <li><input type="checkbox" id="q19d" name="q19" value="D"> D-  L'ictère</li>
            
                    <li><input type="checkbox" id="q19e" name="q19" value="E"> E- La fièvre</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-20" class="question-container">
            <div class="question">
                <p>20.) Quels sont les trois éléments qui permettent le diagnostic clinique d'une Rickettsiose ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q20a" name="q20" value="A"> A-  Une éruption maculopapuleuse</li>
            
                    <li><input type="checkbox" id="q20b" name="q20" value="B"> B-  Un ictère</li>
            
                    <li><input type="checkbox" id="q20c" name="q20" value="C"> C-  Des adénopathies</li>
            
                    <li><input type="checkbox" id="q20d" name="q20" value="D"> D-  Une fièvre</li>
            
                    <li><input type="checkbox" id="q20e" name="q20" value="E"> E- Une tache noire</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-21" class="question-container">
            <div class="question">
                <p>21.) Parmi les antibiotiques suivants quels sont les deux qu'on peut utiliser pour traiter une fièvre boutonneuse méditerranéenne ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q21a" name="q21" value="A"> A-  Cotrimoxazole</li>
            
                    <li><input type="checkbox" id="q21b" name="q21" value="B"> B-  Gentamicine</li>
            
                    <li><input type="checkbox" id="q21c" name="q21" value="C"> C-  Josamycine</li>
            
                    <li><input type="checkbox" id="q21d" name="q21" value="D"> D-  Doxycycline</li>
            
                    <li><input type="checkbox" id="q21e" name="q21" value="E"> E- Ceftriaxone</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-22" class="question-container">
            <div class="question">
                <p>22.) Parmi les symptômes suivants, quels sont les deux qu'on peut trouver dans la forme spastique (ou furieuse) de la rage ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q22a" name="q22" value="A"> A-  Hydrophobie</li>
            
                    <li><input type="checkbox" id="q22b" name="q22" value="B"> B-  Aérophobie</li>
            
                    <li><input type="checkbox" id="q22c" name="q22" value="C"> C-  Hyperactivité</li>
            
                    <li><input type="checkbox" id="q22d" name="q22" value="D"> D-  Hémiplégie</li>
            
                    <li><input type="checkbox" id="q22e" name="q22" value="E"> E- Paraplégie</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-23" class="question-container">
            <div class="question">
                <p>23.) Parmi les propositions suivantes, lesquelles sont vraies en ce qui concerne le choléra ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q23a" name="q23" value="A"> A-  Il est encore très fréquent au Maroc</li>
            
                    <li><input type="checkbox" id="q23b" name="q23" value="B"> B-  C'est une toxi-infection digestive</li>
            
                    <li><input type="checkbox" id="q23c" name="q23" value="C"> C-  Elle doit être déclarée par téléphone</li>
            
                    <li><input type="checkbox" id="q23d" name="q23" value="D"> D-  Elle présente une incubation courte (2 à 3 jours)</li>
            
                    <li><input type="checkbox" id="q23e" name="q23" value="E"> E- Peut entraîner la mort par déshydratation</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-24" class="question-container">
            <div class="question">
                <p>24.) Parmi les examens suivants, Quel est celui qui ne permet pas de confirmer le diagnostic de la fièvre typhoïde ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q24a" name="q24" value="A"> A-  Hémoculture</li>
            
                    <li><input type="checkbox" id="q24b" name="q24" value="B"> B-  NFS</li>
            
                    <li><input type="checkbox" id="q24c" name="q24" value="C"> C-  Coproculture</li>
            
                    <li><input type="checkbox" id="q24d" name="q24" value="D"> D-  Uroculture</li>
            
                    <li><input type="checkbox" id="q24e" name="q24" value="E"> E- Myéloculture</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-25" class="question-container">
            <div class="question">
                <p>25.) Parmi ces portes d'entrées, quelles sont les 3 qui entraînent des septicémies à staphylocoques ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q25a" name="q25" value="A"> A-  Cutanées</li>
            
                    <li><input type="checkbox" id="q25b" name="q25" value="B"> B-  Urinaires</li>
            
                    <li><input type="checkbox" id="q25c" name="q25" value="C"> C-  Digestives</li>
            
                    <li><input type="checkbox" id="q25d" name="q25" value="D"> D-  Iatrogènes</li>
            
                    <li><input type="checkbox" id="q25e" name="q25" value="E"> E- Pulmonaires</li>
            
                </ul>
            </div>
            
        </div>
        
            

            

            
                
                
                
            </div>
<button type="button" class="reset-quiz-button" onclick="window.location.href = '{% url "dynamic_view" "S5" "Maladies_Infectieuses_and_Parasytologie_et_Mycologie" "MI2021" %}';">Réessayer tout le Quiz</button>

            <div id="details-section" class="details-section" style="display: none;">
                <h3>Tableau des questions</h3>
                <div class="question-links" id="question-links"></div>
            </div>

            
    
            <script>
const correctAnswers = {
    q1: ['A', 'C', 'D', 'E'],
    q2: ['A', 'B', 'D', 'E'],
    q3: ['B', 'C', 'E'],
    q4: ['B', 'C', 'D', 'E'],
    q5: ['A', 'B', 'D'],
    q6: ['C'],
    q7: ['E'],
    q8: ['A', 'D'],
    q9: ['D'],
    q10: ['D'],
    q11: ['E'],
    q12: ['D'],
    q13: ['C'],
    q14: ['A', 'B', 'C', 'E'],
    q15: ['C'],
    q16: ['A', 'B', 'C', 'D'],
    q17: ['B'],
    q18: ['D'],
    q19: ['B'],
    q20: ['A', 'D', 'E'],
    q21: ['C', 'D'],
    q22: ['A', 'B', 'C'],
    q23: ['B', 'C', 'D', 'E'],
    q24: ['B'],
    q25: ['A', 'B', 'D'],
};

let userAnswers = {}; // Stocke les réponses de l'utilisateur
let loadedAnswers = {}; // Stocke les réponses chargées pour l'évaluation

// Charger les réponses utilisateur
function loadUserAnswersFromChimie() {
    const savedAnswers = JSON.parse(localStorage.getItem('userAnswersMI2021'));

    if (savedAnswers) {
        loadedAnswers = savedAnswers; // Stocker les réponses dans la variable globale
        for (const [questionName, answerData] of Object.entries(savedAnswers)) {
            const questionDiv = document.querySelector(`input[name="${questionName}"]`)?.closest('.question-container');
            if (!questionDiv) continue;

            // Appliquer les styles pour les bonnes réponses
            correctAnswers[questionName]?.forEach(correctAnswer => {
                const correctLi = questionDiv.querySelector(`input[value="${correctAnswer}"]`)?.closest('li');
                if (correctLi) {
                    correctLi.style.color = 'green';
                    correctLi.style.fontWeight = 'bold';
                    correctLi.style.textShadow = '1px 1px 2px rgba(0, 0, 0, 0.5)';
                }
            });

            // Appliquer les styles pour les réponses sélectionnées
            answerData.selected.forEach(selectedAnswer => {
                const selectedLi = questionDiv.querySelector(`input[value="${selectedAnswer}"]`)?.closest('li');
                if (selectedLi) {
                    selectedLi.style.color = correctAnswers[questionName]?.includes(selectedAnswer) ? 'lightgreen' : 'red';
                }
            });

            // Désactiver les cases après chargement
            questionDiv.querySelectorAll('input').forEach(input => (input.disabled = true));
        }
    }
}

// Générer les cercles pour les questions
function generateCircles() {
    const totalQuestions = Object.keys(correctAnswers).length;
    const circleContainer = document.getElementById('circle-container');

    for (let i = 1; i <= totalQuestions; i++) {
        const circle = document.createElement('div');
        circle.classList.add('circle', 'yellow'); // Couleur par défaut : jaune
        circle.innerText = i;

        circle.onclick = function () {
            scrollToQuestion(i);
        };

        circleContainer.appendChild(circle);
    }
}

// Mettre à jour les cercles après évaluation
function updateCircles() {
    const circles = document.querySelectorAll('.circle');
    let totalCorrectCircles = 0; // Compteur pour les réponses correctes
    for (let i = 1; i <= Object.keys(correctAnswers).length; i++) {
        const selectedAnswers = loadedAnswers[`q${i}`]?.selected || [];
        const circle = circles[i - 1];

        if (JSON.stringify(correctAnswers[`q${i}`]?.sort()) === JSON.stringify(selectedAnswers.sort())) {
            circle.classList.add('green');
            circle.classList.remove('yellow', 'red');
            totalCorrectCircles++;
        } else if (selectedAnswers.length > 0) {
            circle.classList.add('red');
            circle.classList.remove('yellow', 'green');
        } else {
            circle.classList.add('yellow');
            circle.classList.remove('green', 'red');
        }
    }

    // Mettre à jour la note avec le nombre de cercles verts
    document.getElementById('score').textContent = `${totalCorrectCircles} / ${Object.keys(correctAnswers).length}`;
}

// Défiler jusqu'à une question spécifique
function scrollToQuestion(questionNumber) {
    const questionDiv = document.getElementById(`question-${questionNumber}`);
    if (questionDiv) {
        questionDiv.scrollIntoView({ behavior: 'smooth' });
    }
}

// Charger les réponses et générer les cercles au chargement de la page
window.onload = function () {
    document.getElementById('total-questions').textContent = Object.keys(correctAnswers).length; // Nombre total de questions
    loadUserAnswersFromChimie();
    generateCircles();
    updateCircles();
};




    </script>
</body>
</html>
<script src="{% static 'java/question-stats.js' %}" defer></script>
<script src="{% static 'java/sidebar.js' %}"></script>
<script src="{% static 'java/navbar.js' %}"></script>