<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Luck - Syntanatomie 2022</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

{% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesynt.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylenavbar1.css' %}">


</head>
<body>





<div class="navbar">
    <span class="logo">QuizLuck</span>
    <!-- Bouton pour ouvrir complètement la barre latérale -->
<div class="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
</div>

    <div class="user-menu">
        <div class="user-profile" onclick="toggleMenu()">
            <span class="profile-icon">👤</span>
            <span class="user-name">Bonjour, {{ user_full_name}} !</span>
            <span class="dropdown-arrow">▼</span>
        </div>
        <ul class="dropdown-menu" id="dropdown-menu">
            <li><a href="#" onclick="openAccountModal()">Mon Compte</a></li>
            <li>
                <a href="{% url 'login' %}">
                    <i class="fas fa-sign-out-alt"></i> Déconnexion
                </a>
            </li>
        </ul>
    </div>

</div>

<!-- Pop-up Modifier Mon Compte -->
<div id="account-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Modifier Mon compte</h3>
            <span class="close-btn" onclick="closeAccountModal()">&times;</span>
        </div>
        <div class="modal-body">
            <form id="account-form">
                {% csrf_token %}
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" name="username" value="{{ user_full_name}}" required>
<!-- Champ caché contenant la date de naissance -->
<input type="hidden" id="profile-dob" value="{{ request.user.profile.birth_date|date:'Y-m-d' }}">

                <label for="dob">Date de naissance :</label>
                <input type="date" id="dob" name="dob" value="{{ user.dob|date:'Y-m-d' }}">

                <label for="password">Nouveau mot de passe :</label>
                <input type="password" id="password" name="password" placeholder="Nouveau mot de passe">

                <label for="confirm-password">Répéter le mot de passe :</label>
                <input type="password" id="confirm-password" name="confirm_password" placeholder="Répéter le mot de passe">

                <button type="button" id="submit-form" class="btn-primary">Modifier</button>
            </form>
        </div>
    </div>
</div>

<!-- Pop-up Message -->
<div id="success-popup" class="popup">
    <div class="popup-content">
        <p id="popup-message"></p>
        <button onclick="closePopup()">OK</button>
    </div>
</div>


<div class="sidebar open" id="sidebar">

    <!-- Section Accueil -->
    <h3><i class="fas fa-home"></i> Accueil</h3>
    <ul>
        <li><a href="{% url 'home' %}"><i class="fas fa-arrow-circle-left"></i> Retourner à l'accueil</a></li>
    </ul>

    <!-- Section Modes -->
    <h3><i class="fas fa-gamepad"></i> Modes</h3>
    <ul>
        <li><a href="{% url 'start_challenge' %}"><i class="fas fa-bolt"></i> Mode Challenge</a></li>
	<li><a href="{% url 'revision' %}"><i class="fas fa-book"></i> Mode Révision</a></li>
        <li><a href="{% url 'resultats' %}"><i class="fas fa-chart-line"></i> Vos Résultats</a></li>
    </ul>

<!-- Section Vos Modules -->
<h3><i class="fas fa-folder"></i> Vos Modules</h3>
<div id="sidebar-semesters">
    <ul>
        {% for semester, modules in data.items %}
            <li>
                <span class="semester-title">
                    <i class="fas fa-graduation-cap"></i> {{ semester }}
                    <span class="toggle-arrow">▶</span> <!-- Flèche pour masquer/afficher -->
                </span>
                <ul class="modules-list hidden"> <!-- Liste masquée par défaut -->
                    {% for module in modules %}
                        <li>
                            <!-- Affiche uniquement la description -->
                            <a href="/{{ semester }}/{{ module.name }}/">
                                <i class="fas fa-book"></i> {{ module.description }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>




    <!-- Bouton Déconnexion -->
    <div class="logout-icon">
        <a href="{% url 'login' %}">
            <i class="fas fa-sign-out-alt"></i> Déconnexion
        </a>
    </div>
</div>


    <div id="content">

<div id="score-container" class="score-container">
    <h3>Note : <span id="score">0 / <span id="total-questions"</span></h3>
</div>


        <div class="quiz-title">
            <h1>Resultats detail</h1>
    </div>

         <!-- Conteneur des cercles -->
    <div class="circle-container" id="circle-container">
        <!-- Les cercles seront générés ici par JavaScript -->
    </div>

            <div class="quiz-title">
                <h1>QCM Anatomie 1</h1>
            </div>
            <form id="quiz-form">
<input type="hidden" name="file_name" value="ADC2022">
    
        <div id="question-1" class="question-container">
            <div class="question">
                <p>1.) La ligne pectinée du canal anal est :</p>
                <ul>
        
                    <li><input type="checkbox" id="q1a" name="q1" value="A"> A- Un repère anatomique important.</li>
            
                    <li><input type="checkbox" id="q1b" name="q1" value="B"> B- Située au milieu du canal anal.</li>
            
                    <li><input type="checkbox" id="q1c" name="q1" value="C"> C- Séparant la zone cutanée lisse au-dessus et la zone muqueuse au-dessous.</li>
            
                    <li><input type="checkbox" id="q1d" name="q1" value="D"> D- Correspondant à un reliquat embryologique.</li>
            
                    <li><input type="checkbox" id="q1e" name="q1" value="E"> E- Visible en anoscopie.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-2" class="question-container">
            <div class="question">
                <p>2.) À quel stade correspond une maladie hémorroïdaire lorsque les paquets hémorroïdaires constatés sont extériorisés à la poussée et doivent être réintégrés au doigt ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q2a" name="q2" value="A"> A- Stade 1.</li>
            
                    <li><input type="checkbox" id="q2b" name="q2" value="B"> B- Stade 2.</li>
            
                    <li><input type="checkbox" id="q2c" name="q2" value="C"> C- Stade 3.</li>
            
                    <li><input type="checkbox" id="q2d" name="q2" value="D"> D- Stade 4.</li>
            
                    <li><input type="checkbox" id="q2e" name="q2" value="E"> E- Stade 5.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-3" class="question-container">
            <div class="question">
                <p>3.) L'abcès de la marge anale :</p>
                <ul>
        
                    <li><input type="checkbox" id="q3a" name="q3" value="A"> A- Est une tuméfaction indolore de la marge anale.</li>
            
                    <li><input type="checkbox" id="q3b" name="q3" value="B"> B- Est responsable de rectorragies.</li>
            
                    <li><input type="checkbox" id="q3c" name="q3" value="C"> C- Correspond à une surinfection cryptique.</li>
            
                    <li><input type="checkbox" id="q3d" name="q3" value="D"> D- Est une urgence chirurgicale.</li>
            
                    <li><input type="checkbox" id="q3e" name="q3" value="E"> E- Peut évoluer vers une fissure anale.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-4" class="question-container">
            <div class="question">
                <p>4.) Devant une anémie chronique ferriprive, quel examen permet-il de faire le diagnostic de cancer du côlon ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q4a" name="q4" value="A"> A- Examen clinique avec toucher rectal.</li>
            
                    <li><input type="checkbox" id="q4b" name="q4" value="B"> B- Lavement opaque à la baryte.</li>
            
                    <li><input type="checkbox" id="q4c" name="q4" value="C"> C- Iléo-coloscopie totale.</li>
            
                    <li><input type="checkbox" id="q4d" name="q4" value="D"> D- Examen histologique des biopsies de la lésion.</li>
            
                    <li><input type="checkbox" id="q4e" name="q4" value="E"> E- Tomodensitométrie thoraco-abdominale.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-5" class="question-container">
            <div class="question">
                <p>5.) Quel est l'examen qui permet de confirmer le diagnostic et d'apprécier la gravité d'une diverticulite compliquée ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q5a" name="q5" value="A"> A- Examen clinique avec toucher rectal.</li>
            
                    <li><input type="checkbox" id="q5b" name="q5" value="B"> B- La rectosigmoïdoscopie.</li>
            
                    <li><input type="checkbox" id="q5c" name="q5" value="C"> C- La coloscopie totale.</li>
            
                    <li><input type="checkbox" id="q5d" name="q5" value="D"> D- Le scanner abdomino-pelvien.</li>
            
                    <li><input type="checkbox" id="q5e" name="q5" value="E"> E- Le lavement opaque.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-6" class="question-container">
            <div class="question">
                <p>6.) Le diverticule de Meckel :</p>
                <ul>
        
                    <li><input type="checkbox" id="q6a" name="q6" value="A"> A- Est une malformation acquise de l'intestin grêle.</li>
            
                    <li><input type="checkbox" id="q6b" name="q6" value="B"> B- Situé sur le bord anti-mésentérique du grêle.</li>
            
                    <li><input type="checkbox" id="q6c" name="q6" value="C"> C- Est une rare cause de saignements digestifs.</li>
            
                    <li><input type="checkbox" id="q6d" name="q6" value="D"> D- Qui peut simuler une appendicite lorsqu'il s'infecte.</li>
            
                    <li><input type="checkbox" id="q6e" name="q6" value="E"> E- Qui doit être réséqué chaque fois qu'on le découvre.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-7" class="question-container">
            <div class="question">
                <p>7.) Le cancer épidermoïde de l'œsophage :</p>
                <ul>
        
                    <li><input type="checkbox" id="q7a" name="q7" value="A"> A- Peut être favorisé par une infection à papillomavirus humain.</li>
            
                    <li><input type="checkbox" id="q7b" name="q7" value="B"> B- Est révélé classiquement par une dysphagie intermittente.</li>
            
                    <li><input type="checkbox" id="q7c" name="q7" value="C"> C- Peut être responsable d'une dysphonie par envahissement du nerf phrénique.</li>
            
                    <li><input type="checkbox" id="q7d" name="q7" value="D"> D- Peut être associé à un cancer laryngé et/ou bronchique dans près de 10% des cas.</li>
            
                    <li><input type="checkbox" id="q7e" name="q7" value="E"> E- Peut être traité chirurgicalement par l'opération de Lewis-Santy.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-8" class="question-container">
            <div class="question">
                <p>8.) Concernant les tumeurs stromales de l'estomac quelle(s) est (sont) la (les) proposition(s) exacte(s) ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q8a" name="q8" value="A"> A- Elles correspondent à la localisation la plus fréquente des tumeurs stromales du tube digestif.</li>
            
                    <li><input type="checkbox" id="q8b" name="q8" value="B"> B- Leur pronostic est lié à leur taille et à l'index mitotique.</li>
            
                    <li><input type="checkbox" id="q8c" name="q8" value="C"> C- Elles sont développées à partir des cellules épithéliales.</li>
            
                    <li><input type="checkbox" id="q8d" name="q8" value="D"> D- Elles sont fréquemment révélées par une hémorragie digestive.</li>
            
                    <li><input type="checkbox" id="q8e" name="q8" value="E"> E- Elles peuvent bénéficier d'une chimiothérapie ciblée.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-9" class="question-container">
            <div class="question">
                <p>9.) Le cancer du cardia est :</p>
                <ul>
        
                    <li><input type="checkbox" id="q9a" name="q9" value="A"> A- Un adénocarcinome +/- différencié.</li>
            
                    <li><input type="checkbox" id="q9b" name="q9" value="B"> B- Favorisé par l'endo-brachyœsophage.</li>
            
                    <li><input type="checkbox" id="q9c" name="q9" value="C"> C- De meilleur pronostic que le cancer de l'antre gastrique.</li>
            
                    <li><input type="checkbox" id="q9d" name="q9" value="D"> D- Favorisé par le méga-œsophage.</li>
            
                    <li><input type="checkbox" id="q9e" name="q9" value="E"> E- Habituellement classé en 3 catégories en fonction de sa situation par rapport à la ligne Z.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-10" class="question-container">
            <div class="question">
                <p>10.) Concernant l'adénocarcinome gastrique quelle (s) est (sont) la (les) réponse(s) exacte(s) ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q10a" name="q10" value="A"> A- Le degré de différenciation histologique est un facteur pronostic important.</li>
            
                    <li><input type="checkbox" id="q10b" name="q10" value="B"> B- La maladie de Ménétrier est un facteur prédisposant.</li>
            
                    <li><input type="checkbox" id="q10c" name="q10" value="C"> C- Le facteur héréditaire est lié à une mutation germinale du gène CDH1 responsable de la perte de fonction de la protéine E-Cadhérine.</li>
            
                    <li><input type="checkbox" id="q10d" name="q10" value="D"> D- Une gastrectomie des 4/5ème avec curage ganglionnaire après chimiothérapie est le traitement standard en cas de localisation antro-pylorique.</li>
            
                    <li><input type="checkbox" id="q10e" name="q10" value="E"> E- L'apparition d'une tumeur de Krukenberg est de mauvais pronostic.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-11" class="question-container">
            <div class="question">
                <p>11.) Quel(s) est (sont) le(s) facteur(s) de risque de développer un carcinome hépatocellulaire ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q11a" name="q11" value="A"> A- La présence d'une cirrhose quelle que soit l'étiologie.</li>
            
                    <li><input type="checkbox" id="q11b" name="q11" value="B"> B- La présence d'une hyperplasie nodulaire focale de taille supérieure à 5 cm.</li>
            
                    <li><input type="checkbox" id="q11c" name="q11" value="C"> C- La présence d'un adénome hépatocellulaire de taille supérieure à 5 cm.</li>
            
                    <li><input type="checkbox" id="q11d" name="q11" value="D"> D- La présence d'une stéato-hépatite non alcoolique (NASH).</li>
            
                    <li><input type="checkbox" id="q11e" name="q11" value="E"> E- présence d’un kyste hydatique.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-12" class="question-container">
            <div class="question">
                <p>12.) Quel(s) est (sont) la (les) proposition(s) exacte(s) concernant les kystes biliaires ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q12a" name="q12" value="A"> A- Ils peuvent s'intégrer dans le cadre d'une atteinte génétique.</li>
            
                    <li><input type="checkbox" id="q12b" name="q12" value="B"> B- Il existe un risque de transformation maligne des kystes en cas de taille supérieure à 10 cm.</li>
            
                    <li><input type="checkbox" id="q12c" name="q12" value="C"> C- La surveillance des kystes repose sur une échographie annuelle.</li>
            
                    <li><input type="checkbox" id="q12d" name="q12" value="D"> D- Les kystes de taille supérieure à 10 cm doivent être réséqués du fait du risque hémorragique.</li>
            
                    <li><input type="checkbox" id="q12e" name="q12" value="E"> E- Un kyste biliaire peut être difficile à différencier d'un kyste hydatique jeune (selon la classification de Gharbi).</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-13" class="question-container">
            <div class="question">
                <p>13.) Les indications du traitement de la RCH sont :</p>
                <ul>
        
                    <li><input type="checkbox" id="q13a" name="q13" value="A"> A- Le cancer</li>
            
                    <li><input type="checkbox" id="q13b" name="q13" value="B"> B- La colite aigue grave</li>
            
                    <li><input type="checkbox" id="q13c" name="q13" value="C"> C- Le mégacôlon toxique</li>
            
                    <li><input type="checkbox" id="q13d" name="q13" value="D"> D- Diarrhées fréquentes</li>
            
                    <li><input type="checkbox" id="q13e" name="q13" value="E"> E- Forme résistante au traitement médical</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-14" class="question-container">
            <div class="question">
                <p>14.) Les complications possibles du KHF sont :</p>
                <ul>
        
                    <li><input type="checkbox" id="q14a" name="q14" value="A"> A- Cancérisation</li>
            
                    <li><input type="checkbox" id="q14b" name="q14" value="B"> B- Rupture dans les voies biliaires ou dans les bronches</li>
            
                    <li><input type="checkbox" id="q14c" name="q14" value="C"> C- Hypertension portale</li>
            
                    <li><input type="checkbox" id="q14d" name="q14" value="D"> D- Surinfection</li>
            
                    <li><input type="checkbox" id="q14e" name="q14" value="E"> E- Hydatidose péritonéale</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-15" class="question-container">
            <div class="question">
                <p>15.) Les signes cliniques évoquant un cancer de la tête du pancréas sont :</p>
                <ul>
        
                    <li><input type="checkbox" id="q15a" name="q15" value="A"> A- L’ictère et l’amaigrissement</li>
            
                    <li><input type="checkbox" id="q15b" name="q15" value="B"> B- Un syndrome solaire</li>
            
                    <li><input type="checkbox" id="q15c" name="q15" value="C"> C- Un prurit</li>
            
                    <li><input type="checkbox" id="q15d" name="q15" value="D"> D- Une hématurie</li>
            
                    <li><input type="checkbox" id="q15e" name="q15" value="E"> E- Une grosse vésicule palpable</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-16" class="question-container">
            <div class="question">
                <p>16.) Le traitement chirurgical du KHF est :</p>
                <ul>
        
                    <li><input type="checkbox" id="q16a" name="q16" value="A"> A- Une hépatectomie</li>
            
                    <li><input type="checkbox" id="q16b" name="q16" value="B"> B- Une résection du dôme saillant</li>
            
                    <li><input type="checkbox" id="q16c" name="q16" value="C"> C- Une péricystectomie</li>
            
                    <li><input type="checkbox" id="q16d" name="q16" value="D"> D- Une grosse vésicule palpable</li>
            
                    <li><input type="checkbox" id="q16e" name="q16" value="E"> E- Une résection du cholédoque</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-17" class="question-container">
            <div class="question">
                <p>17.) Les principales complications des ulcères gastroduodénaux :</p>
                <ul>
        
                    <li><input type="checkbox" id="q17a" name="q17" value="A"> A- Hémorragie</li>
            
                    <li><input type="checkbox" id="q17b" name="q17" value="B"> B- Perforation</li>
            
                    <li><input type="checkbox" id="q17c" name="q17" value="C"> C- Sténose</li>
            
                    <li><input type="checkbox" id="q17d" name="q17" value="D"> D- Gastrinome</li>
            
                    <li><input type="checkbox" id="q17e" name="q17" value="E"> E- Cancérisation</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-18" class="question-container">
            <div class="question">
                <p>18.)  Un patient âgé de 65 ans, opéré il y a 5 ans pour une hernie de la ligne blanche, consulte en urgence pour un arrêt total des gaz évoluant depuis 3 jours, associé à des vomissements bilieux, sans hémorragie digestive extériorisée, le tout évoluant dans un contexte d’apyrexie et d’altération de l’état général. L’examen clinique retrouve une cicatrice de laparotomie médiane, un abdomen souple, mais distendu sans onde en flaque, ni bruit hydro-aérique. La T.A est de 11/07 mm Hg et la fréquence respiratoire est de 22 cycles/mn.Quel(s) diagnostic(s) peut-on évoquer à ce stade ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q18a" name="q18" value="A"> A- Une tumeur gastrique</li>
            
                    <li><input type="checkbox" id="q18b" name="q18" value="B"> B- Une occlusion sur tumeur colique</li>
            
                    <li><input type="checkbox" id="q18c" name="q18" value="C"> C- Un volvulus du sigmoïde</li>
            
                    <li><input type="checkbox" id="q18d" name="q18" value="D"> D- Une occlusion sur bride</li>
            
                    <li><input type="checkbox" id="q18e" name="q18" value="E"> E- Un kyste hydatique du foie</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-19" class="question-container">
            <div class="question">
                <p>19.) Quel(s) examen(s) paraclinique(s) peut-on demander pour asseoir dans le diagnostic ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q19a" name="q19" value="A"> A- Une fibroscopie oeso-gastro-duodénale</li>
            
                    <li><input type="checkbox" id="q19b" name="q19" value="B"> B- Une radiographie de l’abdomen sans préparation</li>
            
                    <li><input type="checkbox" id="q19c" name="q19" value="C"> C- Un électrocardiogramme</li>
            
                    <li><input type="checkbox" id="q19d" name="q19" value="D"> D- Une échographie abdominale</li>
            
                    <li><input type="checkbox" id="q19e" name="q19" value="E"> E- Un scanner abdominal</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-20" class="question-container">
            <div class="question">
                <p>20.) Le bilan para-clinique demandé a retrouvé des niveaux hydro-aériques centraux, plus larges que hauts, de 5 cm de diamètre, en amont d’un obstacle repéré au niveau de la fosse iliaque droite avec un cadre colique de 5 cm de diamètre. Quel est le diagnostic que l’on peut retenir ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q20a" name="q20" value="A"> A- Une tumeur gastrique</li>
            
                    <li><input type="checkbox" id="q20b" name="q20" value="B"> B- Une tumeur colique en occlusion</li>
            
                    <li><input type="checkbox" id="q20c" name="q20" value="C"> C- Un volvulus du sigmoïde</li>
            
                    <li><input type="checkbox" id="q20d" name="q20" value="D"> D- Une occlusion du grêle sur bride</li>
            
                    <li><input type="checkbox" id="q20e" name="q20" value="E"> E- Un kyste hydatique du foie</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-21" class="question-container">
            <div class="question">
                <p>21.) Quelle sera votre conduite à tenir ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q21a" name="q21" value="A"> A- Lui prescrire une ordonnance et le renvoyer chez lui</li>
            
                    <li><input type="checkbox" id="q21b" name="q21" value="B"> B- L’hospitaliser et le mettre en conditions</li>
            
                    <li><input type="checkbox" id="q21c" name="q21" value="C"> C- L’opérer après réanimation</li>
            
                    <li><input type="checkbox" id="q21d" name="q21" value="D"> D- L’opérer en urgence</li>
            
                    <li><input type="checkbox" id="q21e" name="q21" value="E"> E- Lui prescrire un bilan et le revoir à la consultation dans 1 semaine</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-22" class="question-container">
            <div class="question">
                <p>22.) Une patiente âgée de 60 ans, consulte en urgence pour une douleur de l’hypochondre droit évoluant depuis un mois, avec notion d’un ictère intermittent, sans trouble de transit, ni hémorragie digestive extériorisée. Cette douleur s’est exacerbée depuis 5 jours, avec apparition de vomissements bilieux et fièvre non chiffrée. L’examen somatique a objectivé une sensibilité de l’hypochondre droit et de l’épigastre avec une fièvre à 38°C. La TA est de 13/08 mm Hg, la fréquence respiratoire est de 15 cycles / mn.Quel(s) diagnostic(s) peut-on évoquer ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q22a" name="q22" value="A"> A- Une appendicite aiguë.</li>
            
                    <li><input type="checkbox" id="q22b" name="q22" value="B"> B-  Une cholécystite aiguë.</li>
            
                    <li><input type="checkbox" id="q22c" name="q22" value="C"> C-  Une gastrite.</li>
            
                    <li><input type="checkbox" id="q22d" name="q22" value="D"> D-  Une lithiase de la voie biliaire principale.</li>
            
                    <li><input type="checkbox" id="q22e" name="q22" value="E"> E-  Une pancréatite aiguë.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-23" class="question-container">
            <div class="question">
                <p>23.) Quel(s) examen(s) para-cliniques peut-on demander pour asseoir le diagnostic positif ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q23a" name="q23" value="A"> A-  Une cholangio IRM.</li>
            
                    <li><input type="checkbox" id="q23b" name="q23" value="B"> B- Une échographie hépato-biliaire.</li>
            
                    <li><input type="checkbox" id="q23c" name="q23" value="C"> C-  Un bilan biologique.</li>
            
                    <li><input type="checkbox" id="q23d" name="q23" value="D"> D-  Une fibroscopie gastro-duodénale.</li>
            
                    <li><input type="checkbox" id="q23e" name="q23" value="E"> E-  Une radio pulmonaire.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-24" class="question-container">
            <div class="question">
                <p>24.)  Les examens para-cliniques demandés ont montré une lipasémie à 100 UI/L, des globules blancs à 13.000/mm3 à prédominance polynucléaires neutrophiles, une paroi vésiculaire à 5 mm. Le diamètre de la voie biliaire principale est de 9 mm, la bilirubine totale à 18 mg/L, les gamma-glutamyl transférases à 80 UI/L, phosphatases alcalines à 90 UI/L. Quel(s) diagnostic(s) peut-on retenir ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q24a" name="q24" value="A"> A- Une angiocholite aiguë.</li>
            
                    <li><input type="checkbox" id="q24b" name="q24" value="B"> B- Une cholécystite aiguë.</li>
            
                    <li><input type="checkbox" id="q24c" name="q24" value="C"> C- Une gastrite.</li>
            
                    <li><input type="checkbox" id="q24d" name="q24" value="D"> D-  Une lithiase de la voie biliaire principale.</li>
            
                    <li><input type="checkbox" id="q24e" name="q24" value="E"> E- Une pancréatite aiguë.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-25" class="question-container">
            <div class="question">
                <p>25.) Quelle sera votre conduite à tenir ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q25a" name="q25" value="A"> A-  Une cholécystectomie seule.</li>
            
                    <li><input type="checkbox" id="q25b" name="q25" value="B"> B- Une sphinctérotomie endoscopique + une cholécystectomie.</li>
            
                    <li><input type="checkbox" id="q25c" name="q25" value="C"> C-  Une hospitalisation.</li>
            
                    <li><input type="checkbox" id="q25d" name="q25" value="D"> D-  Un repos digestif avec surveillance clinico-biologique.</li>
            
                    <li><input type="checkbox" id="q25e" name="q25" value="E"> E- Une antibiothérapie.</li>
            
                </ul>
            </div>
            
        </div>
        
            

            

            
                
                
                
            </div>
<button type="button" class="reset-quiz-button" onclick="window.location.href = '{% url "dynamic_view" "S6" "Pathologie_de_l_appareil_digestif" "ADC2022" %}';">Réessayer tout le Quiz</button>

            <div id="details-section" class="details-section" style="display: none;">
                <h3>Tableau des questions</h3>
                <div class="question-links" id="question-links"></div>
            </div>

            
    
            <script>
const correctAnswers = {
    q1: ['A', 'B', 'D', 'E'],
    q2: ['C'],
    q3: ['C', 'D'],
    q4: ['D'],
    q5: ['D'],
    q6: ['B', 'C', 'D'],
    q7: ['A', 'D'],
    q8: ['A', 'B', 'D', 'E'],
    q9: ['A', 'B', 'E'],
    q10: ['A', 'B', 'C', 'D', 'E'],
    q11: ['A', 'C', 'D'],
    q12: ['A', 'E'],
    q13: ['A', 'B', 'C', 'E'],
    q14: ['B', 'C', 'D', 'E'],
    q15: ['A', 'B', 'C', 'E'],
    q16: ['A', 'B', 'D'],
    q17: ['A', 'B', 'C', 'E'],
    q18: ['B', 'D'],
    q19: ['B', 'D', 'E'],
    q20: ['D'],
    q21: ['B', 'C'],
    q22: ['B', 'D'],
    q23: ['A', 'B', 'C'],
    q24: ['B', 'D'],
    q25: ['B', 'C', 'E'],
};

let userAnswers = {}; // Stocke les réponses de l'utilisateur
let loadedAnswers = {}; // Stocke les réponses chargées pour l'évaluation

// Charger les réponses utilisateur
function loadUserAnswersFromChimie() {
    const savedAnswers = JSON.parse(localStorage.getItem('userAnswersADC2022'));

    if (savedAnswers) {
        loadedAnswers = savedAnswers; // Stocker les réponses dans la variable globale
        for (const [questionName, answerData] of Object.entries(savedAnswers)) {
            const questionDiv = document.querySelector(`input[name="${questionName}"]`)?.closest('.question-container');
            if (!questionDiv) continue;

            // Appliquer les styles pour les bonnes réponses
            correctAnswers[questionName]?.forEach(correctAnswer => {
                const correctLi = questionDiv.querySelector(`input[value="${correctAnswer}"]`)?.closest('li');
                if (correctLi) {
                    correctLi.style.color = 'green';
                    correctLi.style.fontWeight = 'bold';
                    correctLi.style.textShadow = '1px 1px 2px rgba(0, 0, 0, 0.5)';
                }
            });

            // Appliquer les styles pour les réponses sélectionnées
            answerData.selected.forEach(selectedAnswer => {
                const selectedLi = questionDiv.querySelector(`input[value="${selectedAnswer}"]`)?.closest('li');
                if (selectedLi) {
                    selectedLi.style.color = correctAnswers[questionName]?.includes(selectedAnswer) ? 'lightgreen' : 'red';
                }
            });

            // Désactiver les cases après chargement
            questionDiv.querySelectorAll('input').forEach(input => (input.disabled = true));
        }
    }
}

// Générer les cercles pour les questions
function generateCircles() {
    const totalQuestions = Object.keys(correctAnswers).length;
    const circleContainer = document.getElementById('circle-container');

    for (let i = 1; i <= totalQuestions; i++) {
        const circle = document.createElement('div');
        circle.classList.add('circle', 'yellow'); // Couleur par défaut : jaune
        circle.innerText = i;

        circle.onclick = function () {
            scrollToQuestion(i);
        };

        circleContainer.appendChild(circle);
    }
}

// Mettre à jour les cercles après évaluation
function updateCircles() {
    const circles = document.querySelectorAll('.circle');
    let totalCorrectCircles = 0; // Compteur pour les réponses correctes
    for (let i = 1; i <= Object.keys(correctAnswers).length; i++) {
        const selectedAnswers = loadedAnswers[`q${i}`]?.selected || [];
        const circle = circles[i - 1];

        if (JSON.stringify(correctAnswers[`q${i}`]?.sort()) === JSON.stringify(selectedAnswers.sort())) {
            circle.classList.add('green');
            circle.classList.remove('yellow', 'red');
            totalCorrectCircles++;
        } else if (selectedAnswers.length > 0) {
            circle.classList.add('red');
            circle.classList.remove('yellow', 'green');
        } else {
            circle.classList.add('yellow');
            circle.classList.remove('green', 'red');
        }
    }

    // Mettre à jour la note avec le nombre de cercles verts
    document.getElementById('score').textContent = `${totalCorrectCircles} / ${Object.keys(correctAnswers).length}`;
}

// Défiler jusqu'à une question spécifique
function scrollToQuestion(questionNumber) {
    const questionDiv = document.getElementById(`question-${questionNumber}`);
    if (questionDiv) {
        questionDiv.scrollIntoView({ behavior: 'smooth' });
    }
}

// Charger les réponses et générer les cercles au chargement de la page
window.onload = function () {
    document.getElementById('total-questions').textContent = Object.keys(correctAnswers).length; // Nombre total de questions
    loadUserAnswersFromChimie();
    generateCircles();
    updateCircles();
};




    </script>
</body>
</html>
<script src="{% static 'java/question-stats.js' %}" defer></script>
<script src="{% static 'java/sidebar.js' %}"></script>
<script src="{% static 'java/navbar.js' %}"></script>