<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Luck - Syntanatomie 2022</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

{% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesynt.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylenavbar1.css' %}">


</head>
<body>





<div class="navbar">
    <span class="logo">QuizLuck</span>
    <!-- Bouton pour ouvrir complètement la barre latérale -->
<div class="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
</div>

    <div class="user-menu">
        <div class="user-profile" onclick="toggleMenu()">
            <span class="profile-icon">👤</span>
            <span class="user-name">Bonjour, {{ user_full_name}} !</span>
            <span class="dropdown-arrow">▼</span>
        </div>
        <ul class="dropdown-menu" id="dropdown-menu">
            <li><a href="#" onclick="openAccountModal()">Mon Compte</a></li>
            <li>
                <a href="{% url 'login' %}">
                    <i class="fas fa-sign-out-alt"></i> Déconnexion
                </a>
            </li>
        </ul>
    </div>

</div>

<!-- Pop-up Modifier Mon Compte -->
<div id="account-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Modifier Mon compte</h3>
            <span class="close-btn" onclick="closeAccountModal()">&times;</span>
        </div>
        <div class="modal-body">
            <form id="account-form">
                {% csrf_token %}
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" name="username" value="{{ user_full_name}}" required>
<!-- Champ caché contenant la date de naissance -->
<input type="hidden" id="profile-dob" value="{{ request.user.profile.birth_date|date:'Y-m-d' }}">

                <label for="dob">Date de naissance :</label>
                <input type="date" id="dob" name="dob" value="{{ user.dob|date:'Y-m-d' }}">

                <label for="password">Nouveau mot de passe :</label>
                <input type="password" id="password" name="password" placeholder="Nouveau mot de passe">

                <label for="confirm-password">Répéter le mot de passe :</label>
                <input type="password" id="confirm-password" name="confirm_password" placeholder="Répéter le mot de passe">

                <button type="button" id="submit-form" class="btn-primary">Modifier</button>
            </form>
        </div>
    </div>
</div>

<!-- Pop-up Message -->
<div id="success-popup" class="popup">
    <div class="popup-content">
        <p id="popup-message"></p>
        <button onclick="closePopup()">OK</button>
    </div>
</div>


<div class="sidebar open" id="sidebar">

    <!-- Section Accueil -->
    <h3><i class="fas fa-home"></i> Accueil</h3>
    <ul>
        <li><a href="{% url 'home' %}"><i class="fas fa-arrow-circle-left"></i> Retourner à l'accueil</a></li>
    </ul>

    <!-- Section Modes -->
    <h3><i class="fas fa-gamepad"></i> Modes</h3>
    <ul>
        <li><a href="{% url 'start_challenge' %}"><i class="fas fa-bolt"></i> Mode Challenge</a></li>
	<li><a href="{% url 'revision' %}"><i class="fas fa-book"></i> Mode Révision</a></li>
        <li><a href="{% url 'resultats' %}"><i class="fas fa-chart-line"></i> Vos Résultats</a></li>
    </ul>

<!-- Section Vos Modules -->
<h3><i class="fas fa-folder"></i> Vos Modules</h3>
<div id="sidebar-semesters">
    <ul>
        {% for semester, modules in data.items %}
            <li>
                <span class="semester-title">
                    <i class="fas fa-graduation-cap"></i> {{ semester }}
                    <span class="toggle-arrow">▶</span> <!-- Flèche pour masquer/afficher -->
                </span>
                <ul class="modules-list hidden"> <!-- Liste masquée par défaut -->
                    {% for module in modules %}
                        <li>
                            <!-- Affiche uniquement la description -->
                            <a href="/{{ semester }}/{{ module.name }}/">
                                <i class="fas fa-book"></i> {{ module.description }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>




    <!-- Bouton Déconnexion -->
    <div class="logout-icon">
        <a href="{% url 'login' %}">
            <i class="fas fa-sign-out-alt"></i> Déconnexion
        </a>
    </div>
</div>


    <div id="content">

<div id="score-container" class="score-container">
    <h3>Note : <span id="score">0 / <span id="total-questions"</span></h3>
</div>


        <div class="quiz-title">
            <h1>Resultats detail</h1>
    </div>

         <!-- Conteneur des cercles -->
    <div class="circle-container" id="circle-container">
        <!-- Les cercles seront générés ici par JavaScript -->
    </div>

            <div class="quiz-title">
                <h1>QCM Anatomie 1</h1>
            </div>
            <form id="quiz-form">
<input type="hidden" name="file_name" value="HMT2023">
    
        <div id="question-1" class="question-container">
            <div class="question">
                <p>1.) Un patient de 40 ans, est admis aux urgences suite à un accident de la voie publique, l'examen clinique retrouve une pâleur cutanéo-muqueuse avec un état hémodynamique stable, poids : 60 kg. L'hémogramme réalisé en urgence : hémoglobine à 6 g/dl normochrome normocytaire, globules blancs et plaquettes normaux. La décision de transfusion de culots globulaires est posée. Parmi les examens suivants, le(s)quel(s) est (sont) indiqués pour le bilan pré-transfusionnel ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q1a" name="q1" value="A"> A- Groupage sanguin</li>
            
                    <li><input type="checkbox" id="q1b" name="q1" value="B"> B- Test de coombs direct</li>
            
                    <li><input type="checkbox" id="q1c" name="q1" value="C"> C- Phénotypage rhésus kell</li>
            
                    <li><input type="checkbox" id="q1d" name="q1" value="D"> D- Test de coombs indirect</li>
            
                    <li><input type="checkbox" id="q1e" name="q1" value="E"> E- Phénotype élargi</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-2" class="question-container">
            <div class="question">
                <p>2.) Le patient est de groupe B positif CC Ee Kell négatif, le patient aura besoin de : Quelles sont les propositions justes ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q2a" name="q2" value="A"> A- 1 culot globulaire B positif</li>
            
                    <li><input type="checkbox" id="q2b" name="q2" value="B"> B- 3 culot globulaire B positif</li>
            
                    <li><input type="checkbox" id="q2c" name="q2" value="C"> C- 5 culot globulaire B positif</li>
            
                    <li><input type="checkbox" id="q2d" name="q2" value="D"> D- 3 culots globulaire O positif</li>
            
                    <li><input type="checkbox" id="q2e" name="q2" value="E"> E- 3 culots globulaires AB positif</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-3" class="question-container">
            <div class="question">
                <p>3.) Après le début de la transfusion, le patient a présenté une température à 38.7° avec frissons et diarrhée. Quelle sera votre conduite à tenir en urgence ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q3a" name="q3" value="A"> A- Prélèvements bactériologiques du patient et de la poche</li>
            
                    <li><input type="checkbox" id="q3b" name="q3" value="B"> B- Il faut continuer la transfusion</li>
            
                    <li><input type="checkbox" id="q3c" name="q3" value="C"> C- Il faut ralentir le débit de la transfusion</li>
            
                    <li><input type="checkbox" id="q3d" name="q3" value="D"> D- Il faut arrêter la transfusion</li>
            
                    <li><input type="checkbox" id="q3e" name="q3" value="E"> E- Il faut avertir les correspondants d'hémovigilance</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-4" class="question-container">
            <div class="question">
                <p>4.) Les règles de sécurité transfusionnelle nécessitent :</p>
                <ul>
        
                    <li><input type="checkbox" id="q4a" name="q4" value="A"> A- La vérification de l'intégrité de la poche</li>
            
                    <li><input type="checkbox" id="q4b" name="q4" value="B"> B- Le respect de 52 jours pour la conservation de culots globulaires</li>
            
                    <li><input type="checkbox" id="q4c" name="q4" value="C"> C- La réalisation de la carte du contrôle ultime pré transfusionnel au lit du malade pour la première poche uniquement</li>
            
                    <li><input type="checkbox" id="q4d" name="q4" value="D"> D- La conservation des concentrés de globules rouges en agitation</li>
            
                    <li><input type="checkbox" id="q4e" name="q4" value="E"> E- La conservation des concentrés de globules rouges à -40°C</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-5" class="question-container">
            <div class="question">
                <p>5.) Concernant la transfusion de concentré plaquettaire, quelle(s) est(sont) la(les) affirmation(s) exacte(s) ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q5a" name="q5" value="A"> A- Un concentré plaquettaire d'aphérèse correspond à un pool de différents donneurs</li>
            
                    <li><input type="checkbox" id="q5b" name="q5" value="B"> B- La recherche d'agglutinines irrégulière est systématique</li>
            
                    <li><input type="checkbox" id="q5c" name="q5" value="C"> C- La réalisation du test de coombs direct est systématique</li>
            
                    <li><input type="checkbox" id="q5d" name="q5" value="D"> D- Elle nécessite la réalisation d'un test de Beth-Vincent (test ultime au lit du malade)</li>
            
                    <li><input type="checkbox" id="q5e" name="q5" value="E"> E- Un concentré plaquettaire d'aphérèse correspond à un pool provenant d'un seul donneur</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-6" class="question-container">
            <div class="question">
                <p>6.) Un homme de 60 ans est hospitalisé pour altération de l'état général avec fièvre évoluant depuis 3 mois. L'examen clinique retrouve des adénopathies cervicales bilatérales (2-4 cm) chacune avec une splénomégalie à 3 cm de débord. Pour poser le diagnostic étiologique, il faut réaliser</p>
                <ul>
        
                    <li><input type="checkbox" id="q6a" name="q6" value="A"> A- Une échographie abdominale pelvienne</li>
            
                    <li><input type="checkbox" id="q6b" name="q6" value="B"> B- Un typage sanguin</li>
            
                    <li><input type="checkbox" id="q6c" name="q6" value="C"> C- Une échographie des ganglions</li>
            
                    <li><input type="checkbox" id="q6d" name="q6" value="D"> D- Une Cytoponction</li>
            
                    <li><input type="checkbox" id="q6e" name="q6" value="E"> E- Un traitement par les corticoïdes</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-7" class="question-container">
            <div class="question">
                <p>7.) Parmi les propositions suivantes, quelle est celle qui correspond au stade III B du lymphome hodgkinien ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q7a" name="q7" value="A"> A- Atteinte de 2 aires ganglionnaires contigus d'un même côté du diaphragme</li>
            
                    <li><input type="checkbox" id="q7b" name="q7" value="B"> B- Atteinte cervicale et axillaire bilatérales</li>
            
                    <li><input type="checkbox" id="q7c" name="q7" value="C"> C- Atteinte sus et sous-diaphragmatiques avec signes généraux</li>
            
                    <li><input type="checkbox" id="q7d" name="q7" value="D"> D- Atteinte viscérale à distance d'une atteinte ganglionnaire</li>
            
                    <li><input type="checkbox" id="q7e" name="q7" value="E"> E- Atteinte viscérale avec signes généraux</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-8" class="question-container">
            <div class="question">
                <p>8.) Le bilan d'extension du lymphome Hodgkinien :</p>
                <ul>
        
                    <li><input type="checkbox" id="q8a" name="q8" value="A"> A- La tomographie par émission de positons (TEP-FDG) permet une imagerie anatomique</li>
            
                    <li><input type="checkbox" id="q8b" name="q8" value="B"> B- La tomographie par émission de positons (TEP-FDG) permet une imagerie métabolique</li>
            
                    <li><input type="checkbox" id="q8c" name="q8" value="C"> C- La tomographie par émission de positons (TEP-FDG) permet une évaluation précise</li>
            
                    <li><input type="checkbox" id="q8d" name="q8" value="D"> D- La tomographie par émission de positons (TEP-FDG) permet une rectification</li>
            
                    <li><input type="checkbox" id="q8e" name="q8" value="E"> E- La tomographie par émission de positons (TEP-FDG) n'a pas d'intérêt dans la masse résiduelle</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-9" class="question-container">
            <div class="question">
                <p>9.) Un homme de 65 ans consulte pour une altération de l'état général, des douleurs osseuses rebelles aux antalgiques. Au bilan : anémie à 8 g/dl normochrome normocytaire arégénérative, globules blancs et plaquettes normaux, Vitesse de sédimentation à 100 mm à la première heure. Quel(s) examen(s) demandez-vous en premier ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q9a" name="q9" value="A"> A- Electrophorèse des protides sériques</li>
            
                    <li><input type="checkbox" id="q9b" name="q9" value="B"> B- Bilan rénal</li>
            
                    <li><input type="checkbox" id="q9c" name="q9" value="C"> C- Bilan hépatique</li>
            
                    <li><input type="checkbox" id="q9d" name="q9" value="D"> D- Myélogramme</li>
            
                    <li><input type="checkbox" id="q9e" name="q9" value="E"> E- Bilan phosphocalcique</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-10" class="question-container">
            <div class="question">
                <p>10.) Dans la forme typique du myélome multiple, on observe :</p>
                <ul>
        
                    <li><input type="checkbox" id="q10a" name="q10" value="A"> A- Une hypergammaglobulinémie</li>
            
                    <li><input type="checkbox" id="q10b" name="q10" value="B"> B- Une hyperéosinophilie</li>
            
                    <li><input type="checkbox" id="q10c" name="q10" value="C"> C- Une hypercalciurie médullaire</li>
            
                    <li><input type="checkbox" id="q10d" name="q10" value="D"> D- Une basophilie</li>
            
                    <li><input type="checkbox" id="q10e" name="q10" value="E"> E- Une splénomégalie</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-11" class="question-container">
            <div class="question">
                <p>11.) Les anémies hémolytiques auto- immunes (AHAI), sont des anémies :</p>
                <ul>
        
                    <li><input type="checkbox" id="q11a" name="q11" value="A"> A- Normochromes macrocytaires régénératives</li>
            
                    <li><input type="checkbox" id="q11b" name="q11" value="B"> B- Normochromes macrocytaires arégénératives</li>
            
                    <li><input type="checkbox" id="q11c" name="q11" value="C"> C- Avec un test de coombs direct négatif</li>
            
                    <li><input type="checkbox" id="q11d" name="q11" value="D"> D- Avec un test de coombs direct positif</li>
            
                    <li><input type="checkbox" id="q11e" name="q11" value="E"> E- Dont le bilan étiologique est toujours positif</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-12" class="question-container">
            <div class="question">
                <p>12.) La classification des AHAI dépend de :</p>
                <ul>
        
                    <li><input type="checkbox" id="q12a" name="q12" value="A"> A- Siège de l'hémolyse</li>
            
                    <li><input type="checkbox" id="q12b" name="q12" value="B"> B- Âge</li>
            
                    <li><input type="checkbox" id="q12c" name="q12" value="C"> C- Sexe</li>
            
                    <li><input type="checkbox" id="q12d" name="q12" value="D"> D- Type d'anticorps</li>
            
                    <li><input type="checkbox" id="q12e" name="q12" value="E"> E- Existence ou non d'une étiologie</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-13" class="question-container">
            <div class="question">
                <p>13.) La thrombopénie immunologique (TI) :</p>
                <ul>
        
                    <li><input type="checkbox" id="q13a" name="q13" value="A"> A- Peut être primaire ou secondaire</li>
            
                    <li><input type="checkbox" id="q13b" name="q13" value="B"> B- Dite nouvellement diagnostiquée si l'évolution est de moins de 6 mois</li>
            
                    <li><input type="checkbox" id="q13c" name="q13" value="C"> C- Dite nouvellement diagnostiquée si l'évolution est de plus de 3 mois</li>
            
                    <li><input type="checkbox" id="q13d" name="q13" value="D"> D- Dite persistante entre 6 et 12 mois du diagnostic</li>
            
                    <li><input type="checkbox" id="q13e" name="q13" value="E"> E- Dite chronique au-delà de 6 mois du diagnostic</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-14" class="question-container">
            <div class="question">
                <p>14.) L'indication du traitement de la thrombopénie immunologique (TI), dépend :</p>
                <ul>
        
                    <li><input type="checkbox" id="q14a" name="q14" value="A"> A- De l'ancienneté de la TI</li>
            
                    <li><input type="checkbox" id="q14b" name="q14" value="B"> B- Du terrain</li>
            
                    <li><input type="checkbox" id="q14c" name="q14" value="C"> C- Du taux de plaquettes</li>
            
                    <li><input type="checkbox" id="q14d" name="q14" value="D"> D- Du type de l'anticorps</li>
            
                    <li><input type="checkbox" id="q14e" name="q14" value="E"> E- Du score hémorragique</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-15" class="question-container">
            <div class="question">
                <p>15.) La phase accélérée de la leucémie myéloïde chronique (LMC) est caractérisée par :</p>
                <ul>
        
                    <li><input type="checkbox" id="q15a" name="q15" value="A"> A- Taux de blastes : 10-19% dans le sang et/ou Moelle</li>
            
                    <li><input type="checkbox" id="q15b" name="q15" value="B"> B- Taux de blastes ≥20% dans le sang et/ou Moelle</li>
            
                    <li><input type="checkbox" id="q15c" name="q15" value="C"> C- Basophiles sanguines ≥20%</li>
            
                    <li><input type="checkbox" id="q15d" name="q15" value="D"> D- Taux de plaquettes <100 G/l</li>
            
                    <li><input type="checkbox" id="q15e" name="q15" value="E"> E- Augmentation de la splénomégalie</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-16" class="question-container">
            <div class="question">
                <p>16.) La Polyglobulie de Vaquez (PV) est définie selon les critères OMS 2016, par :</p>
                <ul>
        
                    <li><input type="checkbox" id="q16a" name="q16" value="A"> A- Un taux Hb > 16,5 g/dl et Ht > à 49% chez l'homme</li>
            
                    <li><input type="checkbox" id="q16b" name="q16" value="B"> B- Un taux Hb > 18 g/dl et Ht > à 54 % chez l'homme</li>
            
                    <li><input type="checkbox" id="q16c" name="q16" value="C"> C- Un taux Hb > 16 g/dl et Ht > à 48 % chez la femme</li>
            
                    <li><input type="checkbox" id="q16d" name="q16" value="D"> D- Un taux Hb >17,5 g/dl et Ht > à 50% chez la femme</li>
            
                    <li><input type="checkbox" id="q16e" name="q16" value="E"> E- Aucune réponse</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-17" class="question-container">
            <div class="question">
                <p>17.) Les anémies par carences en fer, se caractérisent par :</p>
                <ul>
        
                    <li><input type="checkbox" id="q17a" name="q17" value="A"> A- Le mode d'installation aigu</li>
            
                    <li><input type="checkbox" id="q17b" name="q17" value="B"> B- Souvent mal tolérées</li>
            
                    <li><input type="checkbox" id="q17c" name="q17" value="C"> C- La nécessité de recours à la transfusion de culots globulaires</li>
            
                    <li><input type="checkbox" id="q17d" name="q17" value="D"> D- L'importance de retrouver une cause sous jacente</li>
            
                    <li><input type="checkbox" id="q17e" name="q17" value="E"> E- Un traitement par supplémentation en fer</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-18" class="question-container">
            <div class="question">
                <p>18.) Quel est le premier bilan à demander pour la conduite diagnostique :</p>
                <ul>
        
                    <li><input type="checkbox" id="q18a" name="q18" value="A"> A- Le myélogramme</li>
            
                    <li><input type="checkbox" id="q18b" name="q18" value="B"> B- Le dosage de la ferritinémie</li>
            
                    <li><input type="checkbox" id="q18c" name="q18" value="C"> C- Le dosage de la vitamine B12 et la vitamine 9</li>
            
                    <li><input type="checkbox" id="q18d" name="q18" value="D"> D- Le dosage du taux des réticulocytes</li>
            
                    <li><input type="checkbox" id="q18e" name="q18" value="E"> E- Un bilan d'hémolyse</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-19" class="question-container">
            <div class="question">
                <p>19.) Dans les anémies mégaloblastiques :</p>
                <ul>
        
                    <li><input type="checkbox" id="q19a" name="q19" value="A"> A- Le myélogramme montre un gigantisme cellulaire</li>
            
                    <li><input type="checkbox" id="q19b" name="q19" value="B"> B- Le frottis sanguin montre des macro-ovalocytes</li>
            
                    <li><input type="checkbox" id="q19c" name="q19" value="C"> C- Le dosage de la vitamine B12 et vitamine B9 confirme le diagnostic</li>
            
                    <li><input type="checkbox" id="q19d" name="q19" value="D"> D- Une fibroscopie gastrique est recommandée dans la carence en vit B9</li>
            
                    <li><input type="checkbox" id="q19e" name="q19" value="E"> E- Les taux des plaquettes et des globules blancs peuvent être bas</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-20" class="question-container">
            <div class="question">
                <p>20.) La sphérocytose héréditaire est :</p>
                <ul>
        
                    <li><input type="checkbox" id="q20a" name="q20" value="A"> A- Est une anémie hémolytique acquise</li>
            
                    <li><input type="checkbox" id="q20b" name="q20" value="B"> B- Est due à un déficit enzymatique</li>
            
                    <li><input type="checkbox" id="q20c" name="q20" value="C"> C- Est due à une anomalie de la membrane érythrocytaire</li>
            
                    <li><input type="checkbox" id="q20d" name="q20" value="D"> D- Appelée aussi 'favisme'</li>
            
                    <li><input type="checkbox" id="q20e" name="q20" value="E"> E- Est de transmission autosomique dominante dans 75% des cas</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-21" class="question-container">
            <div class="question">
                <p>21.) Un enfant âgé de 3 ans sans ATCD pathologique particulier se présente aux urgences pour un syndrome hémorragique sévère post circoncision depuis 3 jours, le médecin a demandé ce bilan :</p>
                <ul>
        
                    <li><input type="checkbox" id="q21a" name="q21" value="A"> A- Anémie hypochrome microcytaire</li>
            
                    <li><input type="checkbox" id="q21b" name="q21" value="B"> B- Anémie normochrome normocytaire</li>
            
                    <li><input type="checkbox" id="q21c" name="q21" value="C"> C- Bilan d'hémostase normal</li>
            
                    <li><input type="checkbox" id="q21d" name="q21" value="D"> D- TCA allongé, TP normal, Fibrinogène normal</li>
            
                    <li><input type="checkbox" id="q21e" name="q21" value="E"> E- TCA allongé, TP allongé, fibrinogène normal</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-22" class="question-container">
            <div class="question">
                <p>22.) Quel est le diagnostic le plus probable chez lui ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q22a" name="q22" value="A"> A- CIVD post cirurgicale</li>
            
                    <li><input type="checkbox" id="q22b" name="q22" value="B"> B- Maladie de Willebrand</li>
            
                    <li><input type="checkbox" id="q22c" name="q22" value="C"> C- Maladie hémophiliaque constitutionnelle</li>
            
                    <li><input type="checkbox" id="q22d" name="q22" value="D"> D- Leucémie aiguë</li>
            
                    <li><input type="checkbox" id="q22e" name="q22" value="E"> E- Hémorragie massive post circoncision</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-23" class="question-container">
            <div class="question">
                <p>23.) Quels sont les examens à demander pour confirmer votre diagnostic ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q23a" name="q23" value="A"> A- Dosage du facteur VIII</li>
            
                    <li><input type="checkbox" id="q23b" name="q23" value="B"> B- Dosage du facteur de willebrand</li>
            
                    <li><input type="checkbox" id="q23c" name="q23" value="C"> C- Mesure des facteurs VIII et IX de la coagulation</li>
            
                    <li><input type="checkbox" id="q23d" name="q23" value="D"> D- Myélogramme</li>
            
                    <li><input type="checkbox" id="q23e" name="q23" value="E"> E- Exploration chirurgicale</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-24" class="question-container">
            <div class="question">
                <p>24.) Interpréter l'hémogramme.</p>
                <ul>
        
                    <li><input type="checkbox" id="q24a" name="q24" value="A"> A- Anémie hypochrome microcytaire</li>
            
                    <li><input type="checkbox" id="q24b" name="q24" value="B"> B- Pancytopénie</li>
            
                    <li><input type="checkbox" id="q24c" name="q24" value="C"> C- Thrombocytose</li>
            
                    <li><input type="checkbox" id="q24d" name="q24" value="D"> D- Hyperlymphocytose</li>
            
                    <li><input type="checkbox" id="q24e" name="q24" value="E"> E- Présence de blastes périphériques</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-25" class="question-container">
            <div class="question">
                <p>25.) Quel est le diagnostic que vous évoquez ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q25a" name="q25" value="A"> A- Anémie sidéropénique</li>
            
                    <li><input type="checkbox" id="q25b" name="q25" value="B"> B- Infection</li>
            
                    <li><input type="checkbox" id="q25c" name="q25" value="C"> C- Leucémie aiguë</li>
            
                    <li><input type="checkbox" id="q25d" name="q25" value="D"> D- Leucémie lymphoïde chronique</li>
            
                    <li><input type="checkbox" id="q25e" name="q25" value="E"> E- Anémie mégaloblastique</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-26" class="question-container">
            <div class="question">
                <p>26.) Quelle est votre conduite à tenir ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q26a" name="q26" value="A"> A- Antibiothérapie per os à domicile et suivi</li>
            
                    <li><input type="checkbox" id="q26b" name="q26" value="B"> B- Hospitalisation, myélogramme, caryotype et immunophénotypage</li>
            
                    <li><input type="checkbox" id="q26c" name="q26" value="C"> C- Confirmation du diagnostic puis traitement étiologique</li>
            
                    <li><input type="checkbox" id="q26d" name="q26" value="D"> D- Abstention thérapeutique</li>
            
                    <li><input type="checkbox" id="q26e" name="q26" value="E"> E- Transfusion en culots globulaires et culots plaquettaires</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-27" class="question-container">
            <div class="question">
                <p>27.) La coagulation intravasculaire disséminée se définit par :</p>
                <ul>
        
                    <li><input type="checkbox" id="q27a" name="q27" value="A"> A- La thrombopénie</li>
            
                    <li><input type="checkbox" id="q27b" name="q27" value="B"> B- L'anémie</li>
            
                    <li><input type="checkbox" id="q27c" name="q27" value="C"> C- Un TCA allongé</li>
            
                    <li><input type="checkbox" id="q27d" name="q27" value="D"> D- Un TP bas</li>
            
                    <li><input type="checkbox" id="q27e" name="q27" value="E"> E- Une hypofibrinogénémie</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-28" class="question-container">
            <div class="question">
                <p>28.) La leucémie lymphoïde chronique se caractérise par ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q28a" name="q28" value="A"> A- Sa fréquence chez le sujet âgé</li>
            
                    <li><input type="checkbox" id="q28b" name="q28" value="B"> B- Le syndrome tumoral</li>
            
                    <li><input type="checkbox" id="q28c" name="q28" value="C"> C- L'évolution chronique</li>
            
                    <li><input type="checkbox" id="q28d" name="q28" value="D"> D- La prédominance chez la femme</li>
            
                    <li><input type="checkbox" id="q28e" name="q28" value="E"> E- Sa survenue chez l'enfant</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-29" class="question-container">
            <div class="question">
                <p>29.) Le diagnostic de confirmation de la leucémie lymphoïde chronique repose sur ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q29a" name="q29" value="A"> A- Le frottis sanguin</li>
            
                    <li><input type="checkbox" id="q29b" name="q29" value="B"> B- L'immunophénotypage sanguin</li>
            
                    <li><input type="checkbox" id="q29c" name="q29" value="C"> C- Myélogramme</li>
            
                    <li><input type="checkbox" id="q29d" name="q29" value="D"> D- Le caryotype</li>
            
                    <li><input type="checkbox" id="q29e" name="q29" value="E"> E- La biologie moléculaire</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-30" class="question-container">
            <div class="question">
                <p>30.) La thalassémie est caractérisée par :</p>
                <ul>
        
                    <li><input type="checkbox" id="q30a" name="q30" value="A"> A- Une hémolyse chronique</li>
            
                    <li><input type="checkbox" id="q30b" name="q30" value="B"> B- Une anémie</li>
            
                    <li><input type="checkbox" id="q30c" name="q30" value="C"> C- Des besoins transfusionnels dans la forme homozygote</li>
            
                    <li><input type="checkbox" id="q30d" name="q30" value="D"> D- Une splénomégalie</li>
            
                    <li><input type="checkbox" id="q30e" name="q30" value="E"> E- Toutes les réponses sont justes</li>
            
                </ul>
            </div>
            
        </div>
        
            

            

            
                
                
                
            </div>
<button type="button" class="reset-quiz-button" onclick="window.location.href = '{% url "dynamic_view" "S7" "Cancerologie_Hematologie" "HMT2023" %}';">Réessayer tout le Quiz</button>

            <div id="details-section" class="details-section" style="display: none;">
                <h3>Tableau des questions</h3>
                <div class="question-links" id="question-links"></div>
            </div>

            
    
            <script>
const correctAnswers = {
    q1: ['A', 'C', 'D'],
    q2: ['B', 'D'],
    q3: ['A', 'D', 'E'],
    q4: ['A'],
    q5: ['E'],
    q6: ['C'],
    q7: ['C'],
    q8: ['B', 'C', 'D'],
    q9: ['A', 'B', 'D', 'E'],
    q10: ['A'],
    q11: ['A', 'B'],
    q12: ['A', 'B', 'E'],
    q13: ['A', 'C'],
    q14: ['A', 'B', 'C', 'E'],
    q15: ['A', 'C', 'D', 'E'],
    q16: ['A', 'C'],
    q17: ['D', 'E'],
    q18: ['D'],
    q19: ['A', 'B', 'C', 'E'],
    q20: ['C', 'E'],
    q21: ['A', 'D'],
    q22: ['C'],
    q23: ['C'],
    q24: ['B', 'E'],
    q25: ['C'],
    q26: ['B', 'C', 'E'],
    q27: ['A', 'C', 'D', 'E'],
    q28: ['A', 'B', 'C'],
    q29: ['B'],
    q30: ['A', 'B', 'C', 'D', 'E'],
};

let userAnswers = {}; // Stocke les réponses de l'utilisateur
let loadedAnswers = {}; // Stocke les réponses chargées pour l'évaluation

// Charger les réponses utilisateur
function loadUserAnswersFromChimie() {
    const savedAnswers = JSON.parse(localStorage.getItem('userAnswersHMT2023'));

    if (savedAnswers) {
        loadedAnswers = savedAnswers; // Stocker les réponses dans la variable globale
        for (const [questionName, answerData] of Object.entries(savedAnswers)) {
            const questionDiv = document.querySelector(`input[name="${questionName}"]`)?.closest('.question-container');
            if (!questionDiv) continue;

            // Appliquer les styles pour les bonnes réponses
            correctAnswers[questionName]?.forEach(correctAnswer => {
                const correctLi = questionDiv.querySelector(`input[value="${correctAnswer}"]`)?.closest('li');
                if (correctLi) {
                    correctLi.style.color = 'green';
                    correctLi.style.fontWeight = 'bold';
                    correctLi.style.textShadow = '1px 1px 2px rgba(0, 0, 0, 0.5)';
                }
            });

            // Appliquer les styles pour les réponses sélectionnées
            answerData.selected.forEach(selectedAnswer => {
                const selectedLi = questionDiv.querySelector(`input[value="${selectedAnswer}"]`)?.closest('li');
                if (selectedLi) {
                    selectedLi.style.color = correctAnswers[questionName]?.includes(selectedAnswer) ? 'lightgreen' : 'red';
                }
            });

            // Désactiver les cases après chargement
            questionDiv.querySelectorAll('input').forEach(input => (input.disabled = true));
        }
    }
}

// Générer les cercles pour les questions
function generateCircles() {
    const totalQuestions = Object.keys(correctAnswers).length;
    const circleContainer = document.getElementById('circle-container');

    for (let i = 1; i <= totalQuestions; i++) {
        const circle = document.createElement('div');
        circle.classList.add('circle', 'yellow'); // Couleur par défaut : jaune
        circle.innerText = i;

        circle.onclick = function () {
            scrollToQuestion(i);
        };

        circleContainer.appendChild(circle);
    }
}

// Mettre à jour les cercles après évaluation
function updateCircles() {
    const circles = document.querySelectorAll('.circle');
    let totalCorrectCircles = 0; // Compteur pour les réponses correctes
    for (let i = 1; i <= Object.keys(correctAnswers).length; i++) {
        const selectedAnswers = loadedAnswers[`q${i}`]?.selected || [];
        const circle = circles[i - 1];

        if (JSON.stringify(correctAnswers[`q${i}`]?.sort()) === JSON.stringify(selectedAnswers.sort())) {
            circle.classList.add('green');
            circle.classList.remove('yellow', 'red');
            totalCorrectCircles++;
        } else if (selectedAnswers.length > 0) {
            circle.classList.add('red');
            circle.classList.remove('yellow', 'green');
        } else {
            circle.classList.add('yellow');
            circle.classList.remove('green', 'red');
        }
    }

    // Mettre à jour la note avec le nombre de cercles verts
    document.getElementById('score').textContent = `${totalCorrectCircles} / ${Object.keys(correctAnswers).length}`;
}

// Défiler jusqu'à une question spécifique
function scrollToQuestion(questionNumber) {
    const questionDiv = document.getElementById(`question-${questionNumber}`);
    if (questionDiv) {
        questionDiv.scrollIntoView({ behavior: 'smooth' });
    }
}

// Charger les réponses et générer les cercles au chargement de la page
window.onload = function () {
    document.getElementById('total-questions').textContent = Object.keys(correctAnswers).length; // Nombre total de questions
    loadUserAnswersFromChimie();
    generateCircles();
    updateCircles();
};




    </script>
</body>
</html>
<script src="{% static 'java/question-stats.js' %}" defer></script>
<script src="{% static 'java/sidebar.js' %}"></script>
<script src="{% static 'java/navbar.js' %}"></script>