<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Luck - Syntanatomie 2022</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

{% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesynt.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylenavbar1.css' %}">


</head>
<body>





<div class="navbar">
    <span class="logo">QuizLuck</span>
    <!-- Bouton pour ouvrir complètement la barre latérale -->
<div class="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
</div>

    <div class="user-menu">
        <div class="user-profile" onclick="toggleMenu()">
            <span class="profile-icon">👤</span>
            <span class="user-name">Bonjour, {{ user_full_name}} !</span>
            <span class="dropdown-arrow">▼</span>
        </div>
        <ul class="dropdown-menu" id="dropdown-menu">
            <li><a href="#" onclick="openAccountModal()">Mon Compte</a></li>
            <li>
                <a href="{% url 'login' %}">
                    <i class="fas fa-sign-out-alt"></i> Déconnexion
                </a>
            </li>
        </ul>
    </div>

</div>

<!-- Pop-up Modifier Mon Compte -->
<div id="account-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Modifier Mon compte</h3>
            <span class="close-btn" onclick="closeAccountModal()">&times;</span>
        </div>
        <div class="modal-body">
            <form id="account-form">
                {% csrf_token %}
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" name="username" value="{{ user_full_name}}" required>
<!-- Champ caché contenant la date de naissance -->
<input type="hidden" id="profile-dob" value="{{ request.user.profile.birth_date|date:'Y-m-d' }}">

                <label for="dob">Date de naissance :</label>
                <input type="date" id="dob" name="dob" value="{{ user.dob|date:'Y-m-d' }}">

                <label for="password">Nouveau mot de passe :</label>
                <input type="password" id="password" name="password" placeholder="Nouveau mot de passe">

                <label for="confirm-password">Répéter le mot de passe :</label>
                <input type="password" id="confirm-password" name="confirm_password" placeholder="Répéter le mot de passe">

                <button type="button" id="submit-form" class="btn-primary">Modifier</button>
            </form>
        </div>
    </div>
</div>

<!-- Pop-up Message -->
<div id="success-popup" class="popup">
    <div class="popup-content">
        <p id="popup-message"></p>
        <button onclick="closePopup()">OK</button>
    </div>
</div>


<div class="sidebar open" id="sidebar">

    <!-- Section Accueil -->
    <h3><i class="fas fa-home"></i> Accueil</h3>
    <ul>
        <li><a href="{% url 'home' %}"><i class="fas fa-arrow-circle-left"></i> Retourner à l'accueil</a></li>
    </ul>

    <!-- Section Modes -->
    <h3><i class="fas fa-gamepad"></i> Modes</h3>
    <ul>
        <li><a href="{% url 'start_challenge' %}"><i class="fas fa-bolt"></i> Mode Challenge</a></li>
	<li><a href="{% url 'revision' %}"><i class="fas fa-book"></i> Mode Révision</a></li>
        <li><a href="{% url 'resultats' %}"><i class="fas fa-chart-line"></i> Vos Résultats</a></li>
    </ul>

<!-- Section Vos Modules -->
<h3><i class="fas fa-folder"></i> Vos Modules</h3>
<div id="sidebar-semesters">
    <ul>
        {% for semester, modules in data.items %}
            <li>
                <span class="semester-title">
                    <i class="fas fa-graduation-cap"></i> {{ semester }}
                    <span class="toggle-arrow">▶</span> <!-- Flèche pour masquer/afficher -->
                </span>
                <ul class="modules-list hidden"> <!-- Liste masquée par défaut -->
                    {% for module in modules %}
                        <li>
                            <!-- Affiche uniquement la description -->
                            <a href="/{{ semester }}/{{ module.name }}/">
                                <i class="fas fa-book"></i> {{ module.description }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>




    <!-- Bouton Déconnexion -->
    <div class="logout-icon">
        <a href="{% url 'login' %}">
            <i class="fas fa-sign-out-alt"></i> Déconnexion
        </a>
    </div>
</div>


    <div id="content">

<div id="score-container" class="score-container">
    <h3>Note : <span id="score">0 / <span id="total-questions"</span></h3>
</div>


        <div class="quiz-title">
            <h1>Resultats detail</h1>
    </div>

         <!-- Conteneur des cercles -->
    <div class="circle-container" id="circle-container">
        <!-- Les cercles seront générés ici par JavaScript -->
    </div>

            <div class="quiz-title">
                <h1>QCM Anatomie 1</h1>
            </div>
            <form id="quiz-form">
<input type="hidden" name="file_name" value="OC2022">
    
        <div id="question-1" class="question-container">
            <div class="question">
                <p>1.) La douleur chronique chez un patient suivi pour un cancer :</p>
                <ul>
        
                    <li><input type="checkbox" id="q1a" name="q1" value="A"> A- Peut être liée au cancer lui-même</li>
            
                    <li><input type="checkbox" id="q1b" name="q1" value="B"> B- Peut être liée au traitement spécifique du cancer</li>
            
                    <li><input type="checkbox" id="q1c" name="q1" value="C"> C- L'évaluation de la douleur permet la compréhension et l'analyse sémiologique du phénomène douloureux</li>
            
                    <li><input type="checkbox" id="q1d" name="q1" value="D"> D- Peut altérer la relation, soignant soigné</li>
            
                    <li><input type="checkbox" id="q1e" name="q1" value="E"> E- Ne doit être traitée que si elle est mal tolérée</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-2" class="question-container">
            <div class="question">
                <p>2.) La douleur par excès de nociception est :</p>
                <ul>
        
                    <li><input type="checkbox" id="q2a" name="q2" value="A"> A- D'origine viscérale lorsque la douleur est secondaire à l'activation des nocicepteurs par infiltration et/ou compression des viscères</li>
            
                    <li><input type="checkbox" id="q2b" name="q2" value="B"> B- Peu sensible aux morphiniques</li>
            
                    <li><input type="checkbox" id="q2c" name="q2" value="C"> C- Doit être traitée selon les recommandations de l'échelle de l'OMS</li>
            
                    <li><input type="checkbox" id="q2d" name="q2" value="D"> D- D'origine somatique lorsque la douleur est initiée ou causée par une lésion primitive du système nerveux</li>
            
                    <li><input type="checkbox" id="q2e" name="q2" value="E"> E- On privilégie la voie orale pour son traitement</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-3" class="question-container">
            <div class="question">
                <p>3.) Pour annoncer une mauvaise nouvelle, les professionnels des soins sont amenés à :</p>
                <ul>
        
                    <li><input type="checkbox" id="q3a" name="q3" value="A"> A- Partir de la réalité médicale ; sans accorder de l'importance au point de vue du patient</li>
            
                    <li><input type="checkbox" id="q3b" name="q3" value="B"> B- Traduire les termes techniques en un langage plus familier au patient</li>
            
                    <li><input type="checkbox" id="q3c" name="q3" value="C"> C- Contrôler fréquemment la compréhension</li>
            
                    <li><input type="checkbox" id="q3d" name="q3" value="D"> D- Prendre en compte les soucis du patient et leur hiérarchie</li>
            
                    <li><input type="checkbox" id="q3e" name="q3" value="E"> E- Avoir un plan de discussion standard pour tous les patients</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-4" class="question-container">
            <div class="question">
                <p>4.) La phase palliative est une phase où le pronostic vital est engagé de façon irréversible et l'incurabilité certaine. De ce fait, les soins palliatifs :</p>
                <ul>
        
                    <li><input type="checkbox" id="q4a" name="q4" value="A"> A- Soulagent les douleurs et les autres symptômes gênants</li>
            
                    <li><input type="checkbox" id="q4b" name="q4" value="B"> B- Encouragent le patient à rester actif aussi longtemps que possible</li>
            
                    <li><input type="checkbox" id="q4c" name="q4" value="C"> C- Excluent les aspects psychologiques et spirituels</li>
            
                    <li><input type="checkbox" id="q4d" name="q4" value="D"> D- Estiment que la vie et la mort sont des processus normaux</li>
            
                    <li><input type="checkbox" id="q4e" name="q4" value="E"> E- Soutiennent les proches dans leur approche de la maladie du patient et leur travail de deuil</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-5" class="question-container">
            <div class="question">
                <p>5.) Concernant le modèle de Skipper :</p>
                <ul>
        
                    <li><input type="checkbox" id="q5a" name="q5" value="A"> A- Théorie établie sur le modèle murin de la leucémie</li>
            
                    <li><input type="checkbox" id="q5b" name="q5" value="B"> B- Les cellules sont en croissance exponentielle</li>
            
                    <li><input type="checkbox" id="q5c" name="q5" value="C"> C- Toutes les cellules sont en division sans cellule en phase de repos (G0)</li>
            
                    <li><input type="checkbox" id="q5d" name="q5" value="D"> D- Le volume tumoral résulte d'une population en expansion et d'une population en régression</li>
            
                    <li><input type="checkbox" id="q5e" name="q5" value="E"> E- Le temps de doublement est constant</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-6" class="question-container">
            <div class="question">
                <p>6.) Concernant le principe d'association des cytotoxiques :</p>
                <ul>
        
                    <li><input type="checkbox" id="q6a" name="q6" value="A"> A- On associe des médicaments ayant des mécanismes d'action différents</li>
            
                    <li><input type="checkbox" id="q6b" name="q6" value="B"> B- On administre deux médicaments ayant des mécanismes de résistance croisés</li>
            
                    <li><input type="checkbox" id="q6c" name="q6" value="C"> C- On associe des médicaments avec une additivité prévisible de leurs effets</li>
            
                    <li><input type="checkbox" id="q6d" name="q6" value="D"> D- On cherche à éviter les compétitions métaboliques</li>
            
                    <li><input type="checkbox" id="q6e" name="q6" value="E"> E- On cherche à éviter l'additivité des effets indésirables</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-7" class="question-container">
            <div class="question">
                <p>7.) Concernant les principaux sites d'action des médicaments anticancéreux, et les principales classes thérapeutiques :</p>
                <ul>
        
                    <li><input type="checkbox" id="q7a" name="q7" value="A"> A- Les taxanes sont des médicaments agissant sur les enzymes de la synthèse de l'ADN</li>
            
                    <li><input type="checkbox" id="q7b" name="q7" value="B"> B- Les principaux sites des médicaments anti-cancéreux : l'ADN, les enzymes de la division de l'ADN et les microtubules</li>
            
                    <li><input type="checkbox" id="q7c" name="q7" value="C"> C- Les anti-folates sont des médicaments agissant sur les enzymes de la synthèse de l'ADN</li>
            
                    <li><input type="checkbox" id="q7d" name="q7" value="D"> D- Les poisons du fuseau mitotique sont des médicaments agissant sur les microtubules</li>
            
                    <li><input type="checkbox" id="q7e" name="q7" value="E"> E- Les antimétabolites et les alkylants sont des médicaments agissant sur l'ADN</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-8" class="question-container">
            <div class="question">
                <p>8.) Concernant les techniques d'hormonothérapie dans le cancer du sein et la prostate :</p>
                <ul>
        
                    <li><input type="checkbox" id="q8a" name="q8" value="A"> A- Dans le cancer de la prostate, les anti-androgènes agissent en inhibant la synthèse des androgènes ou par blocage du récepteur</li>
            
                    <li><input type="checkbox" id="q8b" name="q8" value="B"> B- On associe un anti-androgène non stéroïdien (15j avant) à l'analogue de LHRH pour éviter le flare-up</li>
            
                    <li><input type="checkbox" id="q8c" name="q8" value="C"> C- La castration chimique vise à supprimer l'action des androgènes dans le cancer du sein</li>
            
                    <li><input type="checkbox" id="q8d" name="q8" value="D"> D- Dans le cancer du sein, les anti-aromatase inhibent la transformation des androgène en œstrogène</li>
            
                    <li><input type="checkbox" id="q8e" name="q8" value="E"> E- Les anti-aromatases sont utilisés en monothérapie en pré-ménopause</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-9" class="question-container">
            <div class="question">
                <p>9.) Le cancer de l'enfant :</p>
                <ul>
        
                    <li><input type="checkbox" id="q9a" name="q9" value="A"> A- Représente moins de 3% de tous les cancers</li>
            
                    <li><input type="checkbox" id="q9b" name="q9" value="B"> B- Représente 90% de tous les cancers</li>
            
                    <li><input type="checkbox" id="q9c" name="q9" value="C"> C- C'est la 2e cause de mortalité après les accidents chez les enfants de plus de 3 ans</li>
            
                    <li><input type="checkbox" id="q9d" name="q9" value="D"> D- Les leucémies avec les lymphomes sont les plus fréquents</li>
            
                    <li><input type="checkbox" id="q9e" name="q9" value="E"> E- Les leucémies avec les lymphomes sont les moins fréquents</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-10" class="question-container">
            <div class="question">
                <p>10.) Le cancer de l'enfant :</p>
                <ul>
        
                    <li><input type="checkbox" id="q10a" name="q10" value="A"> A- La précocité du diagnostic permet souvent le recours à des traitements moins agressifs</li>
            
                    <li><input type="checkbox" id="q10b" name="q10" value="B"> B- Les objectifs de la cancérologie pédiatrique sont d'augmenter les taux de guérison tout en diminuant le risque de séquelles</li>
            
                    <li><input type="checkbox" id="q10c" name="q10" value="C"> C- Le cancer pédiatrique est une pathologie incurable</li>
            
                    <li><input type="checkbox" id="q10d" name="q10" value="D"> D- La radiothérapie ne présente aucune complication pour l'enfant</li>
            
                    <li><input type="checkbox" id="q10e" name="q10" value="E"> E- La réunion de concertation pluridisciplinaire n'a aucun intérêt</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-11" class="question-container">
            <div class="question">
                <p>11.) Le cancer de l'enfant :</p>
                <ul>
        
                    <li><input type="checkbox" id="q11a" name="q11" value="A"> A- Les cancers de l'enfant sont caractérisés par une grande chimiosensibilité</li>
            
                    <li><input type="checkbox" id="q11b" name="q11" value="B"> B- La raréfaction et la rapidité évolutive de ces cancers ne permettent pas d'envisager un dépistage</li>
            
                    <li><input type="checkbox" id="q11c" name="q11" value="C"> C- L'annonce du diagnostic doit se faire avec une information claire et complète</li>
            
                    <li><input type="checkbox" id="q11d" name="q11" value="D"> D- Les soins palliatifs sont des soins actifs sans obstination déraisonnable</li>
            
                    <li><input type="checkbox" id="q11e" name="q11" value="E"> E- Le suivi au long cours est primordial en cancérologie pédiatrique</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-12" class="question-container">
            <div class="question">
                <p>12.) Le cancer de l'enfant :</p>
                <ul>
        
                    <li><input type="checkbox" id="q12a" name="q12" value="A"> A- L'annonce du diagnostic de cancer demande du temps</li>
            
                    <li><input type="checkbox" id="q12b" name="q12" value="B"> B- L'annonce du diagnostic de cancer demande de la disponibilité</li>
            
                    <li><input type="checkbox" id="q12c" name="q12" value="C"> C- L'annonce du diagnostic de cancer demande de l'expérience</li>
            
                    <li><input type="checkbox" id="q12d" name="q12" value="D"> D- L'annonce du diagnostic de cancer n'a pas de grande importance dans la prise en charge du cancer de l'enfant</li>
            
                    <li><input type="checkbox" id="q12e" name="q12" value="E"> E- Le choix thérapeutique et le pronostic se base sur la nature de la tumeur et le bilan d'extension</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-13" class="question-container">
            <div class="question">
                <p>13.) Le cancer est :</p>
                <ul>
        
                    <li><input type="checkbox" id="q13a" name="q13" value="A"> A- Une préoccupation majeure de santé publique</li>
            
                    <li><input type="checkbox" id="q13b" name="q13" value="B"> B- Une perte de contrôle accidentelle de la régulation normale des cellules</li>
            
                    <li><input type="checkbox" id="q13c" name="q13" value="C"> C- Une maladie héréditaire</li>
            
                    <li><input type="checkbox" id="q13d" name="q13" value="D"> D- La conséquence d'une accumulation d'altérations du génome cellulaire</li>
            
                    <li><input type="checkbox" id="q13e" name="q13" value="E"> E- Confirmée par un bilan radiologique</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-14" class="question-container">
            <div class="question">
                <p>14.) Le dépistage :</p>
                <ul>
        
                    <li><input type="checkbox" id="q14a" name="q14" value="A"> A- Est la recherche d'une maladie chez une personne peu symptomatique</li>
            
                    <li><input type="checkbox" id="q14b" name="q14" value="B"> B- Permet de diagnostiquer le cancer à un stade infra clinique augmentant ainsi les chances de guérison</li>
            
                    <li><input type="checkbox" id="q14c" name="q14" value="C"> C- Recherche une maladie fréquente et curable</li>
            
                    <li><input type="checkbox" id="q14d" name="q14" value="D"> D- Ne doit rechercher la maladie que chez les patients à haut risque</li>
            
                    <li><input type="checkbox" id="q14e" name="q14" value="E"> E- Doit utiliser des tests spécifiques, fiables quel que soit leur coût</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-15" class="question-container">
            <div class="question">
                <p>15.) Concernant les voies d'extension de la maladie néoplasique, Quelles sont les propositions justes :</p>
                <ul>
        
                    <li><input type="checkbox" id="q15a" name="q15" value="A"> A- La voie de dissémination hématogène est la plus importante dans l'extension du cancer</li>
            
                    <li><input type="checkbox" id="q15b" name="q15" value="B"> B- Le cancer lymphophile peut se disséminer via les canaux lymphatiques</li>
            
                    <li><input type="checkbox" id="q15c" name="q15" value="C"> C- Le cancer de type cylindrome ne peut pas se disséminer à travers la gaine des nerfs</li>
            
                    <li><input type="checkbox" id="q15d" name="q15" value="D"> D- Le cancer in-situ ne franchit pas la membrane basale</li>
            
                    <li><input type="checkbox" id="q15e" name="q15" value="E"> E- Aucune proposition n'est juste</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-16" class="question-container">
            <div class="question">
                <p>16.) Quelles sont les cancers les plus ostéophiles :</p>
                <ul>
        
                    <li><input type="checkbox" id="q16a" name="q16" value="A"> A- Cancer du rein, cancer du sein, et les lymphomes</li>
            
                    <li><input type="checkbox" id="q16b" name="q16" value="B"> B- Cancer du sein, cancer de prostate, cancer du poumon</li>
            
                    <li><input type="checkbox" id="q16c" name="q16" value="C"> C- Cancer de la prostate, cancer du sein, cancer de la thyroïde</li>
            
                    <li><input type="checkbox" id="q16d" name="q16" value="D"> D- Du aux cancers cités ci-dessus</li>
            
                    <li><input type="checkbox" id="q16e" name="q16" value="E"> E- Les cancers cités ci-dessus</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-17" class="question-container">
            <div class="question">
                <p>17.) Concernant le bilan d'extension d'un cancer, quelles sont les propositions justes :</p>
                <ul>
        
                    <li><input type="checkbox" id="q17a" name="q17" value="A"> A- Il dépend de chaque localisation tumorale</li>
            
                    <li><input type="checkbox" id="q17b" name="q17" value="B"> B- Il ne dépend pas du type histologique</li>
            
                    <li><input type="checkbox" id="q17c" name="q17" value="C"> C- Il est appuyé uniquement par des examens radiologiques</li>
            
                    <li><input type="checkbox" id="q17d" name="q17" value="D"> D- Il est demandé avant la confirmation histologique de la malignité</li>
            
                    <li><input type="checkbox" id="q17e" name="q17" value="E"> E- Toutes les propositions sont justes</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-18" class="question-container">
            <div class="question">
                <p>18.) La radiothérapie externe est :</p>
                <ul>
        
                    <li><input type="checkbox" id="q18a" name="q18" value="A"> A- Un traitement locorégional</li>
            
                    <li><input type="checkbox" id="q18b" name="q18" value="B"> B- Un traitement par des radiations ionisantes</li>
            
                    <li><input type="checkbox" id="q18c" name="q18" value="C"> C- Un traitement qui nécessite la mise en place de vecteurs</li>
            
                    <li><input type="checkbox" id="q18d" name="q18" value="D"> D- Un traitement qui a des indications curative et palliative</li>
            
                    <li><input type="checkbox" id="q18e" name="q18" value="E"> E- Toutes les réponses sont justes</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-19" class="question-container">
            <div class="question">
                <p>19.) Le fractionnement en Radiothérapie externe :</p>
                <ul>
        
                    <li><input type="checkbox" id="q19a" name="q19" value="A"> A- Le schéma standard est une séance par jour à raison de 2Gy par fraction</li>
            
                    <li><input type="checkbox" id="q19b" name="q19" value="B"> B- Le schéma Hypo fractionné est défini par une dose par séance < 2Gy</li>
            
                    <li><input type="checkbox" id="q19c" name="q19" value="C"> C- Le schéma Hypo fractionné est défini par une dose par séance >2Gy</li>
            
                    <li><input type="checkbox" id="q19d" name="q19" value="D"> D- Le schéma Hypo fractionné correspond à un nombre de séances plus importants</li>
            
                    <li><input type="checkbox" id="q19e" name="q19" value="E"> E- Le schéma Hypo fractionné correspond à un nombre de séances moins importants</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-20" class="question-container">
            <div class="question">
                <p>20.) Dans le déroulement de la radiothérapie externe :</p>
                <ul>
        
                    <li><input type="checkbox" id="q20a" name="q20" value="A"> A- L'administration du traitement est suivie de la validation de la dosimétrie</li>
            
                    <li><input type="checkbox" id="q20b" name="q20" value="B"> B- La simulation est suivie par le contourage des volumes cibles à irradier</li>
            
                    <li><input type="checkbox" id="q20c" name="q20" value="C"> C- Le matériel de contention permet une position fixe, reproductible et confortable</li>
            
                    <li><input type="checkbox" id="q20d" name="q20" value="D"> D- Le rythme de surveillance du patient en cours du traitement est mensuel</li>
            
                    <li><input type="checkbox" id="q20e" name="q20" value="E"> E- Aucune réponse n'est juste</li>
            
                </ul>
            </div>
            
        </div>
        
            

            

            
                
                
                
            </div>
<button type="button" class="reset-quiz-button" onclick="window.location.href = '{% url "dynamic_view" "S7" "Cancerologie_Hematologie" "OC2022" %}';">Réessayer tout le Quiz</button>

            <div id="details-section" class="details-section" style="display: none;">
                <h3>Tableau des questions</h3>
                <div class="question-links" id="question-links"></div>
            </div>

            
    
            <script>
const correctAnswers = {
    q1: ['A', 'B', 'C', 'D'],
    q2: ['A', 'B', 'C', 'E'],
    q3: ['B', 'C', 'D', 'E'],
    q4: ['A', 'B', 'D', 'E'],
    q5: ['A', 'B', 'D'],
    q6: ['A', 'C', 'E'],
    q7: ['B', 'D', 'E'],
    q8: ['A', 'B', 'C', 'D'],
    q9: ['A', 'C', 'D'],
    q10: ['A', 'B'],
    q11: ['C'],
    q12: ['A', 'B', 'C', 'E'],
    q13: ['A'],
    q14: ['A', 'B', 'C'],
    q15: ['A', 'B', 'D'],
    q16: ['C'],
    q17: ['A'],
    q18: ['C', 'D', 'E'],
    q19: ['C', 'E'],
    q20: ['B', 'C'],
};

let userAnswers = {}; // Stocke les réponses de l'utilisateur
let loadedAnswers = {}; // Stocke les réponses chargées pour l'évaluation

// Charger les réponses utilisateur
function loadUserAnswersFromChimie() {
    const savedAnswers = JSON.parse(localStorage.getItem('userAnswersOC2022'));

    if (savedAnswers) {
        loadedAnswers = savedAnswers; // Stocker les réponses dans la variable globale
        for (const [questionName, answerData] of Object.entries(savedAnswers)) {
            const questionDiv = document.querySelector(`input[name="${questionName}"]`)?.closest('.question-container');
            if (!questionDiv) continue;

            // Appliquer les styles pour les bonnes réponses
            correctAnswers[questionName]?.forEach(correctAnswer => {
                const correctLi = questionDiv.querySelector(`input[value="${correctAnswer}"]`)?.closest('li');
                if (correctLi) {
                    correctLi.style.color = 'green';
                    correctLi.style.fontWeight = 'bold';
                    correctLi.style.textShadow = '1px 1px 2px rgba(0, 0, 0, 0.5)';
                }
            });

            // Appliquer les styles pour les réponses sélectionnées
            answerData.selected.forEach(selectedAnswer => {
                const selectedLi = questionDiv.querySelector(`input[value="${selectedAnswer}"]`)?.closest('li');
                if (selectedLi) {
                    selectedLi.style.color = correctAnswers[questionName]?.includes(selectedAnswer) ? 'lightgreen' : 'red';
                }
            });

            // Désactiver les cases après chargement
            questionDiv.querySelectorAll('input').forEach(input => (input.disabled = true));
        }
    }
}

// Générer les cercles pour les questions
function generateCircles() {
    const totalQuestions = Object.keys(correctAnswers).length;
    const circleContainer = document.getElementById('circle-container');

    for (let i = 1; i <= totalQuestions; i++) {
        const circle = document.createElement('div');
        circle.classList.add('circle', 'yellow'); // Couleur par défaut : jaune
        circle.innerText = i;

        circle.onclick = function () {
            scrollToQuestion(i);
        };

        circleContainer.appendChild(circle);
    }
}

// Mettre à jour les cercles après évaluation
function updateCircles() {
    const circles = document.querySelectorAll('.circle');
    let totalCorrectCircles = 0; // Compteur pour les réponses correctes
    for (let i = 1; i <= Object.keys(correctAnswers).length; i++) {
        const selectedAnswers = loadedAnswers[`q${i}`]?.selected || [];
        const circle = circles[i - 1];

        if (JSON.stringify(correctAnswers[`q${i}`]?.sort()) === JSON.stringify(selectedAnswers.sort())) {
            circle.classList.add('green');
            circle.classList.remove('yellow', 'red');
            totalCorrectCircles++;
        } else if (selectedAnswers.length > 0) {
            circle.classList.add('red');
            circle.classList.remove('yellow', 'green');
        } else {
            circle.classList.add('yellow');
            circle.classList.remove('green', 'red');
        }
    }

    // Mettre à jour la note avec le nombre de cercles verts
    document.getElementById('score').textContent = `${totalCorrectCircles} / ${Object.keys(correctAnswers).length}`;
}

// Défiler jusqu'à une question spécifique
function scrollToQuestion(questionNumber) {
    const questionDiv = document.getElementById(`question-${questionNumber}`);
    if (questionDiv) {
        questionDiv.scrollIntoView({ behavior: 'smooth' });
    }
}

// Charger les réponses et générer les cercles au chargement de la page
window.onload = function () {
    document.getElementById('total-questions').textContent = Object.keys(correctAnswers).length; // Nombre total de questions
    loadUserAnswersFromChimie();
    generateCircles();
    updateCircles();
};




    </script>
</body>
</html>
<script src="{% static 'java/question-stats.js' %}" defer></script>
<script src="{% static 'java/sidebar.js' %}"></script>
<script src="{% static 'java/navbar.js' %}"></script>