<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Luck - Syntanatomie 2022</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

{% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesynt.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylenavbar1.css' %}">


</head>
<body>





<div class="navbar">
    <span class="logo">QuizLuck</span>
    <!-- Bouton pour ouvrir complètement la barre latérale -->
<div class="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
</div>

    <div class="user-menu">
        <div class="user-profile" onclick="toggleMenu()">
            <span class="profile-icon">👤</span>
            <span class="user-name">Bonjour, {{ user_full_name}} !</span>
            <span class="dropdown-arrow">▼</span>
        </div>
        <ul class="dropdown-menu" id="dropdown-menu">
            <li><a href="#" onclick="openAccountModal()">Mon Compte</a></li>
            <li>
                <a href="{% url 'login' %}">
                    <i class="fas fa-sign-out-alt"></i> Déconnexion
                </a>
            </li>
        </ul>
    </div>

</div>

<!-- Pop-up Modifier Mon Compte -->
<div id="account-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Modifier Mon compte</h3>
            <span class="close-btn" onclick="closeAccountModal()">&times;</span>
        </div>
        <div class="modal-body">
            <form id="account-form">
                {% csrf_token %}
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" name="username" value="{{ user_full_name}}" required>
<!-- Champ caché contenant la date de naissance -->
<input type="hidden" id="profile-dob" value="{{ request.user.profile.birth_date|date:'Y-m-d' }}">

                <label for="dob">Date de naissance :</label>
                <input type="date" id="dob" name="dob" value="{{ user.dob|date:'Y-m-d' }}">

                <label for="password">Nouveau mot de passe :</label>
                <input type="password" id="password" name="password" placeholder="Nouveau mot de passe">

                <label for="confirm-password">Répéter le mot de passe :</label>
                <input type="password" id="confirm-password" name="confirm_password" placeholder="Répéter le mot de passe">

                <button type="button" id="submit-form" class="btn-primary">Modifier</button>
            </form>
        </div>
    </div>
</div>

<!-- Pop-up Message -->
<div id="success-popup" class="popup">
    <div class="popup-content">
        <p id="popup-message"></p>
        <button onclick="closePopup()">OK</button>
    </div>
</div>


<div class="sidebar open" id="sidebar">

    <!-- Section Accueil -->
    <h3><i class="fas fa-home"></i> Accueil</h3>
    <ul>
        <li><a href="{% url 'home' %}"><i class="fas fa-arrow-circle-left"></i> Retourner à l'accueil</a></li>
    </ul>

    <!-- Section Modes -->
    <h3><i class="fas fa-gamepad"></i> Modes</h3>
    <ul>
        <li><a href="{% url 'start_challenge' %}"><i class="fas fa-bolt"></i> Mode Challenge</a></li>
	<li><a href="{% url 'revision' %}"><i class="fas fa-book"></i> Mode Révision</a></li>
        <li><a href="{% url 'resultats' %}"><i class="fas fa-chart-line"></i> Vos Résultats</a></li>
    </ul>

<!-- Section Vos Modules -->
<h3><i class="fas fa-folder"></i> Vos Modules</h3>
<div id="sidebar-semesters">
    <ul>
        {% for semester, modules in data.items %}
            <li>
                <span class="semester-title">
                    <i class="fas fa-graduation-cap"></i> {{ semester }}
                    <span class="toggle-arrow">▶</span> <!-- Flèche pour masquer/afficher -->
                </span>
                <ul class="modules-list hidden"> <!-- Liste masquée par défaut -->
                    {% for module in modules %}
                        <li>
                            <!-- Affiche uniquement la description -->
                            <a href="/{{ semester }}/{{ module.name }}/">
                                <i class="fas fa-book"></i> {{ module.description }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>




    <!-- Bouton Déconnexion -->
    <div class="logout-icon">
        <a href="{% url 'login' %}">
            <i class="fas fa-sign-out-alt"></i> Déconnexion
        </a>
    </div>
</div>


    <div id="content">

<div id="score-container" class="score-container">
    <h3>Note : <span id="score">0 / <span id="total-questions"</span></h3>
</div>


        <div class="quiz-title">
            <h1>Resultats detail</h1>
    </div>

         <!-- Conteneur des cercles -->
    <div class="circle-container" id="circle-container">
        <!-- Les cercles seront générés ici par JavaScript -->
    </div>
    
    <body>
        <div class="container">
            <div class="quiz-title">
                <h1>QCM Anatomie 1</h1>
            </div>
            <form id="quiz-form">
<input type="hidden" name="file_name" value="EMB2016">
    
        <div id="question-1" class="question-container">
            <div class="question">
                <p>1.) La glaire cervicale du col utérin :</p>
                <ul>
        
                    <li><input type="checkbox" id="q1a" name="q1" value="A"> A- Subit des modifications en fonction du cycle menstruel.</li>
            
                    <li><input type="checkbox" id="q1b" name="q1" value="B"> B- Présente des mailles rétrécies durant la période post-ovulatoire.</li>
            
                    <li><input type="checkbox" id="q1c" name="q1" value="C"> C- Est perméable durant la période péri-ovulatoire.</li>
            
                    <li><input type="checkbox" id="q1d" name="q1" value="D"> D- Sélectionne les spermatozoïdes mobiles.</li>
            
                    <li><input type="checkbox" id="q1e" name="q1" value="E"> E- Est perméable sous l'effet de la progestérone.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-2" class="question-container">
            <div class="question">
                <p>2.) La capacitation des spermatozoïdes :</p>
                <ul>
        
                    <li><input type="checkbox" id="q2a" name="q2" value="A"> A- Permet l'acquisition du pouvoir fécondant.</li>
            
                    <li><input type="checkbox" id="q2b" name="q2" value="B"> B- Survient après la fécondation.</li>
            
                    <li><input type="checkbox" id="q2c" name="q2" value="C"> C- Se déroule dans l'utérus.</li>
            
                    <li><input type="checkbox" id="q2d" name="q2" value="D"> D- Se déroule dans la trompe.</li>
            
                    <li><input type="checkbox" id="q2e" name="q2" value="E"> E- Survient dans l'épididyme.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-3" class="question-container">
            <div class="question">
                <p>3.) Où est située la zone pellucide ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q3a" name="q3" value="A"> A- Autour du spermatozoïde.</li>
            
                    <li><input type="checkbox" id="q3b" name="q3" value="B"> B- Autour de l'ovocyte.</li>
            
                    <li><input type="checkbox" id="q3c" name="q3" value="C"> C- Dans le cytoplasme de l'ovocyte.</li>
            
                    <li><input type="checkbox" id="q3d" name="q3" value="D"> D- Dans le noyau de l'ovocyte.</li>
            
                    <li><input type="checkbox" id="q3e" name="q3" value="E"> E- En périphérie des cellules folliculaires.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-4" class="question-container">
            <div class="question">
                <p>4.) La fixation des spermatozoïdes à la zone pellucide :</p>
                <ul>
        
                    <li><input type="checkbox" id="q4a" name="q4" value="A"> A- Est nécessaire pour la fécondation.</li>
            
                    <li><input type="checkbox" id="q4b" name="q4" value="B"> B- Nécessite une capacitation préalable.</li>
            
                    <li><input type="checkbox" id="q4c" name="q4" value="C"> C- Nécessite une décapacitation dans l'utérus.</li>
            
                    <li><input type="checkbox" id="q4d" name="q4" value="D"> D- Se fait par des récepteurs.</li>
            
                    <li><input type="checkbox" id="q4e" name="q4" value="E"> E- Prépare à la réaction acrosomique.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-5" class="question-container">
            <div class="question">
                <p>5.) La réaction acrosomique :</p>
                <ul>
        
                    <li><input type="checkbox" id="q5a" name="q5" value="A"> A- Survient dans le spermatozoïde.</li>
            
                    <li><input type="checkbox" id="q5b" name="q5" value="B"> B- Survient dans l'ovocyte.</li>
            
                    <li><input type="checkbox" id="q5c" name="q5" value="C"> C- Permet de libérer des enzymes protéolytiques.</li>
            
                    <li><input type="checkbox" id="q5d" name="q5" value="D"> D- Détruit la membrane externe de l'acrosome.</li>
            
                    <li><input type="checkbox" id="q5e" name="q5" value="E"> E- Détruit la membrane interne de l'acrosome.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-6" class="question-container">
            <div class="question">
                <p>6.) La régulation de la monospermie dans la fécondation :</p>
                <ul>
        
                    <li><input type="checkbox" id="q6a" name="q6" value="A"> A- Se fait par l'ovocyte.</li>
            
                    <li><input type="checkbox" id="q6b" name="q6" value="B"> B- Se fait par le spermatozoïde.</li>
            
                    <li><input type="checkbox" id="q6c" name="q6" value="C"> C- Fait intervenir les globules corticaux.</li>
            
                    <li><input type="checkbox" id="q6d" name="q6" value="D"> D- Fait intervenir la zone pellucide.</li>
            
                    <li><input type="checkbox" id="q6e" name="q6" value="E"> E- Empêche la fécondation par plus d'un spermatozoïde.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-7" class="question-container">
            <div class="question">
                <p>7.) Lors de la fécondation, l'activation de l'ovocyte implique :</p>
                <ul>
        
                    <li><input type="checkbox" id="q7a" name="q7" value="A"> A- La reprise de la méiose.</li>
            
                    <li><input type="checkbox" id="q7b" name="q7" value="B"> B- La formation du 2ème globule polaire.</li>
            
                    <li><input type="checkbox" id="q7c" name="q7" value="C"> C- La formation du 1er globule polaire.</li>
            
                    <li><input type="checkbox" id="q7d" name="q7" value="D"> D- La reprise des synthèses protéiques.</li>
            
                    <li><input type="checkbox" id="q7e" name="q7" value="E"> E- La redistribution des organites.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-8" class="question-container">
            <div class="question">
                <p>8.) Quelles sont les deux anomalies qui sont en rapport avec un trouble de la régulation de la monospermie ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q8a" name="q8" value="A"> A- Monosomie.</li>
            
                    <li><input type="checkbox" id="q8b" name="q8" value="B"> B- Trisomie.</li>
            
                    <li><input type="checkbox" id="q8c" name="q8" value="C"> C- Translocation.</li>
            
                    <li><input type="checkbox" id="q8d" name="q8" value="D"> D- Triploïdie.</li>
            
                    <li><input type="checkbox" id="q8e" name="q8" value="E"> E- Môle hydatiforme.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-9" class="question-container">
            <div class="question">
                <p>9.) Quel est le type de contraception qui modifie la glaire cervicale ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q9a" name="q9" value="A"> A- Le dispositif intra-utérin.</li>
            
                    <li><input type="checkbox" id="q9b" name="q9" value="B"> B- Les progestatifs.</li>
            
                    <li><input type="checkbox" id="q9c" name="q9" value="C"> C- Le diaphragme.</li>
            
                    <li><input type="checkbox" id="q9d" name="q9" value="D"> D- La ligature des trompes.</li>
            
                    <li><input type="checkbox" id="q9e" name="q9" value="E"> E- Le préservatif.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-10" class="question-container">
            <div class="question">
                <p>10.) Quels sont les événements en rapport avec la segmentation ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q10a" name="q10" value="A"> A- Divisions cellulaires.</li>
            
                    <li><input type="checkbox" id="q10b" name="q10" value="B"> B- Formation des blastomères.</li>
            
                    <li><input type="checkbox" id="q10c" name="q10" value="C"> C- Formation de la morula.</li>
            
                    <li><input type="checkbox" id="q10d" name="q10" value="D"> D- Formation du blastocyste.</li>
            
                    <li><input type="checkbox" id="q10e" name="q10" value="E"> E- Formation des feuillets embryonnaires.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-11" class="question-container">
            <div class="question">
                <p>11.) Une grossesse extra-utérine (nidation en dehors de l'utérus) est une anomalie de :</p>
                <ul>
        
                    <li><input type="checkbox" id="q11a" name="q11" value="A"> A- La segmentation.</li>
            
                    <li><input type="checkbox" id="q11b" name="q11" value="B"> B- La migration.</li>
            
                    <li><input type="checkbox" id="q11c" name="q11" value="C"> C- La gastrulation.</li>
            
                    <li><input type="checkbox" id="q11d" name="q11" value="D"> D- La neurulation.</li>
            
                    <li><input type="checkbox" id="q11e" name="q11" value="E"> E- Situs.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-12" class="question-container">
            <div class="question">
                <p>12.) Le blastocyste :</p>
                <ul>
        
                    <li><input type="checkbox" id="q12a" name="q12" value="A"> A- Est formé au cours de la 1ère semaine.</li>
            
                    <li><input type="checkbox" id="q12b" name="q12" value="B"> B- Est formé au cours de la 2ème semaine.</li>
            
                    <li><input type="checkbox" id="q12c" name="q12" value="C"> C- Comporte une cavité.</li>
            
                    <li><input type="checkbox" id="q12d" name="q12" value="D"> D- Comporte un trophoblaste.</li>
            
                    <li><input type="checkbox" id="q12e" name="q12" value="E"> E- Comporte un bouton embryonnaire.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-13" class="question-container">
            <div class="question">
                <p>13.) Quelles sont les deux structures qui comportent une zone pellucide ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q13a" name="q13" value="A"> A- Blastocyste.</li>
            
                    <li><input type="checkbox" id="q13b" name="q13" value="B"> B- Morula.</li>
            
                    <li><input type="checkbox" id="q13c" name="q13" value="C"> C- Œuf à deux blastomères.</li>
            
                    <li><input type="checkbox" id="q13d" name="q13" value="D"> D- Embryon à trois feuillets.</li>
            
                    <li><input type="checkbox" id="q13e" name="q13" value="E"> E- Embryon à deux feuillets.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-14" class="question-container">
            <div class="question">
                <p>14.) Quels sont les facteurs qui favorisent la migration de l'œuf ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q14a" name="q14" value="A"> A- Les hormones : œstrogènes et progestérone.</li>
            
                    <li><input type="checkbox" id="q14b" name="q14" value="B"> B- Les cils des cellules de la trompe.</li>
            
                    <li><input type="checkbox" id="q14c" name="q14" value="C"> C- La sécrétion des cellules glandulaires de la trompe.</li>
            
                    <li><input type="checkbox" id="q14d" name="q14" value="D"> D- La sécrétion des cellules glandulaires de l'endomètre.</li>
            
                    <li><input type="checkbox" id="q14e" name="q14" value="E"> E- La contraction du muscle de la trompe.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-15" class="question-container">
            <div class="question">
                <p>15.) Quels sont les phénomènes qui sont en rapport avec la préparation de l'endomètre à la nidation ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q15a" name="q15" value="A"> A- Épaississement de l'endomètre.</li>
            
                    <li><input type="checkbox" id="q15b" name="q15" value="B"> B- Nombreuses glandes.</li>
            
                    <li><input type="checkbox" id="q15c" name="q15" value="C"> C- Vaisseaux spiralés.</li>
            
                    <li><input type="checkbox" id="q15d" name="q15" value="D"> D- Chorion œdémateux.</li>
            
                    <li><input type="checkbox" id="q15e" name="q15" value="E"> E- Chorion pauvre en vaisseaux.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-16" class="question-container">
            <div class="question">
                <p>16.) À quel stade se déroule la nidation ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q16a" name="q16" value="A"> A- Stade de morula.</li>
            
                    <li><input type="checkbox" id="q16b" name="q16" value="B"> B- Stade de blastocyste.</li>
            
                    <li><input type="checkbox" id="q16c" name="q16" value="C"> C- Stade de 2 blastomères.</li>
            
                    <li><input type="checkbox" id="q16d" name="q16" value="D"> D- Stade de 4 blastomères.</li>
            
                    <li><input type="checkbox" id="q16e" name="q16" value="E"> E- Stade de 16 blastomères.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-17" class="question-container">
            <div class="question">
                <p>17.) Parmi les anomalies de la 1ère semaine :</p>
                <ul>
        
                    <li><input type="checkbox" id="q17a" name="q17" value="A"> A- La mort de l'œuf.</li>
            
                    <li><input type="checkbox" id="q17b" name="q17" value="B"> B- Des anomalies chromosomiques.</li>
            
                    <li><input type="checkbox" id="q17c" name="q17" value="C"> C- Des altérations génétiques.</li>
            
                    <li><input type="checkbox" id="q17d" name="q17" value="D"> D- Anencéphalie.</li>
            
                    <li><input type="checkbox" id="q17e" name="q17" value="E"> E- Spina bifida.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-18" class="question-container">
            <div class="question">
                <p>18.) Au cours de la nidation :</p>
                <ul>
        
                    <li><input type="checkbox" id="q18a" name="q18" value="A"> A- L'œuf se fixe par le pôle embryonnaire.</li>
            
                    <li><input type="checkbox" id="q18b" name="q18" value="B"> B- L'œuf se fixe à l'endomètre.</li>
            
                    <li><input type="checkbox" id="q18c" name="q18" value="C"> C- L'œuf garde la zone pellucide.</li>
            
                    <li><input type="checkbox" id="q18d" name="q18" value="D"> D- Le trophoblaste prolifère.</li>
            
                    <li><input type="checkbox" id="q18e" name="q18" value="E"> E- Le trophoblaste se différencie.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-19" class="question-container">
            <div class="question">
                <p>19.) Le syncytiotrophoblaste fait partie :</p>
                <ul>
        
                    <li><input type="checkbox" id="q19a" name="q19" value="A"> A- Des annexes embryonnaires.</li>
            
                    <li><input type="checkbox" id="q19b" name="q19" value="B"> B- Du bouton embryonnaire.</li>
            
                    <li><input type="checkbox" id="q19c" name="q19" value="C"> C- Des feuillets embryonnaires.</li>
            
                    <li><input type="checkbox" id="q19d" name="q19" value="D"> D- Du mésenchyme extra-embryonnaire.</li>
            
                    <li><input type="checkbox" id="q19e" name="q19" value="E"> E- Du pédicule.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-20" class="question-container">
            <div class="question">
                <p>20.) Les cellules du syncytiotrophoblaste :</p>
                <ul>
        
                    <li><input type="checkbox" id="q20a" name="q20" value="A"> A- Sont petites.</li>
            
                    <li><input type="checkbox" id="q20b" name="q20" value="B"> B- Sont de grande taille.</li>
            
                    <li><input type="checkbox" id="q20c" name="q20" value="C"> C- Sont mal limitées.</li>
            
                    <li><input type="checkbox" id="q20d" name="q20" value="D"> D- Sont confluentes.</li>
            
                    <li><input type="checkbox" id="q20e" name="q20" value="E"> E- Ont un seul noyau.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-21" class="question-container">
            <div class="question">
                <p>21.) Où se déroule la réaction déciduale ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q21a" name="q21" value="A"> A- Dans l'endomètre.</li>
            
                    <li><input type="checkbox" id="q21b" name="q21" value="B"> B- Dans la trompe.</li>
            
                    <li><input type="checkbox" id="q21c" name="q21" value="C"> C- Dans le trophoblaste.</li>
            
                    <li><input type="checkbox" id="q21d" name="q21" value="D"> D- Dans le bouton embryonnaire.</li>
            
                    <li><input type="checkbox" id="q21e" name="q21" value="E"> E- Dans l'œuf.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-22" class="question-container">
            <div class="question">
                <p>22.) Quelle est l'origine des caduques ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q22a" name="q22" value="A"> A- L'endomètre.</li>
            
                    <li><input type="checkbox" id="q22b" name="q22" value="B"> B- Le trophoblaste.</li>
            
                    <li><input type="checkbox" id="q22c" name="q22" value="C"> C- Le bouton embryonnaire.</li>
            
                    <li><input type="checkbox" id="q22d" name="q22" value="D"> D- Les feuillets embryonnaires.</li>
            
                    <li><input type="checkbox" id="q22e" name="q22" value="E"> E- Le mésenchyme extra-embryonnaire.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-23" class="question-container">
            <div class="question">
                <p>23.) Quelle est la localisation de la caduque basilaire ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q23a" name="q23" value="A"> A- Entre l'œuf et la lumière utérine.</li>
            
                    <li><input type="checkbox" id="q23b" name="q23" value="B"> B- Entre l'œuf et le myomètre.</li>
            
                    <li><input type="checkbox" id="q23c" name="q23" value="C"> C- Entre l'œuf et le trophoblaste.</li>
            
                    <li><input type="checkbox" id="q23d" name="q23" value="D"> D- Entre l'œuf et l'endomètre latéral.</li>
            
                    <li><input type="checkbox" id="q23e" name="q23" value="E"> E- Entre l'œuf et la cavité du blastocyste.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-24" class="question-container">
            <div class="question">
                <p>24.) À propos de l'épiblaste :</p>
                <ul>
        
                    <li><input type="checkbox" id="q24a" name="q24" value="A"> A- Feuillet embryonnaire.</li>
            
                    <li><input type="checkbox" id="q24b" name="q24" value="B"> B- Annexe embryonnaire.</li>
            
                    <li><input type="checkbox" id="q24c" name="q24" value="C"> C- Situé du côté de la cavité amniotique.</li>
            
                    <li><input type="checkbox" id="q24d" name="q24" value="D"> D- Situé du côté de la vésicule vitelline.</li>
            
                    <li><input type="checkbox" id="q24e" name="q24" value="E"> E- Formé au cours de la 2ème semaine de développement.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-25" class="question-container">
            <div class="question">
                <p>25.) La cavité amniotique :</p>
                <ul>
        
                    <li><input type="checkbox" id="q25a" name="q25" value="A"> A- Se creuse dans le bouton embryonnaire.</li>
            
                    <li><input type="checkbox" id="q25b" name="q25" value="B"> B- Se creuse dans le mésenchyme extra-embryonnaire.</li>
            
                    <li><input type="checkbox" id="q25c" name="q25" value="C"> C- Se creuse dans l'endomètre.</li>
            
                    <li><input type="checkbox" id="q25d" name="q25" value="D"> D- Est bordée par l'amnios.</li>
            
                    <li><input type="checkbox" id="q25e" name="q25" value="E"> E- Est bordée par l'endoderme.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-26" class="question-container">
            <div class="question">
                <p>26.) Quelle est l'origine du mésenchyme extra-embryonnaire ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q26a" name="q26" value="A"> A- L'amnios.</li>
            
                    <li><input type="checkbox" id="q26b" name="q26" value="B"> B- Le cytotrophoblaste.</li>
            
                    <li><input type="checkbox" id="q26c" name="q26" value="C"> C- L'endoderme.</li>
            
                    <li><input type="checkbox" id="q26d" name="q26" value="D"> D- Le mésoderme.</li>
            
                    <li><input type="checkbox" id="q26e" name="q26" value="E"> E- L'épiblaste.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-27" class="question-container">
            <div class="question">
                <p>27.) Quel est le tissu qui tapisse directement la vésicule vitelline ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q27a" name="q27" value="A"> A- L'hypoblaste.</li>
            
                    <li><input type="checkbox" id="q27b" name="q27" value="B"> B- Le trophoblaste.</li>
            
                    <li><input type="checkbox" id="q27c" name="q27" value="C"> C- L'amnios.</li>
            
                    <li><input type="checkbox" id="q27d" name="q27" value="D"> D- L'épiblaste.</li>
            
                    <li><input type="checkbox" id="q27e" name="q27" value="E"> E- L'ectoblaste.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-28" class="question-container">
            <div class="question">
                <p>28.) Le cœlome extra-embryonnaire :</p>
                <ul>
        
                    <li><input type="checkbox" id="q28a" name="q28" value="A"> A- Est une cavité.</li>
            
                    <li><input type="checkbox" id="q28b" name="q28" value="B"> B- Est un feuillet.</li>
            
                    <li><input type="checkbox" id="q28c" name="q28" value="C"> C- Est formé dans la cavité amniotique.</li>
            
                    <li><input type="checkbox" id="q28d" name="q28" value="D"> D- Est formé dans le bouton embryonnaire.</li>
            
                    <li><input type="checkbox" id="q28e" name="q28" value="E"> E- Est formé dans le mésenchyme extra-embryonnaire.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-29" class="question-container">
            <div class="question">
                <p>29.) Les villosités secondaires trophoblastiques :</p>
                <ul>
        
                    <li><input type="checkbox" id="q29a" name="q29" value="A"> A- Sont tapissées de cytotrophoblaste et syncytiotrophoblaste.</li>
            
                    <li><input type="checkbox" id="q29b" name="q29" value="B"> B- Sont tapissées d'amnios.</li>
            
                    <li><input type="checkbox" id="q29c" name="q29" value="C"> C- Sont tapissées d'hypoblaste.</li>
            
                    <li><input type="checkbox" id="q29d" name="q29" value="D"> D- Possèdent un axe mésenchymateux.</li>
            
                    <li><input type="checkbox" id="q29e" name="q29" value="E"> E- Possèdent des vaisseaux.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-30" class="question-container">
            <div class="question">
                <p>30.) Quelles sont les structures présentes à la fin de la 1ère semaine de développement ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q30a" name="q30" value="A"> A- Blastocyste.</li>
            
                    <li><input type="checkbox" id="q30b" name="q30" value="B"> B- Bouton embryonnaire.</li>
            
                    <li><input type="checkbox" id="q30c" name="q30" value="C"> C- Trophoblaste.</li>
            
                    <li><input type="checkbox" id="q30d" name="q30" value="D"> D- Epiblaste.</li>
            
                    <li><input type="checkbox" id="q30e" name="q30" value="E"> E- Hypoblaste.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-31" class="question-container">
            <div class="question">
                <p>31.) Quelles sont les structures présentes à la fin de la 2ème semaine de développement ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q31a" name="q31" value="A"> A- Morula.</li>
            
                    <li><input type="checkbox" id="q31b" name="q31" value="B"> B- Epiblaste.</li>
            
                    <li><input type="checkbox" id="q31c" name="q31" value="C"> C- Hypoblaste.</li>
            
                    <li><input type="checkbox" id="q31d" name="q31" value="D"> D- Cavité amniotique.</li>
            
                    <li><input type="checkbox" id="q31e" name="q31" value="E"> E- Vésicule vitelline.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-32" class="question-container">
            <div class="question">
                <p>32.) Quelles sont les structures présentes à la fin de la 3ème semaine de développement ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q32a" name="q32" value="A"> A- Mésoblaste.</li>
            
                    <li><input type="checkbox" id="q32b" name="q32" value="B"> B- Hypoblaste.</li>
            
                    <li><input type="checkbox" id="q32c" name="q32" value="C"> C- Endoblaste.</li>
            
                    <li><input type="checkbox" id="q32d" name="q32" value="D"> D- Ectoblaste.</li>
            
                    <li><input type="checkbox" id="q32e" name="q32" value="E"> E- Amnios.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-33" class="question-container">
            <div class="question">
                <p>33.) Quelles sont les structures qui font partie des annexes embryonnaires ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q33a" name="q33" value="A"> A- Mésenchyme extra-embryonnaire.</li>
            
                    <li><input type="checkbox" id="q33b" name="q33" value="B"> B- Cordon ombilical.</li>
            
                    <li><input type="checkbox" id="q33c" name="q33" value="C"> C- Mésoblaste.</li>
            
                    <li><input type="checkbox" id="q33d" name="q33" value="D"> D- Endoblaste.</li>
            
                    <li><input type="checkbox" id="q33e" name="q33" value="E"> E- Cavité amniotique.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-34" class="question-container">
            <div class="question">
                <p>34.) Les gonocytes primordiaux :</p>
                <ul>
        
                    <li><input type="checkbox" id="q34a" name="q34" value="A"> A- Sont des cellules sexuelles primitives.</li>
            
                    <li><input type="checkbox" id="q34b" name="q34" value="B"> B- Apparaissent dans le mésoblaste embryonnaire.</li>
            
                    <li><input type="checkbox" id="q34c" name="q34" value="C"> C- Apparaissent dans le mésenchyme extra-embryonnaire.</li>
            
                    <li><input type="checkbox" id="q34d" name="q34" value="D"> D- Apparaissent autour de l'allantoïde.</li>
            
                    <li><input type="checkbox" id="q34e" name="q34" value="E"> E- Subissent une migration.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-35" class="question-container">
            <div class="question">
                <p>35.) Quelles sont les structures qui composent la sphère choriale ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q35a" name="q35" value="A"> A- Cytotrophoblaste.</li>
            
                    <li><input type="checkbox" id="q35b" name="q35" value="B"> B- Syncytiotrophoblaste.</li>
            
                    <li><input type="checkbox" id="q35c" name="q35" value="C"> C- Mésenchyme extra-embryonnaire.</li>
            
                    <li><input type="checkbox" id="q35d" name="q35" value="D"> D- Lacunes remplies de sang maternel.</li>
            
                    <li><input type="checkbox" id="q35e" name="q35" value="E"> E- Ectoderme.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-36" class="question-container">
            <div class="question">
                <p>36.) À la fin de la 3ème semaine, le disque embryonnaire comporte les structures suivantes :</p>
                <ul>
        
                    <li><input type="checkbox" id="q36a" name="q36" value="A"> A- La chorde.</li>
            
                    <li><input type="checkbox" id="q36b" name="q36" value="B"> B- Le mésoderme.</li>
            
                    <li><input type="checkbox" id="q36c" name="q36" value="C"> C- L'ectoderme.</li>
            
                    <li><input type="checkbox" id="q36d" name="q36" value="D"> D- L'endoderme.</li>
            
                    <li><input type="checkbox" id="q36e" name="q36" value="E"> E- Le cordon ombilical.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-37" class="question-container">
            <div class="question">
                <p>37.) Quel est le stade correspondant à l'apparition de la ligne primitive ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q37a" name="q37" value="A"> A- Stade de la 1ère semaine.</li>
            
                    <li><input type="checkbox" id="q37b" name="q37" value="B"> B- Stade de la 2ème semaine.</li>
            
                    <li><input type="checkbox" id="q37c" name="q37" value="C"> C- Stade de la 3ème semaine.</li>
            
                    <li><input type="checkbox" id="q37d" name="q37" value="D"> D- Stade de la 4ème semaine.</li>
            
                    <li><input type="checkbox" id="q37e" name="q37" value="E"> E- Stade de plicatures.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-38" class="question-container">
            <div class="question">
                <p>38.) La ligne primitive :</p>
                <ul>
        
                    <li><input type="checkbox" id="q38a" name="q38" value="A"> A- Permet de mettre en place le mésoblaste.</li>
            
                    <li><input type="checkbox" id="q38b" name="q38" value="B"> B- Est située du côté crânial de l'embryon.</li>
            
                    <li><input type="checkbox" id="q38c" name="q38" value="C"> C- Possède le nœud de Hensen.</li>
            
                    <li><input type="checkbox" id="q38d" name="q38" value="D"> D- Permet la migration cellulaire.</li>
            
                    <li><input type="checkbox" id="q38e" name="q38" value="E"> E- Met en place les axes de l'embryon.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-39" class="question-container">
            <div class="question">
                <p>39.) La membrane pharyngienne :</p>
                <ul>
        
                    <li><input type="checkbox" id="q39a" name="q39" value="A"> A- Est située du côté crânial de l'embryon.</li>
            
                    <li><input type="checkbox" id="q39b" name="q39" value="B"> B- Est située du côté caudal de l'embryon.</li>
            
                    <li><input type="checkbox" id="q39c" name="q39" value="C"> C- Comporte l'ectoderme.</li>
            
                    <li><input type="checkbox" id="q39d" name="q39" value="D"> D- Comporte l'endoderme.</li>
            
                    <li><input type="checkbox" id="q39e" name="q39" value="E"> E- Comporte le mésoderme.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-40" class="question-container">
            <div class="question">
                <p>40.) Trois propositions permettent de localiser la chorde, lesquelles ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q40a" name="q40" value="A"> A- Sous l'ectoderme.</li>
            
                    <li><input type="checkbox" id="q40b" name="q40" value="B"> B- Au-dessus de l'endoderme.</li>
            
                    <li><input type="checkbox" id="q40c" name="q40" value="C"> C- Au milieu du mésoblaste para-axial.</li>
            
                    <li><input type="checkbox" id="q40d" name="q40" value="D"> D- En dehors de l'embryon.</li>
            
                    <li><input type="checkbox" id="q40e" name="q40" value="E"> E- Dans la vésicule vitelline.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-41" class="question-container">
            <div class="question">
                <p>41.) Quelles sont les structures qui dérivent du mésoblaste para-axial ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q41a" name="q41" value="A"> A- Sclérotome.</li>
            
                    <li><input type="checkbox" id="q41b" name="q41" value="B"> B- Myotome.</li>
            
                    <li><input type="checkbox" id="q41c" name="q41" value="C"> C- Dermotome.</li>
            
                    <li><input type="checkbox" id="q41d" name="q41" value="D"> D- Cordon néphrogène.</li>
            
                    <li><input type="checkbox" id="q41e" name="q41" value="E"> E- Splanchnopleure.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-42" class="question-container">
            <div class="question">
                <p>42.) Quelles sont les deux structures issues du mésoblaste latéral ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q42a" name="q42" value="A"> A- Les somites.</li>
            
                    <li><input type="checkbox" id="q42b" name="q42" value="B"> B- Le cordon néphrogène.</li>
            
                    <li><input type="checkbox" id="q42c" name="q42" value="C"> C- La somatopleure.</li>
            
                    <li><input type="checkbox" id="q42d" name="q42" value="D"> D- La splanchnopleure.</li>
            
                    <li><input type="checkbox" id="q42e" name="q42" value="E"> E- Le sclérotome.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-43" class="question-container">
            <div class="question">
                <p>43.) Quelles sont les conséquences des plicatures à la 4ème semaine ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q43a" name="q43" value="A"> A- Formation du cordon ombilical.</li>
            
                    <li><input type="checkbox" id="q43b" name="q43" value="B"> B- Formation du mésoblaste intermédiaire.</li>
            
                    <li><input type="checkbox" id="q43c" name="q43" value="C"> C- Individualisation de l'intestin primitif.</li>
            
                    <li><input type="checkbox" id="q43d" name="q43" value="D"> D- Formation de la chorde.</li>
            
                    <li><input type="checkbox" id="q43e" name="q43" value="E"> E- Déplacement de l'aire cardiaque.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-44" class="question-container">
            <div class="question">
                <p>44.) Quelles sont les structures issues de la neurulation ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q44a" name="q44" value="A"> A- Gouttière neurale.</li>
            
                    <li><input type="checkbox" id="q44b" name="q44" value="B"> B- Plaque neurale.</li>
            
                    <li><input type="checkbox" id="q44c" name="q44" value="C"> C- Crêtes neurales.</li>
            
                    <li><input type="checkbox" id="q44d" name="q44" value="D"> D- Tube neural.</li>
            
                    <li><input type="checkbox" id="q44e" name="q44" value="E"> E- La ligne primitive.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-45" class="question-container">
            <div class="question">
                <p>45.) L'aire cardiaque :</p>
                <ul>
        
                    <li><input type="checkbox" id="q45a" name="q45" value="A"> A- Nait à partir de cellules mésoblastiques.</li>
            
                    <li><input type="checkbox" id="q45b" name="q45" value="B"> B- Nait à partir de cellules endodermiques.</li>
            
                    <li><input type="checkbox" id="q45c" name="q45" value="C"> C- Nait à partir de cellules ectodermiques.</li>
            
                    <li><input type="checkbox" id="q45d" name="q45" value="D"> D- Est formée devant la membrane pharyngienne.</li>
            
                    <li><input type="checkbox" id="q45e" name="q45" value="E"> E- Est formée devant la membrane cloacale.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-46" class="question-container">
            <div class="question">
                <p>46.) Parmi les vaisseaux de la circulation intra-embryonnaire :</p>
                <ul>
        
                    <li><input type="checkbox" id="q46a" name="q46" value="A"> A- L'artère ombilicale.</li>
            
                    <li><input type="checkbox" id="q46b" name="q46" value="B"> B- La veine ombilicale.</li>
            
                    <li><input type="checkbox" id="q46c" name="q46" value="C"> C- L'aorte dorsale droite.</li>
            
                    <li><input type="checkbox" id="q46d" name="q46" value="D"> D- L'aorte dorsale gauche.</li>
            
                    <li><input type="checkbox" id="q46e" name="q46" value="E"> E- Les veines cardinales.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-47" class="question-container">
            <div class="question">
                <p>47.) Le tube endocardique primitif :</p>
                <ul>
        
                    <li><input type="checkbox" id="q47a" name="q47" value="A"> A- Est d'origine mésoblastique.</li>
            
                    <li><input type="checkbox" id="q47b" name="q47" value="B"> B- Est formé après fusion de 2 tubes.</li>
            
                    <li><input type="checkbox" id="q47c" name="q47" value="C"> C- Se positionne en situation ventrale après les plicatures.</li>
            
                    <li><input type="checkbox" id="q47d" name="q47" value="D"> D- Est en connexion avec une seule aorte.</li>
            
                    <li><input type="checkbox" id="q47e" name="q47" value="E"> E- Est en connexion avec les deux aortes dorsales.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-48" class="question-container">
            <div class="question">
                <p>48.) Le cordon ombilical comporte :</p>
                <ul>
        
                    <li><input type="checkbox" id="q48a" name="q48" value="A"> A- Les artères ombilicales.</li>
            
                    <li><input type="checkbox" id="q48b" name="q48" value="B"> B- La veine ombilicale.</li>
            
                    <li><input type="checkbox" id="q48c" name="q48" value="C"> C- La chorde.</li>
            
                    <li><input type="checkbox" id="q48d" name="q48" value="D"> D- L'allantoïde.</li>
            
                    <li><input type="checkbox" id="q48e" name="q48" value="E"> E- Le canal vitellin.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-49" class="question-container">
            <div class="question">
                <p>49.) La paroi du placenta à 4 mois comporte :</p>
                <ul>
        
                    <li><input type="checkbox" id="q49a" name="q49" value="A"> A- Une plaque choriale.</li>
            
                    <li><input type="checkbox" id="q49b" name="q49" value="B"> B- Une plaque basale.</li>
            
                    <li><input type="checkbox" id="q49c" name="q49" value="C"> C- Une chambre intervilleuse.</li>
            
                    <li><input type="checkbox" id="q49d" name="q49" value="D"> D- Des villosités crampons.</li>
            
                    <li><input type="checkbox" id="q49e" name="q49" value="E"> E- Un cœlome extra-embryonnaire.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-50" class="question-container">
            <div class="question">
                <p>50.) Les vrais jumeaux :</p>
                <ul>
        
                    <li><input type="checkbox" id="q50a" name="q50" value="A"> A- Sont monozygotes.</li>
            
                    <li><input type="checkbox" id="q50b" name="q50" value="B"> B- Sont dizygotes.</li>
            
                    <li><input type="checkbox" id="q50c" name="q50" value="C"> C- Naissent de deux ovocytes différents.</li>
            
                    <li><input type="checkbox" id="q50d" name="q50" value="D"> D- Naissent à partir d'un seul ovocyte.</li>
            
                    <li><input type="checkbox" id="q50e" name="q50" value="E"> E- Peuvent être formés au début de la segmentation.</li>
            
                </ul>
            </div>
            
        </div>
        
            

            

            
                
                
                
            </div>
<button type="button" class="reset-quiz-button" onclick="window.location.href = '{% url "dynamic_view" "S2" "Histologie-Embryologie" "EMB2016" %}';">Réessayer tout le Quiz</button>

            <div id="details-section" class="details-section" style="display: none;">
                <h3>Tableau des questions</h3>
                <div class="question-links" id="question-links"></div>
            </div>

            
    
            <script>
const correctAnswers = {
    q1: ['A', 'B', 'C', 'D'],
    q2: ['A', 'C', 'D'],
    q3: ['B'],
    q4: ['A', 'B', 'D', 'E'],
    q5: ['A', 'C', 'D'],
    q6: ['A', 'C', 'D', 'E'],
    q7: ['A', 'B', 'D', 'E'],
    q8: ['D', 'E'],
    q9: ['B'],
    q10: ['A', 'B', 'C', 'D'],
    q11: ['B'],
    q12: ['A', 'C', 'D', 'E'],
    q13: ['B', 'C'],
    q14: ['A', 'B', 'C', 'R'],
    q15: ['A', 'B', 'C', 'D'],
    q16: ['B'],
    q17: ['A', 'B', 'C'],
    q18: ['A', 'B', 'D', 'E'],
    q19: ['A'],
    q20: ['B', 'C', 'D'],
    q21: ['A'],
    q22: ['A'],
    q23: ['B'],
    q24: ['A', 'C', 'E'],
    q25: ['A', 'D'],
    q26: ['B'],
    q27: ['A'],
    q28: ['A', 'E'],
    q29: ['A', 'D'],
    q30: ['A', 'B', 'C'],
    q31: ['B', 'C', 'D', 'E'],
    q32: ['A', 'C', 'D', 'E'],
    q33: ['A', 'B', 'E'],
    q34: ['A', 'C', 'D', 'E'],
    q35: ['A', 'B', 'C', 'D'],
    q36: ['A', 'B', 'C', 'D'],
    q37: ['C'],
    q38: ['A', 'C', 'D', 'E'],
    q39: ['A', 'C', 'D'],
    q40: ['A', 'B', 'C'],
    q41: ['A', 'B', 'C'],
    q42: ['C', 'D'],
    q43: ['A', 'C', 'E'],
    q44: ['A', 'B', 'C', 'D'],
    q45: ['A', 'D'],
    q46: ['C', 'D', 'E'],
    q47: ['A', 'B', 'C', 'E'],
    q48: ['A', 'B', 'D', 'E'],
    q49: ['A', 'B', 'C', 'D'],
    q50: ['A', 'D', 'E'],
};

let userAnswers = {}; // Stocke les réponses de l'utilisateur
let loadedAnswers = {}; // Stocke les réponses chargées pour l'évaluation

// Charger les réponses utilisateur
function loadUserAnswersFromChimie() {
    const savedAnswers = JSON.parse(localStorage.getItem('userAnswersEMB2016'));

    if (savedAnswers) {
        loadedAnswers = savedAnswers; // Stocker les réponses dans la variable globale
        for (const [questionName, answerData] of Object.entries(savedAnswers)) {
            const questionDiv = document.querySelector(`input[name="${questionName}"]`)?.closest('.question-container');
            if (!questionDiv) continue;

            // Appliquer les styles pour les bonnes réponses
            correctAnswers[questionName]?.forEach(correctAnswer => {
                const correctLi = questionDiv.querySelector(`input[value="${correctAnswer}"]`)?.closest('li');
                if (correctLi) {
                    correctLi.style.color = 'green';
                    correctLi.style.fontWeight = 'bold';
                    correctLi.style.textShadow = '1px 1px 2px rgba(0, 0, 0, 0.5)';
                }
            });

            // Appliquer les styles pour les réponses sélectionnées
            answerData.selected.forEach(selectedAnswer => {
                const selectedLi = questionDiv.querySelector(`input[value="${selectedAnswer}"]`)?.closest('li');
                if (selectedLi) {
                    selectedLi.style.color = correctAnswers[questionName]?.includes(selectedAnswer) ? 'lightgreen' : 'red';
                }
            });

            // Désactiver les cases après chargement
            questionDiv.querySelectorAll('input').forEach(input => (input.disabled = true));
        }
    }
}

// Générer les cercles pour les questions
function generateCircles() {
    const totalQuestions = Object.keys(correctAnswers).length;
    const circleContainer = document.getElementById('circle-container');

    for (let i = 1; i <= totalQuestions; i++) {
        const circle = document.createElement('div');
        circle.classList.add('circle', 'yellow'); // Couleur par défaut : jaune
        circle.innerText = i;

        circle.onclick = function () {
            scrollToQuestion(i);
        };

        circleContainer.appendChild(circle);
    }
}

// Mettre à jour les cercles après évaluation
function updateCircles() {
    const circles = document.querySelectorAll('.circle');
    let totalCorrectCircles = 0; // Compteur pour les réponses correctes
    for (let i = 1; i <= Object.keys(correctAnswers).length; i++) {
        const selectedAnswers = loadedAnswers[`q${i}`]?.selected || [];
        const circle = circles[i - 1];

        if (JSON.stringify(correctAnswers[`q${i}`]?.sort()) === JSON.stringify(selectedAnswers.sort())) {
            circle.classList.add('green');
            circle.classList.remove('yellow', 'red');
            totalCorrectCircles++;
        } else if (selectedAnswers.length > 0) {
            circle.classList.add('red');
            circle.classList.remove('yellow', 'green');
        } else {
            circle.classList.add('yellow');
            circle.classList.remove('green', 'red');
        }
    }

    // Mettre à jour la note avec le nombre de cercles verts
    document.getElementById('score').textContent = `${totalCorrectCircles} / ${Object.keys(correctAnswers).length}`;
}

// Défiler jusqu'à une question spécifique
function scrollToQuestion(questionNumber) {
    const questionDiv = document.getElementById(`question-${questionNumber}`);
    if (questionDiv) {
        questionDiv.scrollIntoView({ behavior: 'smooth' });
    }
}

// Charger les réponses et générer les cercles au chargement de la page
window.onload = function () {
    document.getElementById('total-questions').textContent = Object.keys(correctAnswers).length; // Nombre total de questions
    loadUserAnswersFromChimie();
    generateCircles();
    updateCircles();
};




    </script>
</body>
</html>
<script src="{% static 'java/sidebar.js' %}"></script>
<script src="{% static 'java/navbar.js' %}"></script>
<script src="{% static 'java/question-stats.js' %}" defer></script>