<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Luck - Syntanatomie 2022</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

{% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesynt.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylenavbar1.css' %}">


</head>
<body>





<div class="navbar">
    <span class="logo">QuizLuck</span>
    <!-- Bouton pour ouvrir complètement la barre latérale -->
<div class="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
</div>

    <div class="user-menu">
        <div class="user-profile" onclick="toggleMenu()">
            <span class="profile-icon">👤</span>
            <span class="user-name">Bonjour, {{ user_full_name}} !</span>
            <span class="dropdown-arrow">▼</span>
        </div>
        <ul class="dropdown-menu" id="dropdown-menu">
            <li><a href="#" onclick="openAccountModal()">Mon Compte</a></li>
            <li>
                <a href="{% url 'login' %}">
                    <i class="fas fa-sign-out-alt"></i> Déconnexion
                </a>
            </li>
        </ul>
    </div>

</div>

<!-- Pop-up Modifier Mon Compte -->
<div id="account-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Modifier Mon compte</h3>
            <span class="close-btn" onclick="closeAccountModal()">&times;</span>
        </div>
        <div class="modal-body">
            <form id="account-form">
                {% csrf_token %}
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" name="username" value="{{ user_full_name}}" required>
<!-- Champ caché contenant la date de naissance -->
<input type="hidden" id="profile-dob" value="{{ request.user.profile.birth_date|date:'Y-m-d' }}">

                <label for="dob">Date de naissance :</label>
                <input type="date" id="dob" name="dob" value="{{ user.dob|date:'Y-m-d' }}">

                <label for="password">Nouveau mot de passe :</label>
                <input type="password" id="password" name="password" placeholder="Nouveau mot de passe">

                <label for="confirm-password">Répéter le mot de passe :</label>
                <input type="password" id="confirm-password" name="confirm_password" placeholder="Répéter le mot de passe">

                <button type="button" id="submit-form" class="btn-primary">Modifier</button>
            </form>
        </div>
    </div>
</div>

<!-- Pop-up Message -->
<div id="success-popup" class="popup">
    <div class="popup-content">
        <p id="popup-message"></p>
        <button onclick="closePopup()">OK</button>
    </div>
</div>


<div class="sidebar open" id="sidebar">

    <!-- Section Accueil -->
    <h3><i class="fas fa-home"></i> Accueil</h3>
    <ul>
        <li><a href="{% url 'home' %}"><i class="fas fa-arrow-circle-left"></i> Retourner à l'accueil</a></li>
    </ul>

    <!-- Section Modes -->
    <h3><i class="fas fa-gamepad"></i> Modes</h3>
    <ul>
        <li><a href="{% url 'start_challenge' %}"><i class="fas fa-bolt"></i> Mode Challenge</a></li>
	<li><a href="{% url 'revision' %}"><i class="fas fa-book"></i> Mode Révision</a></li>
        <li><a href="{% url 'resultats' %}"><i class="fas fa-chart-line"></i> Vos Résultats</a></li>
    </ul>

<!-- Section Vos Modules -->
<h3><i class="fas fa-folder"></i> Vos Modules</h3>
<div id="sidebar-semesters">
    <ul>
        {% for semester, modules in data.items %}
            <li>
                <span class="semester-title">
                    <i class="fas fa-graduation-cap"></i> {{ semester }}
                    <span class="toggle-arrow">▶</span> <!-- Flèche pour masquer/afficher -->
                </span>
                <ul class="modules-list hidden"> <!-- Liste masquée par défaut -->
                    {% for module in modules %}
                        <li>
                            <!-- Affiche uniquement la description -->
                            <a href="/{{ semester }}/{{ module.name }}/">
                                <i class="fas fa-book"></i> {{ module.description }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>




    <!-- Bouton Déconnexion -->
    <div class="logout-icon">
        <a href="{% url 'login' %}">
            <i class="fas fa-sign-out-alt"></i> Déconnexion
        </a>
    </div>
</div>


    <div id="content">

<div id="score-container" class="score-container">
    <h3>Note : <span id="score">0 / <span id="total-questions"</span></h3>
</div>


        <div class="quiz-title">
            <h1>Resultats detail</h1>
    </div>

         <!-- Conteneur des cercles -->
    <div class="circle-container" id="circle-container">
        <!-- Les cercles seront générés ici par JavaScript -->
    </div>


            <div class="quiz-title">
                <h1>QCM Anatomie 1</h1>
            </div>
            <form id="quiz-form">
<input type="hidden" name="file_name" value="HIST2016">
    
        <div id="question-1" class="question-container">
            <div class="question">
                <p>1.) Les épithéliums :</p>
                <ul>
        
                    <li><input type="checkbox" id="q1a" name="q1" value="A"> A- Peuvent être d'origine mésoblastique.</li>
            
                    <li><input type="checkbox" id="q1b" name="q1" value="B"> B- Sont toujours constitués d'une seule couche cellulaire.</li>
            
                    <li><input type="checkbox" id="q1c" name="q1" value="C"> C- Reposent sur une membrane basale.</li>
            
                    <li><input type="checkbox" id="q1d" name="q1" value="D"> D- Sont vascularisés et innervés.</li>
            
                    <li><input type="checkbox" id="q1e" name="q1" value="E"> E- Sont les seuls constituants des muqueuses.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-2" class="question-container">
            <div class="question">
                <p>2.) La cellule épithéliale :</p>
                <ul>
        
                    <li><input type="checkbox" id="q2a" name="q2" value="A"> A- Est une cellule mobile.</li>
            
                    <li><input type="checkbox" id="q2b" name="q2" value="B"> B- Est une cellule inflammatoire.</li>
            
                    <li><input type="checkbox" id="q2c" name="q2" value="C"> C- Renferme des filaments intermédiaires spécifiques.</li>
            
                    <li><input type="checkbox" id="q2d" name="q2" value="D"> D- Est polarisée.</li>
            
                    <li><input type="checkbox" id="q2e" name="q2" value="E"> E- A pour origine le monocyte sanguin.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-3" class="question-container">
            <div class="question">
                <p>3.) Une muqueuse digestive :</p>
                <ul>
        
                    <li><input type="checkbox" id="q3a" name="q3" value="A"> A- Est constituée d'un épithélium et d'un chorion.</li>
            
                    <li><input type="checkbox" id="q3b" name="q3" value="B"> B- Est constituée d'un épithélium et d'une membrane basale.</li>
            
                    <li><input type="checkbox" id="q3c" name="q3" value="C"> C- Est constituée d'un épithélium et de cellules mésenchymateuses.</li>
            
                    <li><input type="checkbox" id="q3d" name="q3" value="D"> D- Ne se renouvelle jamais.</li>
            
                    <li><input type="checkbox" id="q3e" name="q3" value="E"> E- Est constituée d'un épithélium transitionnel.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-4" class="question-container">
            <div class="question">
                <p>4.) La cohésion des cellules épithéliales est assurée par :</p>
                <ul>
        
                    <li><input type="checkbox" id="q4a" name="q4" value="A"> A- Les protéoglycanes.</li>
            
                    <li><input type="checkbox" id="q4b" name="q4" value="B"> B- Les protéines de jonction.</li>
            
                    <li><input type="checkbox" id="q4c" name="q4" value="C"> C- L'antigène de membrane épithéliale (EMA).</li>
            
                    <li><input type="checkbox" id="q4d" name="q4" value="D"> D- Les cytokératines.</li>
            
                    <li><input type="checkbox" id="q4e" name="q4" value="E"> E- Les molécules d'adhérence.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-5" class="question-container">
            <div class="question">
                <p>5.) Le renouvellement des épithéliums :</p>
                <ul>
        
                    <li><input type="checkbox" id="q5a" name="q5" value="A"> A- Est assuré par la membrane basale.</li>
            
                    <li><input type="checkbox" id="q5b" name="q5" value="B"> B- Est assuré par les cellules de remplacement.</li>
            
                    <li><input type="checkbox" id="q5c" name="q5" value="C"> C- Est assuré par l'assise germinative.</li>
            
                    <li><input type="checkbox" id="q5d" name="q5" value="D"> D- Est un phénomène exceptionnel.</li>
            
                    <li><input type="checkbox" id="q5e" name="q5" value="E"> E- Est assuré par les cellules migratrices.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-6" class="question-container">
            <div class="question">
                <p>6.) L'acide périodique de Schiff (PAS) :</p>
                <ul>
        
                    <li><input type="checkbox" id="q6a" name="q6" value="A"> A- Est un constituant cellulaire.</li>
            
                    <li><input type="checkbox" id="q6b" name="q6" value="B"> B- Est une coloration standard.</li>
            
                    <li><input type="checkbox" id="q6c" name="q6" value="C"> C- Peut mettre en évidence la membrane basale.</li>
            
                    <li><input type="checkbox" id="q6d" name="q6" value="D"> D- Peut mettre en évidence les glycoprotéines.</li>
            
                    <li><input type="checkbox" id="q6e" name="q6" value="E"> E- Peut mettre en évidence la mucine.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-7" class="question-container">
            <div class="question">
                <p>7.) Les filaments intermédiaires des cellules épithéliales :</p>
                <ul>
        
                    <li><input type="checkbox" id="q7a" name="q7" value="A"> A- Sont des molécules d'adhérence.</li>
            
                    <li><input type="checkbox" id="q7b" name="q7" value="B"> B- Sont présents sur la membrane plasmique.</li>
            
                    <li><input type="checkbox" id="q7c" name="q7" value="C"> C- N'ont aucun contact avec les desmosomes.</li>
            
                    <li><input type="checkbox" id="q7d" name="q7" value="D"> D- Peuvent être mis en évidence par la technique d'immunohistochimie.</li>
            
                    <li><input type="checkbox" id="q7e" name="q7" value="E"> E- C'est les cytokines.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-8" class="question-container">
            <div class="question">
                <p>8.) La classification des épithéliums de revêtement est basée sur :</p>
                <ul>
        
                    <li><input type="checkbox" id="q8a" name="q8" value="A"> A- La nature des filaments intermédiaires.</li>
            
                    <li><input type="checkbox" id="q8b" name="q8" value="B"> B- Le nombre de couches cellulaires.</li>
            
                    <li><input type="checkbox" id="q8c" name="q8" value="C"> C- La forme du noyau.</li>
            
                    <li><input type="checkbox" id="q8d" name="q8" value="D"> D- La nature du produit sécrété.</li>
            
                    <li><input type="checkbox" id="q8e" name="q8" value="E"> E- La différenciation apicale.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-9" class="question-container">
            <div class="question">
                <p>9.) Les cellules endothéliales :</p>
                <ul>
        
                    <li><input type="checkbox" id="q9a" name="q9" value="A"> A- Tapissent les cavités naturelles.</li>
            
                    <li><input type="checkbox" id="q9b" name="q9" value="B"> B- Sont des cellules cylindriques.</li>
            
                    <li><input type="checkbox" id="q9c" name="q9" value="C"> C- Sont des cellules pavimenteuses.</li>
            
                    <li><input type="checkbox" id="q9d" name="q9" value="D"> D- Sont souvent pluristratifiées.</li>
            
                    <li><input type="checkbox" id="q9e" name="q9" value="E"> E- Sont d'origine ectodermique.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-10" class="question-container">
            <div class="question">
                <p>10.) Les cytokératines :</p>
                <ul>
        
                    <li><input type="checkbox" id="q10a" name="q10" value="A"> A- Sont les filaments intermédiaires.</li>
            
                    <li><input type="checkbox" id="q10b" name="q10" value="B"> B- Sont des médiateurs cellulaires.</li>
            
                    <li><input type="checkbox" id="q10c" name="q10" value="C"> C- Sont des protéines membranaires.</li>
            
                    <li><input type="checkbox" id="q10d" name="q10" value="D"> D- Sont spécifiques des cellules épithéliales.</li>
            
                    <li><input type="checkbox" id="q10e" name="q10" value="E"> E- Sont des protéines de jonction.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-11" class="question-container">
            <div class="question">
                <p>11.) Les uroplakines :</p>
                <ul>
        
                    <li><input type="checkbox" id="q11a" name="q11" value="A"> A- Sont des plaques d'attache membranaires.</li>
            
                    <li><input type="checkbox" id="q11b" name="q11" value="B"> B- Sont des protéines membranaires.</li>
            
                    <li><input type="checkbox" id="q11c" name="q11" value="C"> C- Sont retrouvées dans les épithéliums digestifs.</li>
            
                    <li><input type="checkbox" id="q11d" name="q11" value="D"> D- Sont des différenciations apicales.</li>
            
                    <li><input type="checkbox" id="q11e" name="q11" value="E"> E- Confèrent une résistance à l'étirement de la membrane plasmique.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-12" class="question-container">
            <div class="question">
                <p>12.) Le plateau strié :</p>
                <ul>
        
                    <li><input type="checkbox" id="q12a" name="q12" value="A"> A- Est une différenciation apicale des cellules de l'épithélium urothélial.</li>
            
                    <li><input type="checkbox" id="q12b" name="q12" value="B"> B- Est constitué des microvillosités ordonnées et mobiles.</li>
            
                    <li><input type="checkbox" id="q12c" name="q12" value="C"> C- Renferme des microvillosités stabilisées par la myosine.</li>
            
                    <li><input type="checkbox" id="q12d" name="q12" value="D"> D- A pour rôle d'augmenter la surface d'échange.</li>
            
                    <li><input type="checkbox" id="q12e" name="q12" value="E"> E- Est un constituant de la cellule musculaire striée squelettique.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-13" class="question-container">
            <div class="question">
                <p>13.) Les glandes sébacées sont des glandes :</p>
                <ul>
        
                    <li><input type="checkbox" id="q13a" name="q13" value="A"> A- Tubuleuses.</li>
            
                    <li><input type="checkbox" id="q13b" name="q13" value="B"> B- Acineuses.</li>
            
                    <li><input type="checkbox" id="q13c" name="q13" value="C"> C- Tubuloacineuses.</li>
            
                    <li><input type="checkbox" id="q13d" name="q13" value="D"> D- Alvéolaires.</li>
            
                    <li><input type="checkbox" id="q13e" name="q13" value="E"> E- Exocrines.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-14" class="question-container">
            <div class="question">
                <p>14.) Les hormones hydrophobes :</p>
                <ul>
        
                    <li><input type="checkbox" id="q14a" name="q14" value="A"> A- Sont produites par les cellules caliciformes.</li>
            
                    <li><input type="checkbox" id="q14b" name="q14" value="B"> B- Agissent au niveau des noyaux de la cellule cible.</li>
            
                    <li><input type="checkbox" id="q14c" name="q14" value="C"> C- Ne peuvent pas traverser la membrane plasmique.</li>
            
                    <li><input type="checkbox" id="q14d" name="q14" value="D"> D- Ont besoin d'un second messager pour agir sur la cellule cible.</li>
            
                    <li><input type="checkbox" id="q14e" name="q14" value="E"> E- Sont des hormones lipophiles.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-15" class="question-container">
            <div class="question">
                <p>15.) Les cellules paracrines :</p>
                <ul>
        
                    <li><input type="checkbox" id="q15a" name="q15" value="A"> A- Sont des cellules endocrines.</li>
            
                    <li><input type="checkbox" id="q15b" name="q15" value="B"> B- Produisent une hormone qui est déversée dans la circulation sanguine.</li>
            
                    <li><input type="checkbox" id="q15c" name="q15" value="C"> C- Produisent une hormone qui va agir sur les cellules avoisinantes.</li>
            
                    <li><input type="checkbox" id="q15d" name="q15" value="D"> D- Sont des glandes exocrines unicellulaires.</li>
            
                    <li><input type="checkbox" id="q15e" name="q15" value="E"> E- Sont de nature épithéliale.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-16" class="question-container">
            <div class="question">
                <p>16.) Le rhabdomyocyte :</p>
                <ul>
        
                    <li><input type="checkbox" id="q16a" name="q16" value="A"> A- Est une cellule contractile.</li>
            
                    <li><input type="checkbox" id="q16b" name="q16" value="B"> B- Possède un noyau central.</li>
            
                    <li><input type="checkbox" id="q16c" name="q16" value="C"> C- A une longueur constante.</li>
            
                    <li><input type="checkbox" id="q16d" name="q16" value="D"> D- N'est jamais innervé.</li>
            
                    <li><input type="checkbox" id="q16e" name="q16" value="E"> E- Est riche en hémoglobine.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-17" class="question-container">
            <div class="question">
                <p>17.) Le sarcomère :</p>
                <ul>
        
                    <li><input type="checkbox" id="q17a" name="q17" value="A"> A- Est constitué d'une bande «A» et deux bandes «I».</li>
            
                    <li><input type="checkbox" id="q17b" name="q17" value="B"> B- Est constitué de deux moitiés de bande «A» et une bande «I».</li>
            
                    <li><input type="checkbox" id="q17c" name="q17" value="C"> C- Est constitué de myofilaments épais uniquement.</li>
            
                    <li><input type="checkbox" id="q17d" name="q17" value="D"> D- Est limité par deux bandes «H».</li>
            
                    <li><input type="checkbox" id="q17e" name="q17" value="E"> E- Est constitué d'une bande «A» et deux moitiés d'une bande «I».</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-18" class="question-container">
            <div class="question">
                <p>18.) Le myofilament fin :</p>
                <ul>
        
                    <li><input type="checkbox" id="q18a" name="q18" value="A"> A- Est constitué de Myosine de type II.</li>
            
                    <li><input type="checkbox" id="q18b" name="q18" value="B"> B- Est constitué de Desmine.</li>
            
                    <li><input type="checkbox" id="q18c" name="q18" value="C"> C- Est constitué de tropomyosine.</li>
            
                    <li><input type="checkbox" id="q18d" name="q18" value="D"> D- Est constitué d'actine G.</li>
            
                    <li><input type="checkbox" id="q18e" name="q18" value="E"> E- Est limité par deux stries Z.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-19" class="question-container">
            <div class="question">
                <p>19.) La myoglobine :</p>
                <ul>
        
                    <li><input type="checkbox" id="q19a" name="q19" value="A"> A- Est produite par le réticulum sarcoplasmique.</li>
            
                    <li><input type="checkbox" id="q19b" name="q19" value="B"> B- Est produite par les mitochondries.</li>
            
                    <li><input type="checkbox" id="q19c" name="q19" value="C"> C- Fixe le calcium.</li>
            
                    <li><input type="checkbox" id="q19d" name="q19" value="D"> D- Est une molécule contractile.</li>
            
                    <li><input type="checkbox" id="q19e" name="q19" value="E"> E- Est un pigment respiratoire.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-20" class="question-container">
            <div class="question">
                <p>20.) Les filaments de desmine :</p>
                <ul>
        
                    <li><input type="checkbox" id="q20a" name="q20" value="A"> A- C'est des filaments intermédiaires spécifiques à l'adipocyte.</li>
            
                    <li><input type="checkbox" id="q20b" name="q20" value="B"> B- Unissent les stries scalariformes entre elles.</li>
            
                    <li><input type="checkbox" id="q20c" name="q20" value="C"> C- Font partie des protéines exosarcomériques.</li>
            
                    <li><input type="checkbox" id="q20d" name="q20" value="D"> D- Sont des filaments contractiles.</li>
            
                    <li><input type="checkbox" id="q20e" name="q20" value="E"> E- Renferment la tropomyosine.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-21" class="question-container">
            <div class="question">
                <p>21.) La dystrophine :</p>
                <ul>
        
                    <li><input type="checkbox" id="q21a" name="q21" value="A"> A- Fait partie du système sous sarcolémique d'ancrage.</li>
            
                    <li><input type="checkbox" id="q21b" name="q21" value="B"> B- Est mutée dans la myasthénie.</li>
            
                    <li><input type="checkbox" id="q21c" name="q21" value="C"> C- Peut être mise en évidence par la technique d'immunohistochimie.</li>
            
                    <li><input type="checkbox" id="q21d" name="q21" value="D"> D- Est une protéine sarcomérique.</li>
            
                    <li><input type="checkbox" id="q21e" name="q21" value="E"> E- Est une sous-unité de la troponine.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-22" class="question-container">
            <div class="question">
                <p>22.) L'hydroxylation de la proline :</p>
                <ul>
        
                    <li><input type="checkbox" id="q22a" name="q22" value="A"> A- Nécessite de la vitamine D.</li>
            
                    <li><input type="checkbox" id="q22b" name="q22" value="B"> B- Est une étape importante dans la biosynthèse des fibres de collagène.</li>
            
                    <li><input type="checkbox" id="q22c" name="q22" value="C"> C- Nécessite de l'acide ascorbique.</li>
            
                    <li><input type="checkbox" id="q22d" name="q22" value="D"> D- Nécessite de la vitamine C.</li>
            
                    <li><input type="checkbox" id="q22e" name="q22" value="E"> E- Fait défaut dans le syndrome d'Ehlers-Danlos.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-23" class="question-container">
            <div class="question">
                <p>23.) L'adipocyte de la graisse blanche :</p>
                <ul>
        
                    <li><input type="checkbox" id="q23a" name="q23" value="A"> A- Est une cellule allongée à noyau central.</li>
            
                    <li><input type="checkbox" id="q23b" name="q23" value="B"> B- Est entourée d'une membrane basale.</li>
            
                    <li><input type="checkbox" id="q23c" name="q23" value="C"> C- Renferme du mucus.</li>
            
                    <li><input type="checkbox" id="q23d" name="q23" value="D"> D- Est une cellule mobile.</li>
            
                    <li><input type="checkbox" id="q23e" name="q23" value="E"> E- Produit la leptine.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-24" class="question-container">
            <div class="question">
                <p>24.) La mise en évidence de la vacuole graisseuse des adipocytes :</p>
                <ul>
        
                    <li><input type="checkbox" id="q24a" name="q24" value="A"> A- Est possible par la technique histologique standard.</li>
            
                    <li><input type="checkbox" id="q24b" name="q24" value="B"> B- Nécessite une étude en congélation.</li>
            
                    <li><input type="checkbox" id="q24c" name="q24" value="C"> C- Nécessite le PAS (Acide périodique de Schiff).</li>
            
                    <li><input type="checkbox" id="q24d" name="q24" value="D"> D- Nécessite une coloration de Von Kossa.</li>
            
                    <li><input type="checkbox" id="q24e" name="q24" value="E"> E- Nécessite une coloration à l'huile rouge.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-25" class="question-container">
            <div class="question">
                <p>25.) Le récepteur Beta 3 Adrénergique :</p>
                <ul>
        
                    <li><input type="checkbox" id="q25a" name="q25" value="A"> A- Capte le glucose.</li>
            
                    <li><input type="checkbox" id="q25b" name="q25" value="B"> B- Capte le sodium.</li>
            
                    <li><input type="checkbox" id="q25c" name="q25" value="C"> C- Capte les catécholamines.</li>
            
                    <li><input type="checkbox" id="q25d" name="q25" value="D"> D- Joue un rôle dans la liposynthèse.</li>
            
                    <li><input type="checkbox" id="q25e" name="q25" value="E"> E- Joue un rôle dans la lipolyse.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-26" class="question-container">
            <div class="question">
                <p>26.) L'adipocyte de la graisse brune :</p>
                <ul>
        
                    <li><input type="checkbox" id="q26a" name="q26" value="A"> A- Est une cellule épithéliale.</li>
            
                    <li><input type="checkbox" id="q26b" name="q26" value="B"> B- Renferme plusieurs enclaves lipidiques.</li>
            
                    <li><input type="checkbox" id="q26c" name="q26" value="C"> C- Est retrouvé uniquement chez les animaux hibernants.</li>
            
                    <li><input type="checkbox" id="q26d" name="q26" value="D"> D- Produit de la Myoglobine.</li>
            
                    <li><input type="checkbox" id="q26e" name="q26" value="E"> E- Produit la chaleur sans frisson.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-27" class="question-container">
            <div class="question">
                <p>27.) L'histiocyte :</p>
                <ul>
        
                    <li><input type="checkbox" id="q27a" name="q27" value="A"> A- Est une cellule d'origine mésenchymateuse.</li>
            
                    <li><input type="checkbox" id="q27b" name="q27" value="B"> B- Est un réservoir de triglycéride.</li>
            
                    <li><input type="checkbox" id="q27c" name="q27" value="C"> C- Peut s'activer et devenir un macrophage.</li>
            
                    <li><input type="checkbox" id="q27d" name="q27" value="D"> D- Peut se transformer en cellule géante.</li>
            
                    <li><input type="checkbox" id="q27e" name="q27" value="E"> E- Joue un rôle dans l'immunité spécifique.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-28" class="question-container">
            <div class="question">
                <p>28.) La cellule géante de Langhans :</p>
                <ul>
        
                    <li><input type="checkbox" id="q28a" name="q28" value="A"> A- A pour origine le monocyte sanguin.</li>
            
                    <li><input type="checkbox" id="q28b" name="q28" value="B"> B- Est le résultat d'une transformation du fibroblaste.</li>
            
                    <li><input type="checkbox" id="q28c" name="q28" value="C"> C- Est une cellule multivacuolaire.</li>
            
                    <li><input type="checkbox" id="q28d" name="q28" value="D"> D- Est observée dans la tuberculose.</li>
            
                    <li><input type="checkbox" id="q28e" name="q28" value="E"> E- Est le résultat d'une transformation de l'histiocyte.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-29" class="question-container">
            <div class="question">
                <p>29.) Les glycosaminoglycanes :</p>
                <ul>
        
                    <li><input type="checkbox" id="q29a" name="q29" value="A"> A- Sont des chaînes polypeptidiques.</li>
            
                    <li><input type="checkbox" id="q29b" name="q29" value="B"> B- Ont une forte charge négative.</li>
            
                    <li><input type="checkbox" id="q29c" name="q29" value="C"> C- Ont un pouvoir osmotique important.</li>
            
                    <li><input type="checkbox" id="q29d" name="q29" value="D"> D- Sont élaborés par le fibroblaste.</li>
            
                    <li><input type="checkbox" id="q29e" name="q29" value="E"> E- Sont souvent sulfatés.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-30" class="question-container">
            <div class="question">
                <p>30.) Les tissus conjonctifs ont pour rôle :</p>
                <ul>
        
                    <li><input type="checkbox" id="q30a" name="q30" value="A"> A- Le soutien des épithéliums.</li>
            
                    <li><input type="checkbox" id="q30b" name="q30" value="B"> B- Le stockage d'énergie.</li>
            
                    <li><input type="checkbox" id="q30c" name="q30" value="C"> C- La défense de l'organisme.</li>
            
                    <li><input type="checkbox" id="q30d" name="q30" value="D"> D- La cicatrisation.</li>
            
                    <li><input type="checkbox" id="q30e" name="q30" value="E"> E- L'élaboration et le transport métabolique.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-31" class="question-container">
            <div class="question">
                <p>31.) L'unité de base des microfibrilles du collagène :</p>
                <ul>
        
                    <li><input type="checkbox" id="q31a" name="q31" value="A"> A- Est le tropoélastine.</li>
            
                    <li><input type="checkbox" id="q31b" name="q31" value="B"> B- Est le sarcomère.</li>
            
                    <li><input type="checkbox" id="q31c" name="q31" value="C"> C- Est produite par le fibroblaste.</li>
            
                    <li><input type="checkbox" id="q31d" name="q31" value="D"> D- Est produite par l'ostéoblaste.</li>
            
                    <li><input type="checkbox" id="q31e" name="q31" value="E"> E- Est anormale dans le scorbut.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-32" class="question-container">
            <div class="question">
                <p>32.) Parmi les cellules ostéoformatrices on retient :</p>
                <ul>
        
                    <li><input type="checkbox" id="q32a" name="q32" value="A"> A- L'ostéoblaste.</li>
            
                    <li><input type="checkbox" id="q32b" name="q32" value="B"> B- La cellule bordante.</li>
            
                    <li><input type="checkbox" id="q32c" name="q32" value="C"> C- L'ostéoclaste.</li>
            
                    <li><input type="checkbox" id="q32d" name="q32" value="D"> D- L'ostéocyte.</li>
            
                    <li><input type="checkbox" id="q32e" name="q32" value="E"> E- Le chondrocyte.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-33" class="question-container">
            <div class="question">
                <p>33.) La matrice extracellulaire du tissu osseux :</p>
                <ul>
        
                    <li><input type="checkbox" id="q33a" name="q33" value="A"> A- Renferme du collagène de type IV.</li>
            
                    <li><input type="checkbox" id="q33b" name="q33" value="B"> B- Est riche en fibres élastiques.</li>
            
                    <li><input type="checkbox" id="q33c" name="q33" value="C"> C- Est minéralisée.</li>
            
                    <li><input type="checkbox" id="q33d" name="q33" value="D"> D- Participe aux échanges phosphocalciques.</li>
            
                    <li><input type="checkbox" id="q33e" name="q33" value="E"> E- Est entièrement détruite par les protéases.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-34" class="question-container">
            <div class="question">
                <p>34.) Le phénomène de nucléation correspond à :</p>
                <ul>
        
                    <li><input type="checkbox" id="q34a" name="q34" value="A"> A- L'assemblage des molécules d'actine G.</li>
            
                    <li><input type="checkbox" id="q34b" name="q34" value="B"> B- La transformation d'un macrophage en cellule géante multinucléée.</li>
            
                    <li><input type="checkbox" id="q34c" name="q34" value="C"> C- La précipitation des cristaux d'hydroxyapatite de phosphate et de calcium.</li>
            
                    <li><input type="checkbox" id="q34d" name="q34" value="D"> D- Un assemblage des molécules de tropocollagène en protofibrilles.</li>
            
                    <li><input type="checkbox" id="q34e" name="q34" value="E"> E- Un phénomène intracellulaire.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-35" class="question-container">
            <div class="question">
                <p>35.) L'ostéoclaste :</p>
                <ul>
        
                    <li><input type="checkbox" id="q35a" name="q35" value="A"> A- Est une cellule ostéoformatrice.</li>
            
                    <li><input type="checkbox" id="q35b" name="q35" value="B"> B- Est une cellule épithéliale polarisée.</li>
            
                    <li><input type="checkbox" id="q35c" name="q35" value="C"> C- Est une cellule multinucléée.</li>
            
                    <li><input type="checkbox" id="q35d" name="q35" value="D"> D- Renferme l'anhydrase carbonique.</li>
            
                    <li><input type="checkbox" id="q35e" name="q35" value="E"> E- Est riche en lysosomes.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-36" class="question-container">
            <div class="question">
                <p>36.) L'os mature définitif :</p>
                <ul>
        
                    <li><input type="checkbox" id="q36a" name="q36" value="A"> A- Est un os non lamellaire.</li>
            
                    <li><input type="checkbox" id="q36b" name="q36" value="B"> B- Est un os compact.</li>
            
                    <li><input type="checkbox" id="q36c" name="q36" value="C"> C- Est un os spongieux.</li>
            
                    <li><input type="checkbox" id="q36d" name="q36" value="D"> D- Est le résultat d'une ossification secondaire.</li>
            
                    <li><input type="checkbox" id="q36e" name="q36" value="E"> E- Renferme que des ostéocytes.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-37" class="question-container">
            <div class="question">
                <p>37.) Le périoste :</p>
                <ul>
        
                    <li><input type="checkbox" id="q37a" name="q37" value="A"> A- Est une membrane conjonctive.</li>
            
                    <li><input type="checkbox" id="q37b" name="q37" value="B"> B- Élabore les ostéones.</li>
            
                    <li><input type="checkbox" id="q37c" name="q37" value="C"> C- Élabore le système lamellaire fondamental externe.</li>
            
                    <li><input type="checkbox" id="q37d" name="q37" value="D"> D- Renferme des ostéoclastes.</li>
            
                    <li><input type="checkbox" id="q37e" name="q37" value="E"> E- Permet la croissance de l'os en longueur.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-38" class="question-container">
            <div class="question">
                <p>38.) Parmi les constituants de la lacune de Howship on retient :</p>
                <ul>
        
                    <li><input type="checkbox" id="q38a" name="q38" value="A"> A- Les ostéoclastes.</li>
            
                    <li><input type="checkbox" id="q38b" name="q38" value="B"> B- Les cellules mésenchymateuses.</li>
            
                    <li><input type="checkbox" id="q38c" name="q38" value="C"> C- Le capillaire sanguin à extrémité fermée.</li>
            
                    <li><input type="checkbox" id="q38d" name="q38" value="D"> D- Les fibres de collagène.</li>
            
                    <li><input type="checkbox" id="q38e" name="q38" value="E"> E- Les fibres élastiques.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-39" class="question-container">
            <div class="question">
                <p>39.) Le neurone :</p>
                <ul>
        
                    <li><input type="checkbox" id="q39a" name="q39" value="A"> A- Est une cellule d'origine endodermique.</li>
            
                    <li><input type="checkbox" id="q39b" name="q39" value="B"> B- Est une cellule hautement différenciée.</li>
            
                    <li><input type="checkbox" id="q39c" name="q39" value="C"> C- Renferme des enclaves lipidiques.</li>
            
                    <li><input type="checkbox" id="q39d" name="q39" value="D"> D- Renferme des corps de Nissl.</li>
            
                    <li><input type="checkbox" id="q39e" name="q39" value="E"> E- Est constitué d'une dendrite et plusieurs axones.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-40" class="question-container">
            <div class="question">
                <p>40.) Les corps de Nissl correspondent à des :</p>
                <ul>
        
                    <li><input type="checkbox" id="q40a" name="q40" value="A"> A- Neurotubules.</li>
            
                    <li><input type="checkbox" id="q40b" name="q40" value="B"> B- Amas de ribosomes.</li>
            
                    <li><input type="checkbox" id="q40c" name="q40" value="C"> C- Pigments mélaniques.</li>
            
                    <li><input type="checkbox" id="q40d" name="q40" value="D"> D- Neurofilaments.</li>
            
                    <li><input type="checkbox" id="q40e" name="q40" value="E"> E- Amas de mucus.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-41" class="question-container">
            <div class="question">
                <p>41.) La gaine de myéline du système nerveux périphérique est produite par :</p>
                <ul>
        
                    <li><input type="checkbox" id="q41a" name="q41" value="A"> A- Les astrocytes.</li>
            
                    <li><input type="checkbox" id="q41b" name="q41" value="B"> B- Les neurones.</li>
            
                    <li><input type="checkbox" id="q41c" name="q41" value="C"> C- Les cellules de Schwann.</li>
            
                    <li><input type="checkbox" id="q41d" name="q41" value="D"> D- Les oligodendrocytes.</li>
            
                    <li><input type="checkbox" id="q41e" name="q41" value="E"> E- Les microgliocytes.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-42" class="question-container">
            <div class="question">
                <p>42.) Le flux axonal :</p>
                <ul>
        
                    <li><input type="checkbox" id="q42a" name="q42" value="A"> A- Correspond au transport des vésicules synaptiques.</li>
            
                    <li><input type="checkbox" id="q42b" name="q42" value="B"> B- Est bidirectionnel (Antérograde et rétrograde).</li>
            
                    <li><input type="checkbox" id="q42c" name="q42" value="C"> C- Nécessite les kinésines.</li>
            
                    <li><input type="checkbox" id="q42d" name="q42" value="D"> D- Nécessite la dystrophine.</li>
            
                    <li><input type="checkbox" id="q42e" name="q42" value="E"> E- Se déroule dans le neurone.</li>
            
                </ul>
            </div>
            
        </div>
        
            

            

            
                
                
                
            </div>
<button type="button" class="reset-quiz-button" onclick="window.location.href = '{% url "dynamic_view" "S2" "Histologie-Embryologie" "HIST2016" %}';">Réessayer tout le Quiz</button>

            <div id="details-section" class="details-section" style="display: none;">
                <h3>Tableau des questions</h3>
                <div class="question-links" id="question-links"></div>
            </div>

            
    
            <script>
const correctAnswers = {
    q1: ['A', 'C'],
    q2: ['C', 'D'],
    q3: ['A', 'B'],
    q4: ['B', 'E'],
    q5: ['B', 'C'],
    q6: ['C', 'D', 'E'],
    q7: ['D'],
    q8: ['B', 'E'],
    q9: ['C'],
    q10: ['A', 'D'],
    q11: ['B', 'D', 'E'],
    q12: ['C', 'D'],
    q13: ['D'],
    q14: ['B', 'E'],
    q15: ['A', 'C', 'E'],
    q16: ['A'],
    q17: ['E'],
    q18: ['C', 'D'],
    q19: ['B', 'E'],
    q20: ['C'],
    q21: ['A', 'C'],
    q22: ['B', 'C', 'D'],
    q23: ['B', 'E'],
    q24: ['B', 'E'],
    q25: ['C', 'E'],
    q26: ['B', 'E'],
    q27: ['C', 'D', 'E'],
    q28: ['A', 'D', 'E'],
    q29: ['B', 'C', 'D', 'E'],
    q30: ['A', 'B', 'C', 'D', 'E'],
    q31: ['C', 'D', 'E'],
    q32: ['A', 'B', 'D'],
    q33: ['C', 'D'],
    q34: ['C', 'D'],
    q35: ['C', 'D', 'E'],
    q36: ['A', 'B', 'C', 'D'],
    q37: ['A', 'C'],
    q38: ['A', 'B', 'C', 'D'],
    q39: ['A', 'B', 'D'],
    q40: ['B'],
    q41: ['C'],
    q42: ['A', 'B', 'C', 'E'],
};

let userAnswers = {}; // Stocke les réponses de l'utilisateur
let loadedAnswers = {}; // Stocke les réponses chargées pour l'évaluation

// Charger les réponses utilisateur
function loadUserAnswersFromChimie() {
    const savedAnswers = JSON.parse(localStorage.getItem('userAnswersHIST2016'));

    if (savedAnswers) {
        loadedAnswers = savedAnswers; // Stocker les réponses dans la variable globale
        for (const [questionName, answerData] of Object.entries(savedAnswers)) {
            const questionDiv = document.querySelector(`input[name="${questionName}"]`)?.closest('.question-container');
            if (!questionDiv) continue;

            // Appliquer les styles pour les bonnes réponses
            correctAnswers[questionName]?.forEach(correctAnswer => {
                const correctLi = questionDiv.querySelector(`input[value="${correctAnswer}"]`)?.closest('li');
                if (correctLi) {
                    correctLi.style.color = 'green';
                    correctLi.style.fontWeight = 'bold';
                    correctLi.style.textShadow = '1px 1px 2px rgba(0, 0, 0, 0.5)';
                }
            });

            // Appliquer les styles pour les réponses sélectionnées
            answerData.selected.forEach(selectedAnswer => {
                const selectedLi = questionDiv.querySelector(`input[value="${selectedAnswer}"]`)?.closest('li');
                if (selectedLi) {
                    selectedLi.style.color = correctAnswers[questionName]?.includes(selectedAnswer) ? 'lightgreen' : 'red';
                }
            });

            // Désactiver les cases après chargement
            questionDiv.querySelectorAll('input').forEach(input => (input.disabled = true));
        }
    }
}

// Générer les cercles pour les questions
function generateCircles() {
    const totalQuestions = Object.keys(correctAnswers).length;
    const circleContainer = document.getElementById('circle-container');

    for (let i = 1; i <= totalQuestions; i++) {
        const circle = document.createElement('div');
        circle.classList.add('circle', 'yellow'); // Couleur par défaut : jaune
        circle.innerText = i;

        circle.onclick = function () {
            scrollToQuestion(i);
        };

        circleContainer.appendChild(circle);
    }
}

// Mettre à jour les cercles après évaluation
function updateCircles() {
    const circles = document.querySelectorAll('.circle');
    let totalCorrectCircles = 0; // Compteur pour les réponses correctes
    for (let i = 1; i <= Object.keys(correctAnswers).length; i++) {
        const selectedAnswers = loadedAnswers[`q${i}`]?.selected || [];
        const circle = circles[i - 1];

        if (JSON.stringify(correctAnswers[`q${i}`]?.sort()) === JSON.stringify(selectedAnswers.sort())) {
            circle.classList.add('green');
            circle.classList.remove('yellow', 'red');
            totalCorrectCircles++;
        } else if (selectedAnswers.length > 0) {
            circle.classList.add('red');
            circle.classList.remove('yellow', 'green');
        } else {
            circle.classList.add('yellow');
            circle.classList.remove('green', 'red');
        }
    }

    // Mettre à jour la note avec le nombre de cercles verts
    document.getElementById('score').textContent = `${totalCorrectCircles} / ${Object.keys(correctAnswers).length}`;
}

// Défiler jusqu'à une question spécifique
function scrollToQuestion(questionNumber) {
    const questionDiv = document.getElementById(`question-${questionNumber}`);
    if (questionDiv) {
        questionDiv.scrollIntoView({ behavior: 'smooth' });
    }
}

// Charger les réponses et générer les cercles au chargement de la page
window.onload = function () {
    document.getElementById('total-questions').textContent = Object.keys(correctAnswers).length; // Nombre total de questions
    loadUserAnswersFromChimie();
    generateCircles();
    updateCircles();
};




    </script>
</body>
</html>
<script src="{% static 'java/sidebar.js' %}"></script>
<script src="{% static 'java/navbar.js' %}"></script>
<script src="{% static 'java/question-stats.js' %}" defer></script>