<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Luck - Syntanatomie 2022</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

{% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesynt.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylenavbar1.css' %}">


</head>
<body>





<div class="navbar">
    <span class="logo">QuizLuck</span>
    <!-- Bouton pour ouvrir complètement la barre latérale -->
<div class="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
</div>

    <div class="user-menu">
        <div class="user-profile" onclick="toggleMenu()">
            <span class="profile-icon">👤</span>
            <span class="user-name">Bonjour, {{ user_full_name}} !</span>
            <span class="dropdown-arrow">▼</span>
        </div>
        <ul class="dropdown-menu" id="dropdown-menu">
            <li><a href="#" onclick="openAccountModal()">Mon Compte</a></li>
            <li>
                <a href="{% url 'login' %}">
                    <i class="fas fa-sign-out-alt"></i> Déconnexion
                </a>
            </li>
        </ul>
    </div>

</div>

<!-- Pop-up Modifier Mon Compte -->
<div id="account-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Modifier Mon compte</h3>
            <span class="close-btn" onclick="closeAccountModal()">&times;</span>
        </div>
        <div class="modal-body">
            <form id="account-form">
                {% csrf_token %}
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" name="username" value="{{ user_full_name}}" required>
<!-- Champ caché contenant la date de naissance -->
<input type="hidden" id="profile-dob" value="{{ request.user.profile.birth_date|date:'Y-m-d' }}">

                <label for="dob">Date de naissance :</label>
                <input type="date" id="dob" name="dob" value="{{ user.dob|date:'Y-m-d' }}">

                <label for="password">Nouveau mot de passe :</label>
                <input type="password" id="password" name="password" placeholder="Nouveau mot de passe">

                <label for="confirm-password">Répéter le mot de passe :</label>
                <input type="password" id="confirm-password" name="confirm_password" placeholder="Répéter le mot de passe">

                <button type="button" id="submit-form" class="btn-primary">Modifier</button>
            </form>
        </div>
    </div>
</div>

<!-- Pop-up Message -->
<div id="success-popup" class="popup">
    <div class="popup-content">
        <p id="popup-message"></p>
        <button onclick="closePopup()">OK</button>
    </div>
</div>


<div class="sidebar open" id="sidebar">

    <!-- Section Accueil -->
    <h3><i class="fas fa-home"></i> Accueil</h3>
    <ul>
        <li><a href="{% url 'home' %}"><i class="fas fa-arrow-circle-left"></i> Retourner à l'accueil</a></li>
    </ul>

    <!-- Section Modes -->
    <h3><i class="fas fa-gamepad"></i> Modes</h3>
    <ul>
        <li><a href="{% url 'start_challenge' %}"><i class="fas fa-bolt"></i> Mode Challenge</a></li>
	<li><a href="{% url 'revision' %}"><i class="fas fa-book"></i> Mode Révision</a></li>
        <li><a href="{% url 'resultats' %}"><i class="fas fa-chart-line"></i> Vos Résultats</a></li>
    </ul>

<!-- Section Vos Modules -->
<h3><i class="fas fa-folder"></i> Vos Modules</h3>
<div id="sidebar-semesters">
    <ul>
        {% for semester, modules in data.items %}
            <li>
                <span class="semester-title">
                    <i class="fas fa-graduation-cap"></i> {{ semester }}
                    <span class="toggle-arrow">▶</span> <!-- Flèche pour masquer/afficher -->
                </span>
                <ul class="modules-list hidden"> <!-- Liste masquée par défaut -->
                    {% for module in modules %}
                        <li>
                            <!-- Affiche uniquement la description -->
                            <a href="/{{ semester }}/{{ module.name }}/">
                                <i class="fas fa-book"></i> {{ module.description }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>




    <!-- Bouton Déconnexion -->
    <div class="logout-icon">
        <a href="{% url 'login' %}">
            <i class="fas fa-sign-out-alt"></i> Déconnexion
        </a>
    </div>
</div>


    <div id="content">

<div id="score-container" class="score-container">
    <h3>Note : <span id="score">0 / <span id="total-questions"</span></h3>
</div>


        <div class="quiz-title">
            <h1>Resultats detail</h1>
    </div>

         <!-- Conteneur des cercles -->
    <div class="circle-container" id="circle-container">
        <!-- Les cercles seront générés ici par JavaScript -->
    </div>

            <div class="quiz-title">
                <h1>QCM Ophtalmologie</h1>
            </div>
            <form id="quiz-form">
                <input type="hidden" id='exam_name' name="exam_name" value="OPH2022">
    {% csrf_token %}>
    
        <div id="question-1" class="question-container">
            <div class="question">
                <p>1.) Quels sont les éléments qui orientent vers le diagnostic d'une conjonctivite virale?</p>
                <ul>
        
                    <li><input type="checkbox" id="q1a" name="q1" value="A"> A- Adénopathie prétragienne</li>
            
                    <li><input type="checkbox" id="q1b" name="q1" value="B"> B- Sécrétions séro-muqueuses</li>
            
                    <li><input type="checkbox" id="q1c" name="q1" value="C"> C- Paupières collées le matin</li>
            
                    <li><input type="checkbox" id="q1d" name="q1" value="D"> D- Chémosis</li>
            
                    <li><input type="checkbox" id="q1e" name="q1" value="E"> E- Hémorragies sous-conjonctivales</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-2" class="question-container">
            <div class="question">
                <p>2.) Comment se fait la prise en charge thérapeutique des conjonctivites virales à adénovirus?</p>
                <ul>
        
                    <li><input type="checkbox" id="q2a" name="q2" value="A"> A- Prescription d'azythromycine locale (ATB)</li>
            
                    <li><input type="checkbox" id="q2b" name="q2" value="B"> B- Règles d'hygiène et lavage oculaire</li>
            
                    <li><input type="checkbox" id="q2c" name="q2" value="C"> C- Prescription de Tobramycine locale</li>
            
                    <li><input type="checkbox" id="q2d" name="q2" value="D"> D- Pas de prescription d'antiseptique oculaire</li>
            
                    <li><input type="checkbox" id="q2e" name="q2" value="E"> E- Prescription d'antiseptique oculaire</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-3" class="question-container">
            <div class="question">
                <p>3.) Quels sont les signes de gravité que vous devez chercher chez cette dame?</p>
                <ul>
        
                    <li><input type="checkbox" id="q3a" name="q3" value="A"> A- Altérations du segment antérieur</li>
            
                    <li><input type="checkbox" id="q3b" name="q3" value="B"> B- Hypotonie oculaire</li>
            
                    <li><input type="checkbox" id="q3c" name="q3" value="C"> C- Douleurs importantes</li>
            
                    <li><input type="checkbox" id="q3d" name="q3" value="D"> D- Test fluorescéine négatif</li>
            
                    <li><input type="checkbox" id="q3e" name="q3" value="E"> E- Cercle périkératique</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-4" class="question-container">
            <div class="question">
                <p>4.) Quel(s) diagnostic(s) allez-vous évoquer?</p>
                <ul>
        
                    <li><input type="checkbox" id="q4a" name="q4" value="A"> A- Un glaucome néovasculaire</li>
            
                    <li><input type="checkbox" id="q4b" name="q4" value="B"> B- Une épisclérite</li>
            
                    <li><input type="checkbox" id="q4c" name="q4" value="C"> C- Une kératite</li>
            
                    <li><input type="checkbox" id="q4d" name="q4" value="D"> D- Une uvéite antérieure</li>
            
                    <li><input type="checkbox" id="q4e" name="q4" value="E"> E- Une sclérite</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-5" class="question-container">
            <div class="question">
                <p>5.) Quel diagnostic vous allez retenir?</p>
                <ul>
        
                    <li><input type="checkbox" id="q5a" name="q5" value="A"> A- Un glaucome néovasculaire</li>
            
                    <li><input type="checkbox" id="q5b" name="q5" value="B"> B- Une épisclérite</li>
            
                    <li><input type="checkbox" id="q5c" name="q5" value="C"> C- Une kératite</li>
            
                    <li><input type="checkbox" id="q5d" name="q5" value="D"> D- Une uvéite antérieure</li>
            
                    <li><input type="checkbox" id="q5e" name="q5" value="E"> E- Une sclérite</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-6" class="question-container">
            <div class="question">
                <p>6.) Quelle serait votre conduite à tenir?</p>
                <ul>
        
                    <li><input type="checkbox" id="q6a" name="q6" value="A"> A- Administrer une corticothérapie I.V. en bolus</li>
            
                    <li><input type="checkbox" id="q6b" name="q6" value="B"> B- Prescrire des collyres mouillants et cicatrisants</li>
            
                    <li><input type="checkbox" id="q6c" name="q6" value="C"> C- Indiquer une injection intravitréenne d'anti-VEGF</li>
            
                    <li><input type="checkbox" id="q6d" name="q6" value="D"> D- Prescrire un AINS collyre</li>
            
                    <li><input type="checkbox" id="q6e" name="q6" value="E"> E- Abstention avec surveillance</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-7" class="question-container">
            <div class="question">
                <p>7.) Parmi les lésions palpébrales suivantes; quelle est celle qui n'est pas une affection inflammatoire des paupières?</p>
                <ul>
        
                    <li><input type="checkbox" id="q7a" name="q7" value="A"> A- Verrue vulgaire</li>
            
                    <li><input type="checkbox" id="q7b" name="q7" value="B"> B- Lésions herpétiques</li>
            
                    <li><input type="checkbox" id="q7c" name="q7" value="C"> C- Orgelet</li>
            
                    <li><input type="checkbox" id="q7d" name="q7" value="D"> D- Chalazion</li>
            
                    <li><input type="checkbox" id="q7e" name="q7" value="E"> E- Hydrocystome</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-8" class="question-container">
            <div class="question">
                <p>8.) Parmi les propositions suivantes, laquelle correspond-elle à une hérédo-dégénérescence rétinienne héréditaire où on observe une atteinte des bâtonnets?</p>
                <ul>
        
                    <li><input type="checkbox" id="q8a" name="q8" value="A"> A- La maladie de Stargardt</li>
            
                    <li><input type="checkbox" id="q8b" name="q8" value="B"> B- La maladie de Horton</li>
            
                    <li><input type="checkbox" id="q8c" name="q8" value="C"> C- La rétinopathie pigmentaire</li>
            
                    <li><input type="checkbox" id="q8d" name="q8" value="D"> D- La DMLA</li>
            
                    <li><input type="checkbox" id="q8e" name="q8" value="E"> E- La neuromyélite de Devic</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-9" class="question-container">
            <div class="question">
                <p>9.) Quelles explorations d'imagerie sont-elles utiles dans le diagnostic d'une DMLA?</p>
                <ul>
        
                    <li><input type="checkbox" id="q9a" name="q9" value="A"> A- L'angiographie au vert d'infracyanine</li>
            
                    <li><input type="checkbox" id="q9b" name="q9" value="B"> B- L'OCT maculaire</li>
            
                    <li><input type="checkbox" id="q9c" name="q9" value="C"> C- L'IRM orbitaire</li>
            
                    <li><input type="checkbox" id="q9d" name="q9" value="D"> D- L'OCT-angiographie</li>
            
                    <li><input type="checkbox" id="q9e" name="q9" value="E"> E- L'OCT papillaire</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-10" class="question-container">
            <div class="question">
                <p>10.) À quels diagnostics faut-il penser en priorité?</p>
                <ul>
        
                    <li><input type="checkbox" id="q10a" name="q10" value="A"> A- Une endophtalmie</li>
            
                    <li><input type="checkbox" id="q10b" name="q10" value="B"> B- Une kératite</li>
            
                    <li><input type="checkbox" id="q10c" name="q10" value="C"> C- Une sclérite</li>
            
                    <li><input type="checkbox" id="q10d" name="q10" value="D"> D- Une crise de glaucome aigu</li>
            
                    <li><input type="checkbox" id="q10e" name="q10" value="E"> E- Une uvéite antérieure aiguë</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-11" class="question-container">
            <div class="question">
                <p>11.) Parmi les diagnostics que vous avez évoqué, lequel (ou lesquels) retenez-vous à la lumière de ces données?</p>
                <ul>
        
                    <li><input type="checkbox" id="q11a" name="q11" value="A"> A- Une endophtalmie</li>
            
                    <li><input type="checkbox" id="q11b" name="q11" value="B"> B- Une kératite</li>
            
                    <li><input type="checkbox" id="q11c" name="q11" value="C"> C- Une sclérite</li>
            
                    <li><input type="checkbox" id="q11d" name="q11" value="D"> D- Une crise de glaucome aigu</li>
            
                    <li><input type="checkbox" id="q11e" name="q11" value="E"> E- Une uvéite antérieure aiguë</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-12" class="question-container">
            <div class="question">
                <p>12.) Au cours des complications de la chirurgie de cataracte, à quoi le syndrome d'Irvine-Gass correspond-t-il?</p>
                <ul>
        
                    <li><input type="checkbox" id="q12a" name="q12" value="A"> A- Une endophtalmie</li>
            
                    <li><input type="checkbox" id="q12b" name="q12" value="B"> B- Un déplacement d'implant</li>
            
                    <li><input type="checkbox" id="q12c" name="q12" value="C"> C- Un œdème maculaire</li>
            
                    <li><input type="checkbox" id="q12d" name="q12" value="D"> D- Une hypertonie</li>
            
                    <li><input type="checkbox" id="q12e" name="q12" value="E"> E- Un œdème de cornée</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-13" class="question-container">
            <div class="question">
                <p>13.) Quel diagnostic retenez-vous pour le cas de ce patient?</p>
                <ul>
        
                    <li><input type="checkbox" id="q13a" name="q13" value="A"> A- Une rétinopathie diabétique non proliférante sévère</li>
            
                    <li><input type="checkbox" id="q13b" name="q13" value="B"> B- Une rétinopathie diabétique proliférante sévère</li>
            
                    <li><input type="checkbox" id="q13c" name="q13" value="C"> C- Une occlusion de l'artère centrale de la rétine</li>
            
                    <li><input type="checkbox" id="q13d" name="q13" value="D"> D- Une crise de glaucome aigu par fermeture de l'angle</li>
            
                    <li><input type="checkbox" id="q13e" name="q13" value="E"> E- Une rétinopathie diabétique proliférante compliquée</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-14" class="question-container">
            <div class="question">
                <p>14.) Parmi ces facteurs de risque du glaucome primitif à angle ouvert, lequel est le plus important?</p>
                <ul>
        
                    <li><input type="checkbox" id="q14a" name="q14" value="A"> A- L'épaisseur cornéenne < 500μm</li>
            
                    <li><input type="checkbox" id="q14b" name="q14" value="B"> B- Le syndrome d'apnée du sommeil</li>
            
                    <li><input type="checkbox" id="q14c" name="q14" value="C"> C- L'hypertonie oculaire</li>
            
                    <li><input type="checkbox" id="q14d" name="q14" value="D"> D- Les antécédents familiaux de glaucome</li>
            
                    <li><input type="checkbox" id="q14e" name="q14" value="E"> E- L'origine ethnique subsaharienne</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-15" class="question-container">
            <div class="question">
                <p>15.) Lors d'une contusion du globe oculaire, quelle est ou quelles sont les lésions de mauvais pronostic visuel?</p>
                <ul>
        
                    <li><input type="checkbox" id="q15a" name="q15" value="A"> A- Un œdème de cornée</li>
            
                    <li><input type="checkbox" id="q15b" name="q15" value="B"> B- Une mydriase</li>
            
                    <li><input type="checkbox" id="q15c" name="q15" value="C"> C- Un œdème maculaire</li>
            
                    <li><input type="checkbox" id="q15d" name="q15" value="D"> D- Une hypotonie transitoire</li>
            
                    <li><input type="checkbox" id="q15e" name="q15" value="E"> E- Un décollement de rétine</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-16" class="question-container">
            <div class="question">
                <p>16.) Devant une suspicion de plaie de cornée, quelle est votre conduite immédiate?</p>
                <ul>
        
                    <li><input type="checkbox" id="q16a" name="q16" value="A"> A- Faire une sérovaccination antitétanique</li>
            
                    <li><input type="checkbox" id="q16b" name="q16" value="B"> B- Faire un lavage oculaire</li>
            
                    <li><input type="checkbox" id="q16c" name="q16" value="C"> C- Faire une radiographie de l'orbite</li>
            
                    <li><input type="checkbox" id="q16d" name="q16" value="D"> D- Faire une échographie oculaire</li>
            
                    <li><input type="checkbox" id="q16e" name="q16" value="E"> E- Faire un pansement stérile</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-17" class="question-container">
            <div class="question">
                <p>17.) À propos du strabisme chez l'enfant, quelles sont les propositions vraies?</p>
                <ul>
        
                    <li><input type="checkbox" id="q17a" name="q17" value="A"> A- Il comporte une composante motrice et une composante sensorielle</li>
            
                    <li><input type="checkbox" id="q17b" name="q17" value="B"> B- Il peut causer une amblyopie</li>
            
                    <li><input type="checkbox" id="q17c" name="q17" value="C"> C- Il peut révéler une tumeur oculaire</li>
            
                    <li><input type="checkbox" id="q17d" name="q17" value="D"> D- Il est toujours convergent</li>
            
                    <li><input type="checkbox" id="q17e" name="q17" value="E"> E- La correction optique totale est toujours indiquée</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-18" class="question-container">
            <div class="question">
                <p>18.) À ce stade, quels sont les diagnostics à évoquer?</p>
                <ul>
        
                    <li><input type="checkbox" id="q18a" name="q18" value="A"> A- Un strabisme compliqué d'amblyopie de l'œil droit</li>
            
                    <li><input type="checkbox" id="q18b" name="q18" value="B"> B- Une paralysie oculo-motrice du VI droit</li>
            
                    <li><input type="checkbox" id="q18c" name="q18" value="C"> C- Un rétinoblastome de l'œil droit</li>
            
                    <li><input type="checkbox" id="q18d" name="q18" value="D"> D- Une cataracte de l'œil droit</li>
            
                    <li><input type="checkbox" id="q18e" name="q18" value="E"> E- Un décollement de rétine de l'œil droit</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-19" class="question-container">
            <div class="question">
                <p>19.) Quels sont les examens complémentaires à demander?</p>
                <ul>
        
                    <li><input type="checkbox" id="q19a" name="q19" value="A"> A- Une échographie oculaire</li>
            
                    <li><input type="checkbox" id="q19b" name="q19" value="B"> B- Une échographie abdominale</li>
            
                    <li><input type="checkbox" id="q19c" name="q19" value="C"> C- Une IRM crânio-orbitaire</li>
            
                    <li><input type="checkbox" id="q19d" name="q19" value="D"> D- Une TDM crânio-orbitaire</li>
            
                    <li><input type="checkbox" id="q19e" name="q19" value="E"> E- Une scintigraphie osseuse</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-20" class="question-container">
            <div class="question">
                <p>20.) Le diagnostic de rétinoblastome est retenu, le traitement peut comporter :</p>
                <ul>
        
                    <li><input type="checkbox" id="q20a" name="q20" value="A"> A- Une chimiothérapie intra-veineuse</li>
            
                    <li><input type="checkbox" id="q20b" name="q20" value="B"> B- Une énucléation</li>
            
                    <li><input type="checkbox" id="q20c" name="q20" value="C"> C- Une radiothérapie externe en 1ère intention</li>
            
                    <li><input type="checkbox" id="q20d" name="q20" value="D"> D- Un traitement conservateur si la tumeur est limitée</li>
            
                    <li><input type="checkbox" id="q20e" name="q20" value="E"> E- Une résection tumorale</li>
            
                </ul>
            </div>
            
        </div>
        

            
                
            </div>
<button type="button" class="reset-quiz-button" onclick="window.location.href = '{% url "dynamic_view" "S5" "Radiologie" "Rd2022" %}';">Réessayer tout le Quiz</button>

            <div id="details-section" class="details-section" style="display: none;">
                <h3>Tableau des questions</h3>
                <div class="question-links" id="question-links"></div>
            </div>

                        <script>
const correctAnswers = {
    q1: ['A', 'D', 'E'],
    q2: ['B', 'E'],
    q3: ['A', 'C', 'E'],
    q4: ['B', 'E'],
    q5: ['E'],
    q6: ['B'],
    q7: ['A'],
    q8: ['C'],
    q9: ['B', 'D', 'E'],
    q10: ['B', 'D', 'E'],
    q11: ['E'],
    q12: ['C'],
    q13: ['E'],
    q14: ['C'],
    q15: ['D', 'E'],
    q16: ['A', 'C', 'E'],
    q17: ['A', 'B', 'C'],
    q18: ['A', 'C', 'D', 'E'],
    q19: ['A', 'C'],
    q20: ['B', 'C', 'D', 'E'],
};

let userAnswers = {}; // Stocke les réponses de l'utilisateur
let loadedAnswers = {}; // Stocke les réponses chargées pour l'évaluation

// Charger les réponses utilisateur
function loadUserAnswersFromChimie() {
    const savedAnswers = JSON.parse(localStorage.getItem('userAnswersRd2022'));

    if (savedAnswers) {
        loadedAnswers = savedAnswers; // Stocker les réponses dans la variable globale
        for (const [questionName, answerData] of Object.entries(savedAnswers)) {
            const questionDiv = document.querySelector(`input[name="${questionName}"]`)?.closest('.question-container');
            if (!questionDiv) continue;

            // Appliquer les styles pour les bonnes réponses
            correctAnswers[questionName]?.forEach(correctAnswer => {
                const correctLi = questionDiv.querySelector(`input[value="${correctAnswer}"]`)?.closest('li');
                if (correctLi) {
                    correctLi.style.color = 'green';
                    correctLi.style.fontWeight = 'bold';
                    correctLi.style.textShadow = '1px 1px 2px rgba(0, 0, 0, 0.5)';
                }
            });

            // Appliquer les styles pour les réponses sélectionnées
            answerData.selected.forEach(selectedAnswer => {
                const selectedLi = questionDiv.querySelector(`input[value="${selectedAnswer}"]`)?.closest('li');
                if (selectedLi) {
                    selectedLi.style.color = correctAnswers[questionName]?.includes(selectedAnswer) ? 'lightgreen' : 'red';
                }
            });

            // Désactiver les cases après chargement
            questionDiv.querySelectorAll('input').forEach(input => (input.disabled = true));
        }
    }
}

// Générer les cercles pour les questions
function generateCircles() {
    const totalQuestions = Object.keys(correctAnswers).length;
    const circleContainer = document.getElementById('circle-container');

    for (let i = 1; i <= totalQuestions; i++) {
        const circle = document.createElement('div');
        circle.classList.add('circle', 'yellow'); // Couleur par défaut : jaune
        circle.innerText = i;

        circle.onclick = function () {
            scrollToQuestion(i);
        };

        circleContainer.appendChild(circle);
    }
}

// Mettre à jour les cercles après évaluation
function updateCircles() {
    const circles = document.querySelectorAll('.circle');
    let totalCorrectCircles = 0; // Compteur pour les réponses correctes
    for (let i = 1; i <= Object.keys(correctAnswers).length; i++) {
        const selectedAnswers = loadedAnswers[`q${i}`]?.selected || [];
        const circle = circles[i - 1];

        if (JSON.stringify(correctAnswers[`q${i}`]?.sort()) === JSON.stringify(selectedAnswers.sort())) {
            circle.classList.add('green');
            circle.classList.remove('yellow', 'red');
            totalCorrectCircles++;
        } else if (selectedAnswers.length > 0) {
            circle.classList.add('red');
            circle.classList.remove('yellow', 'green');
        } else {
            circle.classList.add('yellow');
            circle.classList.remove('green', 'red');
        }
    }

    // Mettre à jour la note avec le nombre de cercles verts
    document.getElementById('score').textContent = `${totalCorrectCircles} / ${Object.keys(correctAnswers).length}`;
}

// Défiler jusqu'à une question spécifique
function scrollToQuestion(questionNumber) {
    const questionDiv = document.getElementById(`question-${questionNumber}`);
    if (questionDiv) {
        questionDiv.scrollIntoView({ behavior: 'smooth' });
    }
}

// Charger les réponses et générer les cercles au chargement de la page
window.onload = function () {
    document.getElementById('total-questions').textContent = Object.keys(correctAnswers).length; // Nombre total de questions
    loadUserAnswersFromChimie();
    generateCircles();
    updateCircles();
};




    </script>
</body>
</html>
<script src="{% static 'java/question-stats.js' %}" defer></script>
<script src="{% static 'java/sidebar.js' %}"></script>
<script src="{% static 'java/navbar.js' %}"></script>
