<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Luck - Syntanatomie 2022</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

{% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesynt.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylenavbar1.css' %}">


</head>
<body>





<div class="navbar">
    <span class="logo">QuizLuck</span>
    <!-- Bouton pour ouvrir complètement la barre latérale -->
<div class="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
</div>

    <div class="user-menu">
        <div class="user-profile" onclick="toggleMenu()">
            <span class="profile-icon">👤</span>
            <span class="user-name">Bonjour, {{ user_full_name}} !</span>
            <span class="dropdown-arrow">▼</span>
        </div>
        <ul class="dropdown-menu" id="dropdown-menu">
            <li><a href="#" onclick="openAccountModal()">Mon Compte</a></li>
            <li>
                <a href="{% url 'login' %}">
                    <i class="fas fa-sign-out-alt"></i> Déconnexion
                </a>
            </li>
        </ul>
    </div>

</div>

<!-- Pop-up Modifier Mon Compte -->
<div id="account-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Modifier Mon compte</h3>
            <span class="close-btn" onclick="closeAccountModal()">&times;</span>
        </div>
        <div class="modal-body">
            <form id="account-form">
                {% csrf_token %}
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" name="username" value="{{ user_full_name}}" required>
<!-- Champ caché contenant la date de naissance -->
<input type="hidden" id="profile-dob" value="{{ request.user.profile.birth_date|date:'Y-m-d' }}">

                <label for="dob">Date de naissance :</label>
                <input type="date" id="dob" name="dob" value="{{ user.dob|date:'Y-m-d' }}">

                <label for="password">Nouveau mot de passe :</label>
                <input type="password" id="password" name="password" placeholder="Nouveau mot de passe">

                <label for="confirm-password">Répéter le mot de passe :</label>
                <input type="password" id="confirm-password" name="confirm_password" placeholder="Répéter le mot de passe">

                <button type="button" id="submit-form" class="btn-primary">Modifier</button>
            </form>
        </div>
    </div>
</div>

<!-- Pop-up Message -->
<div id="success-popup" class="popup">
    <div class="popup-content">
        <p id="popup-message"></p>
        <button onclick="closePopup()">OK</button>
    </div>
</div>


<div class="sidebar open" id="sidebar">

    <!-- Section Accueil -->
    <h3><i class="fas fa-home"></i> Accueil</h3>
    <ul>
        <li><a href="{% url 'home' %}"><i class="fas fa-arrow-circle-left"></i> Retourner à l'accueil</a></li>
    </ul>

    <!-- Section Modes -->
    <h3><i class="fas fa-gamepad"></i> Modes</h3>
    <ul>
        <li><a href="{% url 'start_challenge' %}"><i class="fas fa-bolt"></i> Mode Challenge</a></li>
	<li><a href="{% url 'revision' %}"><i class="fas fa-book"></i> Mode Révision</a></li>
        <li><a href="{% url 'resultats' %}"><i class="fas fa-chart-line"></i> Vos Résultats</a></li>
    </ul>

<!-- Section Vos Modules -->
<h3><i class="fas fa-folder"></i> Vos Modules</h3>
<div id="sidebar-semesters">
    <ul>
        {% for semester, modules in data.items %}
            <li>
                <span class="semester-title">
                    <i class="fas fa-graduation-cap"></i> {{ semester }}
                    <span class="toggle-arrow">▶</span> <!-- Flèche pour masquer/afficher -->
                </span>
                <ul class="modules-list hidden"> <!-- Liste masquée par défaut -->
                    {% for module in modules %}
                        <li>
                            <!-- Affiche uniquement la description -->
                            <a href="/{{ semester }}/{{ module.name }}/">
                                <i class="fas fa-book"></i> {{ module.description }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>




    <!-- Bouton Déconnexion -->
    <div class="logout-icon">
        <a href="{% url 'login' %}">
            <i class="fas fa-sign-out-alt"></i> Déconnexion
        </a>
    </div>
</div>


    <div id="content">

<div id="score-container" class="score-container">
    <h3>Note : <span id="score">0 / <span id="total-questions"</span></h3>
</div>


        <div class="quiz-title">
            <h1>Resultats detail</h1>
    </div>

         <!-- Conteneur des cercles -->
    <div class="circle-container" id="circle-container">
        <!-- Les cercles seront générés ici par JavaScript -->
    </div>

            <div class="quiz-title">
                <h1>QCM Anatomie 1</h1>
            </div>
            <form id="quiz-form">
<input type="hidden" name="file_name" value="AP2019">
    
        <div id="question-1" class="question-container">
            <div class="question">
                <p>1.) L'unité terminale ducto-lobulaire (UTDL) du sein correspond à :</p>
                <ul>
        
                    <li><input type="checkbox" id="q1a" name="q1" value="A"> A- aux canalicules extra-lobulaires et intra-lobulaires</li>
            
                    <li><input type="checkbox" id="q1b" name="q1" value="B"> B- au tissu conjonctif commun de la glande uniquement</li>
            
                    <li><input type="checkbox" id="q1c" name="q1" value="C"> C- aux lymphatiques sous-cutanés</li>
            
                    <li><input type="checkbox" id="q1d" name="q1" value="D"> D- au sinus lactifère</li>
            
                    <li><input type="checkbox" id="q1e" name="q1" value="E"> E- au lieu de naissance de la plupart des lésions mammaires cancéreuses</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-2" class="question-container">
            <div class="question">
                <p>2.) La mastopathie fibrokystique du sein correspond à :</p>
                <ul>
        
                    <li><input type="checkbox" id="q2a" name="q2" value="A"> A- une lésion précancéreuse</li>
            
                    <li><input type="checkbox" id="q2b" name="q2" value="B"> B- un complexe lésionnel de nature bénigne</li>
            
                    <li><input type="checkbox" id="q2c" name="q2" value="C"> C- une lésion nécrotique</li>
            
                    <li><input type="checkbox" id="q2d" name="q2" value="D"> D- une lésion auto-immune</li>
            
                    <li><input type="checkbox" id="q2e" name="q2" value="E"> E- une lésion néoplasique</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-3" class="question-container">
            <div class="question">
                <p>3.) La cytostéatonécrose mammaire correspond à :</p>
                <ul>
        
                    <li><input type="checkbox" id="q3a" name="q3" value="A"> A- une prolifération tumorale épithéliale</li>
            
                    <li><input type="checkbox" id="q3b" name="q3" value="B"> B- une infection sexuellement transmissible</li>
            
                    <li><input type="checkbox" id="q3c" name="q3" value="C"> C- une dysplasie du parenchyme mammaire</li>
            
                    <li><input type="checkbox" id="q3d" name="q3" value="D"> D- une lyse du tissu adipeux mammaire</li>
            
                    <li><input type="checkbox" id="q3e" name="q3" value="E"> E- une stéatose hépatique associée à de la nécrose mammaire</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-4" class="question-container">
            <div class="question">
                <p>4.) Parmi les éléments suivants, quels sont les facteurs histopronostiques du carcinome du sein :</p>
                <ul>
        
                    <li><input type="checkbox" id="q4a" name="q4" value="A"> A- le grade histopathologique selon Scarff, Bloom et Richardson</li>
            
                    <li><input type="checkbox" id="q4b" name="q4" value="B"> B- le grade histopathologique de Chisholm et Masson</li>
            
                    <li><input type="checkbox" id="q4c" name="q4" value="C"> C- la taille tumorale</li>
            
                    <li><input type="checkbox" id="q4d" name="q4" value="D"> D- la présence de foyers de nécrose en carte de géographie</li>
            
                    <li><input type="checkbox" id="q4e" name="q4" value="E"> E- l'âge de la patiente</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-5" class="question-container">
            <div class="question">
                <p>5.) L'expression des récepteurs hormonaux dans le cancer du sein :</p>
                <ul>
        
                    <li><input type="checkbox" id="q5a" name="q5" value="A"> A- prédit la bonne réponse à l'hormonothérapie</li>
            
                    <li><input type="checkbox" id="q5b" name="q5" value="B"> B- témoigne de l'hormonodépendance des tumeurs mammaires</li>
            
                    <li><input type="checkbox" id="q5c" name="q5" value="C"> C- n'est pas compatible avec une surexpression de l'HER2</li>
            
                    <li><input type="checkbox" id="q5d" name="q5" value="D"> D- doit être systématiquement recherchée</li>
            
                    <li><input type="checkbox" id="q5e" name="q5" value="E"> E- peut être recherchée par immunohistochimie</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-6" class="question-container">
            <div class="question">
                <p>6.) L'amplification du gène HER2 dans le cancer du sein est responsable de :</p>
                <ul>
        
                    <li><input type="checkbox" id="q6a" name="q6" value="A"> A- une tumeur plus agressive</li>
            
                    <li><input type="checkbox" id="q6b" name="q6" value="B"> B- un délai du temps de survie augmenté</li>
            
                    <li><input type="checkbox" id="q6c" name="q6" value="C"> C- une incidence élevée des métastases</li>
            
                    <li><input type="checkbox" id="q6d" name="q6" value="D"> D- une excellente réponse à la chimiothérapie conventionnelle</li>
            
                    <li><input type="checkbox" id="q6e" name="q6" value="E"> E- un risque accru de récidive après la chirurgie</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-7" class="question-container">
            <div class="question">
                <p>7.) Quelles sont les conditions obligatoires que doit remplir un examen extemporané du sein ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q7a" name="q7" value="A"> A- le chirurgien décide seul de son indication</li>
            
                    <li><input type="checkbox" id="q7b" name="q7" value="B"> B- le résultat est rapide</li>
            
                    <li><input type="checkbox" id="q7c" name="q7" value="C"> C- le résultat est susceptible de changer l'acte chirurgical</li>
            
                    <li><input type="checkbox" id="q7d" name="q7" value="D"> D- le prélèvement ne doit pas dépasser 1cm de grand axe</li>
            
                    <li><input type="checkbox" id="q7e" name="q7" value="E"> E- le prélèvement doit parvenir frais au laboratoire</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-8" class="question-container">
            <div class="question">
                <p>8.) Le type de prélèvement le plus adapté pour des lésions infracliniques du sein est :</p>
                <ul>
        
                    <li><input type="checkbox" id="q8a" name="q8" value="A"> A- la pyramidectomie</li>
            
                    <li><input type="checkbox" id="q8b" name="q8" value="B"> B- la biopsie sous harpon</li>
            
                    <li><input type="checkbox" id="q8c" name="q8" value="C"> C- la tumorectomie</li>
            
                    <li><input type="checkbox" id="q8d" name="q8" value="D"> D- la cytoponction</li>
            
                    <li><input type="checkbox" id="q8e" name="q8" value="E"> E- la mastectomie</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-9" class="question-container">
            <div class="question">
                <p>9.) Le carcinome inflammatoire du sein correspond à :</p>
                <ul>
        
                    <li><input type="checkbox" id="q9a" name="q9" value="A"> A- un carcinome doté d'une stroma-réaction très riche en plasmocytes</li>
            
                    <li><input type="checkbox" id="q9b" name="q9" value="B"> B- une tumeur mixte épithélio-conjonctive</li>
            
                    <li><input type="checkbox" id="q9c" name="q9" value="C"> C- une forme de bon pronostic</li>
            
                    <li><input type="checkbox" id="q9d" name="q9" value="D"> D- une forme lymphophile de carcinome infiltrant</li>
            
                    <li><input type="checkbox" id="q9e" name="q9" value="E"> E- un carcinome dont la stroma-réaction est très riche en cellules inflammatoires</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-10" class="question-container">
            <div class="question">
                <p>10.) Parmi les facteurs de risque de progression d’un carcinome canalaire in situ, on peut relever :</p>
                <ul>
        
                    <li><input type="checkbox" id="q10a" name="q10" value="A"> A- index mitotique élevé</li>
            
                    <li><input type="checkbox" id="q10b" name="q10" value="B"> B- présence de comédonécrose</li>
            
                    <li><input type="checkbox" id="q10c" name="q10" value="C"> C- petite taille des lésions</li>
            
                    <li><input type="checkbox" id="q10d" name="q10" value="D"> D- limites d’exérèse saines</li>
            
                    <li><input type="checkbox" id="q10e" name="q10" value="E"> E- haut grade nucléaire</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-11" class="question-container">
            <div class="question">
                <p>11.) Les kystes fonctionnels de l’ovaire peuvent correspondre à :</p>
                <ul>
        
                    <li><input type="checkbox" id="q11a" name="q11" value="A"> A- des pseudokystes</li>
            
                    <li><input type="checkbox" id="q11b" name="q11" value="B"> B- des tumeurs enkystées</li>
            
                    <li><input type="checkbox" id="q11c" name="q11" value="C"> C- des infections</li>
            
                    <li><input type="checkbox" id="q11d" name="q11" value="D"> D- des corps jaunes kystiques</li>
            
                    <li><input type="checkbox" id="q11e" name="q11" value="E"> E- gros follicules pré-ovulatoires ou anovulatoires</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-12" class="question-container">
            <div class="question">
                <p>12.) L'évolution des tumeurs ovariennes séreuses à la limite de la malignité est caractérisée par :</p>
                <ul>
        
                    <li><input type="checkbox" id="q12a" name="q12" value="A"> A- son imprévisibilité</li>
            
                    <li><input type="checkbox" id="q12b" name="q12" value="B"> B- sa bénignité</li>
            
                    <li><input type="checkbox" id="q12c" name="q12" value="C"> C- la possibilité de se transformer en sarcome</li>
            
                    <li><input type="checkbox" id="q12d" name="q12" value="D"> D- le risque d'implants péritonéaux</li>
            
                    <li><input type="checkbox" id="q12e" name="q12" value="E"> E- son cours favorable si la tumeur est limitée aux ovaires</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-13" class="question-container">
            <div class="question">
                <p>13.) Les facteurs pronostiques d’un carcinome épidermoïde du col utérin sont :</p>
                <ul>
        
                    <li><input type="checkbox" id="q13a" name="q13" value="A"> A- la taille tumorale</li>
            
                    <li><input type="checkbox" id="q13b" name="q13" value="B"> B- le statut des récepteurs hormonaux</li>
            
                    <li><input type="checkbox" id="q13c" name="q13" value="C"> C- le nombre de cellules tumorales</li>
            
                    <li><input type="checkbox" id="q13d" name="q13" value="D"> D- le stade TNM</li>
            
                    <li><input type="checkbox" id="q13e" name="q13" value="E"> E- le statut ganglionnaire</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-14" class="question-container">
            <div class="question">
                <p>14.) L’examen anatomopathologique d’une pièce d’hystérectomie pour cancer du col initialement irradié permet :</p>
                <ul>
        
                    <li><input type="checkbox" id="q14a" name="q14" value="A"> A- la stadification de la tumeur</li>
            
                    <li><input type="checkbox" id="q14b" name="q14" value="B"> B- la recherche de métastases ganglionnaires</li>
            
                    <li><input type="checkbox" id="q14c" name="q14" value="C"> C- l’élimination d’un diagnostic de malignité</li>
            
                    <li><input type="checkbox" id="q14d" name="q14" value="D"> D- la recherche d’infections sexuellement transmises</li>
            
                    <li><input type="checkbox" id="q14e" name="q14" value="E"> E- l’évaluation de la réponse au traitement</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-15" class="question-container">
            <div class="question">
                <p>15.) Le meilleur examen pour dépister un cancer du col de l’utérus chez la femme est</p>
                <ul>
        
                    <li><input type="checkbox" id="q15a" name="q15" value="A"> A- un frottis cervico-vaginal</li>
            
                    <li><input type="checkbox" id="q15b" name="q15" value="B"> B- une apposition à partir de l’exocol</li>
            
                    <li><input type="checkbox" id="q15c" name="q15" value="C"> C- une étude immunohistochimique</li>
            
                    <li><input type="checkbox" id="q15d" name="q15" value="D"> D- une cytoponction</li>
            
                    <li><input type="checkbox" id="q15e" name="q15" value="E"> E- une biopsie du col</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-16" class="question-container">
            <div class="question">
                <p>16.) L’astrocytome IDH muté :</p>
                <ul>
        
                    <li><input type="checkbox" id="q16a" name="q16" value="A"> A- est associé à une mutation des histones de type H3K27M</li>
            
                    <li><input type="checkbox" id="q16b" name="q16" value="B"> B- comporte une perte d’expression nucléaire d’ATRX</li>
            
                    <li><input type="checkbox" id="q16c" name="q16" value="C"> C- est associé à une codélétion 1p19q</li>
            
                    <li><input type="checkbox" id="q16d" name="q16" value="D"> D- ne récidive jamais vers l’anaplasie</li>
            
                    <li><input type="checkbox" id="q16e" name="q16" value="E"> E- est une tumeur circonscrite</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-17" class="question-container">
            <div class="question">
                <p>17.) Toute pièce d’adénomectomie doit être examinée par le pathologiste parce que</p>
                <ul>
        
                    <li><input type="checkbox" id="q17a" name="q17" value="A"> A- il faut tester HER2 sur la lésion</li>
            
                    <li><input type="checkbox" id="q17b" name="q17" value="B"> B- il faut rechercher un cancer associé latent</li>
            
                    <li><input type="checkbox" id="q17c" name="q17" value="C"> C- il faut éliminer un testicule ectopique</li>
            
                    <li><input type="checkbox" id="q17d" name="q17" value="D"> D- il faut rechercher une surcharge en fer associée</li>
            
                    <li><input type="checkbox" id="q17e" name="q17" value="E"> E- il faut rechercher un infarctissement hémorragique</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-18" class="question-container">
            <div class="question">
                <p>18.) Au niveau de la prostate, la zone de prédilection de l’adénome de prostate est représentée par :</p>
                <ul>
        
                    <li><input type="checkbox" id="q18a" name="q18" value="A"> A- la zone périphérique</li>
            
                    <li><input type="checkbox" id="q18b" name="q18" value="B"> B- la zone capsulaire</li>
            
                    <li><input type="checkbox" id="q18c" name="q18" value="C"> C- la zone centrale</li>
            
                    <li><input type="checkbox" id="q18d" name="q18" value="D"> D- la graisse périprostatique</li>
            
                    <li><input type="checkbox" id="q18e" name="q18" value="E"> E- la zone transitionnelle</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-19" class="question-container">
            <div class="question">
                <p>19.) Lors de la phase locale de l’adénocarcinome prostatique :</p>
                <ul>
        
                    <li><input type="checkbox" id="q19a" name="q19" value="A"> A- la tumeur donne obligatoirement des métastases pulmonaires</li>
            
                    <li><input type="checkbox" id="q19b" name="q19" value="B"> B- la survie globale est diminuée</li>
            
                    <li><input type="checkbox" id="q19c" name="q19" value="C"> C- le pronostic est meilleur</li>
            
                    <li><input type="checkbox" id="q19d" name="q19" value="D"> D- seuls des traitements palliatifs sont possibles</li>
            
                    <li><input type="checkbox" id="q19e" name="q19" value="E"> E- le traitement radical est possible</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-20" class="question-container">
            <div class="question">
                <p>20.) Les sites métastatiques les plus fréquents des adénocarcinomes de la prostate sont représentés par :</p>
                <ul>
        
                    <li><input type="checkbox" id="q20a" name="q20" value="A"> A- rachis</li>
            
                    <li><input type="checkbox" id="q20b" name="q20" value="B"> B- côtes</li>
            
                    <li><input type="checkbox" id="q20c" name="q20" value="C"> C- foie</li>
            
                    <li><input type="checkbox" id="q20d" name="q20" value="D"> D- cerveau</li>
            
                    <li><input type="checkbox" id="q20e" name="q20" value="E"> E- bassin</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-21" class="question-container">
            <div class="question">
                <p>21.) Le canal thyréoglosse correspond :</p>
                <ul>
        
                    <li><input type="checkbox" id="q21a" name="q21" value="A"> A- à une invagination des poches branchiales</li>
            
                    <li><input type="checkbox" id="q21b" name="q21" value="B"> B- à l’ébauche latérale thyroïdienne</li>
            
                    <li><input type="checkbox" id="q21c" name="q21" value="C"> C- au trajet de migration de l’ébauche thyroïdienne médiane</li>
            
                    <li><input type="checkbox" id="q21d" name="q21" value="D"> D- à la non fermeture des poches branchiales</li>
            
                    <li><input type="checkbox" id="q21e" name="q21" value="E"> E- à une absence de migration des ébauches thyroïdiennes</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-22" class="question-container">
            <div class="question">
                <p>22.) Le diagnostic différentiel histologique de l’adénome folliculaire se pose avec le carcinome vésiculaire. Parmi les éléments pour les différencier, on peut citer :</p>
                <ul>
        
                    <li><input type="checkbox" id="q22a" name="q22" value="A"> A- une augmentation de la densité cellulaire</li>
            
                    <li><input type="checkbox" id="q22b" name="q22" value="B"> B- une effraction capsulaire</li>
            
                    <li><input type="checkbox" id="q22c" name="q22" value="C"> C- des emboles vasculaires</li>
            
                    <li><input type="checkbox" id="q22d" name="q22" value="D"> D- une hyperplasie nerveuse</li>
            
                    <li><input type="checkbox" id="q22e" name="q22" value="E"> E- une fibrose excessive</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-23" class="question-container">
            <div class="question">
                <p>23.) Parmi les signes nucléaires qui entrent dans la définition du carcinome papillaire de la thyroïde, on cite :</p>
                <ul>
        
                    <li><input type="checkbox" id="q23a" name="q23" value="A"> A- les chevauchements nucléaires</li>
            
                    <li><input type="checkbox" id="q23b" name="q23" value="B"> B- les mitoses</li>
            
                    <li><input type="checkbox" id="q23c" name="q23" value="C"> C- les incisions nucléaires</li>
            
                    <li><input type="checkbox" id="q23d" name="q23" value="D"> D- un aspect en verre dépoli</li>
            
                    <li><input type="checkbox" id="q23e" name="q23" value="E"> E- la nécrose</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-24" class="question-container">
            <div class="question">
                <p>24.) L’hyperplasie corticosurrénalienne acquise des syndromes paranéoplasiques peut accompagner :</p>
                <ul>
        
                    <li><input type="checkbox" id="q24a" name="q24" value="A"> A- un carcinome pulmonaire</li>
            
                    <li><input type="checkbox" id="q24b" name="q24" value="B"> B- une tumeur du pancréas</li>
            
                    <li><input type="checkbox" id="q24c" name="q24" value="C"> C- une tuberculose pleurale</li>
            
                    <li><input type="checkbox" id="q24d" name="q24" value="D"> D- un thymome</li>
            
                    <li><input type="checkbox" id="q24e" name="q24" value="E"> E- un ectropion</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-25" class="question-container">
            <div class="question">
                <p>25.) Parmi les cancers les plus ostéophiles qui donnent fréquemment des métastases osseuses, on peut citer :</p>
                <ul>
        
                    <li><input type="checkbox" id="q25a" name="q25" value="A"> A- Cancer de l’estomac</li>
            
                    <li><input type="checkbox" id="q25b" name="q25" value="B"> B- Cancer du foie</li>
            
                    <li><input type="checkbox" id="q25c" name="q25" value="C"> C- Cancer du poumon</li>
            
                    <li><input type="checkbox" id="q25d" name="q25" value="D"> D- Cancer de la prostate</li>
            
                    <li><input type="checkbox" id="q25e" name="q25" value="E"> E- Cancer du sein</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-26" class="question-container">
            <div class="question">
                <p>26.) L’ostéosarcome est une tumeur osseuse qui se caractérise par un :</p>
                <ul>
        
                    <li><input type="checkbox" id="q26a" name="q26" value="A"> A- un aspect macroscopique hétérogène</li>
            
                    <li><input type="checkbox" id="q26b" name="q26" value="B"> B- une évolution bénigne</li>
            
                    <li><input type="checkbox" id="q26c" name="q26" value="C"> C- une localisation préférentielle au niveau du bassin</li>
            
                    <li><input type="checkbox" id="q26d" name="q26" value="D"> D- une origine neuroectodermique</li>
            
                    <li><input type="checkbox" id="q26e" name="q26" value="E"> E- une production de substance ostéoïde</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-27" class="question-container">
            <div class="question">
                <p>27.) Parmi les lymphomes suivants, lesquels sont indolents :</p>
                <ul>
        
                    <li><input type="checkbox" id="q27a" name="q27" value="A"> A- Lymphome de Burkitt</li>
            
                    <li><input type="checkbox" id="q27b" name="q27" value="B"> B- Lymphome diffus à grandes cellules B</li>
            
                    <li><input type="checkbox" id="q27c" name="q27" value="C"> C- Lymphome de la zone marginale extra-ganglionnaire de type MALT</li>
            
                    <li><input type="checkbox" id="q27d" name="q27" value="D"> D- Lymphome T/NK de type nasal</li>
            
                    <li><input type="checkbox" id="q27e" name="q27" value="E"> E- Mycosis fongoïde</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-28" class="question-container">
            <div class="question">
                <p>28.) Parmi les étiologies d’une adénite chronique granulomateuse spécifique avec adénopathies, il y a :</p>
                <ul>
        
                    <li><input type="checkbox" id="q28a" name="q28" value="A"> A- La lèpre lépromateuse</li>
            
                    <li><input type="checkbox" id="q28b" name="q28" value="B"> B- La maladie de Nicolas Favre</li>
            
                    <li><input type="checkbox" id="q28c" name="q28" value="C"> C- La sarcoïdose</li>
            
                    <li><input type="checkbox" id="q28d" name="q28" value="D"> D- Le toxoplasmose</li>
            
                    <li><input type="checkbox" id="q28e" name="q28" value="E"> E- La tuberculose</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-29" class="question-container">
            <div class="question">
                <p>29.) Quels sont les facteurs de risque du carcinome épidermoïde de l'œsophage ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q29a" name="q29" value="A"> A- tabagisme</li>
            
                    <li><input type="checkbox" id="q29b" name="q29" value="B"> B- infection par l'HPV</li>
            
                    <li><input type="checkbox" id="q29c" name="q29" value="C"> C- muqueuse de Barrett</li>
            
                    <li><input type="checkbox" id="q29d" name="q29" value="D"> D- alcool</li>
            
                    <li><input type="checkbox" id="q29e" name="q29" value="E"> E- mégœsophage</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-30" class="question-container">
            <div class="question">
                <p>30.) La classification pTNM du cancer de l'œsophage tient compte de certains facteurs pronostiques, lesquels ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q30a" name="q30" value="A"> A- Type histologique</li>
            
                    <li><input type="checkbox" id="q30b" name="q30" value="B"> B- Métastase ganglionnaire</li>
            
                    <li><input type="checkbox" id="q30c" name="q30" value="C"> C- Métastase à distance</li>
            
                    <li><input type="checkbox" id="q30d" name="q30" value="D"> D- Degré d'infiltration pariétale</li>
            
                    <li><input type="checkbox" id="q30e" name="q30" value="E"> E- Emboles vasculaires</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-31" class="question-container">
            <div class="question">
                <p>31.) Que peut-on observer dans l'endobrachyoesophage ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q31a" name="q31" value="A"> A- muqueuse fundique</li>
            
                    <li><input type="checkbox" id="q31b" name="q31" value="B"> B- Cellules caliciformes</li>
            
                    <li><input type="checkbox" id="q31c" name="q31" value="C"> C- Glandes pancréatiques</li>
            
                    <li><input type="checkbox" id="q31d" name="q31" value="D"> D- muqueuse cardiale</li>
            
                    <li><input type="checkbox" id="q31e" name="q31" value="E"> E- muqueuse antrale</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-32" class="question-container">
            <div class="question">
                <p>32.) Quelle est la tumeur mésenchymateuse la plus fréquente de l'œsophage ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q32a" name="q32" value="A"> A- Léiomyome</li>
            
                    <li><input type="checkbox" id="q32b" name="q32" value="B"> B- Fibrome</li>
            
                    <li><input type="checkbox" id="q32c" name="q32" value="C"> C- Tumeur stromale gastro-intestinale</li>
            
                    <li><input type="checkbox" id="q32d" name="q32" value="D"> D- angiome</li>
            
                    <li><input type="checkbox" id="q32e" name="q32" value="E"> E- Rhabdomyosarcome</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-33" class="question-container">
            <div class="question">
                <p>33.) La lésion d'atrophie rencontrée au cours des gastrites chroniques signifie une diminution du nombre des :</p>
                <ul>
        
                    <li><input type="checkbox" id="q33a" name="q33" value="A"> A- Lymphocytes</li>
            
                    <li><input type="checkbox" id="q33b" name="q33" value="B"> B- Polynucléaires neutrophiles</li>
            
                    <li><input type="checkbox" id="q33c" name="q33" value="C"> C- Glandes gastriques</li>
            
                    <li><input type="checkbox" id="q33d" name="q33" value="D"> D- cellules caliciformes</li>
            
                    <li><input type="checkbox" id="q33e" name="q33" value="E"> E- follicules lymphoïdes</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-34" class="question-container">
            <div class="question">
                <p>34.) Quelles sont les propositions justes concernant la gastrite chronique auto-immune ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q34a" name="q34" value="A"> A- Atteinte antrale prédominante</li>
            
                    <li><input type="checkbox" id="q34b" name="q34" value="B"> B- Métaplasie intestinale</li>
            
                    <li><input type="checkbox" id="q34c" name="q34" value="C"> C- Lésions d'atrophie</li>
            
                    <li><input type="checkbox" id="q34d" name="q34" value="D"> D- Hyperplasie des cellules neuro-endocrines</li>
            
                    <li><input type="checkbox" id="q34e" name="q34" value="E"> E- Métaplasie antrale</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-35" class="question-container">
            <div class="question">
                <p>35.) Quelles sont les lésions rencontrées dans les gastropathies liées à une agression chimique chronique ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q35a" name="q35" value="A"> A- hyperplasie des fibres musculaires</li>
            
                    <li><input type="checkbox" id="q35b" name="q35" value="B"> B- infiltrat inflammatoire dense</li>
            
                    <li><input type="checkbox" id="q35c" name="q35" value="C"> C- congestion vasculaire</li>
            
                    <li><input type="checkbox" id="q35d" name="q35" value="D"> D- hyperplasie des cryptes</li>
            
                    <li><input type="checkbox" id="q35e" name="q35" value="E"> E- œdème interstitiel</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-36" class="question-container">
            <div class="question">
                <p>36.) Quelles sont les propositions justes concernant le syndrome de Zollinger Ellison ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q36a" name="q36" value="A"> A- hyperplasie des glandes fundiques</li>
            
                    <li><input type="checkbox" id="q36b" name="q36" value="B"> B- hyperplasie des glandes antrales</li>
            
                    <li><input type="checkbox" id="q36c" name="q36" value="C"> C- hypersécrétion de la gastrine</li>
            
                    <li><input type="checkbox" id="q36d" name="q36" value="D"> D- peut évoluer vers une tumeur neuroendocrine de type II</li>
            
                    <li><input type="checkbox" id="q36e" name="q36" value="E"> E- Hypertrophie cérébriforme des plis gastriques</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-37" class="question-container">
            <div class="question">
                <p>37.) Quelles sont les propositions justes concernant l'adénocarcinome à cellules indépendantes de l'estomac ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q37a" name="q37" value="A"> A- aspect macroscopique de linite</li>
            
                    <li><input type="checkbox" id="q37b" name="q37" value="B"> B- stroma fibreux tumoral</li>
            
                    <li><input type="checkbox" id="q37c" name="q37" value="C"> C- Cellules tumorales isolées</li>
            
                    <li><input type="checkbox" id="q37d" name="q37" value="D"> D- Bon pronostic</li>
            
                    <li><input type="checkbox" id="q37e" name="q37" value="E"> E- Le cytoplasme des cellules tumorales renferment de la mucine</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-38" class="question-container">
            <div class="question">
                <p>38.) La forme hypertrophique de la tuberculose intestinale se caractérise par :</p>
                <ul>
        
                    <li><input type="checkbox" id="q38a" name="q38" value="A"> A- Pseudopolypes</li>
            
                    <li><input type="checkbox" id="q38b" name="q38" value="B"> B- Paroi fine</li>
            
                    <li><input type="checkbox" id="q38c" name="q38" value="C"> C- Aspect pseudo-tumoral</li>
            
                    <li><input type="checkbox" id="q38d" name="q38" value="D"> D- Ulcérations longues</li>
            
                    <li><input type="checkbox" id="q38e" name="q38" value="E"> E- Localisation iléo-coecale</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-39" class="question-container">
            <div class="question">
                <p>39.) Quelles sont les lésions observées dans la rectocolite ulcéro-hémorragique ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q39a" name="q39" value="A"> A- inflammation transparaetiale</li>
            
                    <li><input type="checkbox" id="q39b" name="q39" value="B"> B- Muqueuse gercée hémorragique</li>
            
                    <li><input type="checkbox" id="q39c" name="q39" value="C"> C- Pseudopolypes</li>
            
                    <li><input type="checkbox" id="q39d" name="q39" value="D"> D- Sclérolipomatose</li>
            
                    <li><input type="checkbox" id="q39e" name="q39" value="E"> E- Paroi rigide</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-40" class="question-container">
            <div class="question">
                <p>40.) Les ulcérations aphthoïdes sont retrouvées dans la :</p>
                <ul>
        
                    <li><input type="checkbox" id="q40a" name="q40" value="A"> A- Maladie de Crohn</li>
            
                    <li><input type="checkbox" id="q40b" name="q40" value="B"> B- Tuberculose intestinale</li>
            
                    <li><input type="checkbox" id="q40c" name="q40" value="C"> C- Colite infectieuse</li>
            
                    <li><input type="checkbox" id="q40d" name="q40" value="D"> D- Rectocolite ulcéro-hémorragique</li>
            
                    <li><input type="checkbox" id="q40e" name="q40" value="E"> E- Yersiniose</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-41" class="question-container">
            <div class="question">
                <p>41.) Parmi les propositions suivantes ; une n'est pas un sous-type histologique de l'adénocarcinome gastrique ; laquelle ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q41a" name="q41" value="A"> A- Papillaire</li>
            
                    <li><input type="checkbox" id="q41b" name="q41" value="B"> B- Muqueux</li>
            
                    <li><input type="checkbox" id="q41c" name="q41" value="C"> C- A cellules en bague à chaton</li>
            
                    <li><input type="checkbox" id="q41d" name="q41" value="D"> D- Tubulaire</li>
            
                    <li><input type="checkbox" id="q41e" name="q41" value="E"> E- Trabéculaire</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-42" class="question-container">
            <div class="question">
                <p>42.) Quelles sont les propositions justes concernant les tumeurs neuroendocrines gastriques de type I ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q42a" name="q42" value="A"> A- Mauvais pronostic</li>
            
                    <li><input type="checkbox" id="q42b" name="q42" value="B"> B- Terrain d'hypergastrinémie</li>
            
                    <li><input type="checkbox" id="q42c" name="q42" value="C"> C- Donnent souvent des métastases</li>
            
                    <li><input type="checkbox" id="q42d" name="q42" value="D"> D- Hyperacidité</li>
            
                    <li><input type="checkbox" id="q42e" name="q42" value="E"> E- Associées à une hyperplasie des cellules ECL</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-43" class="question-container">
            <div class="question">
                <p>43.) Pourquoi on recherche la mutation des gènes RAS dans le cancer colo-rectal ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q43a" name="q43" value="A"> A- Diagnostic du cancer</li>
            
                    <li><input type="checkbox" id="q43b" name="q43" value="B"> B- But pronostique</li>
            
                    <li><input type="checkbox" id="q43c" name="q43" value="C"> C- Prédictive de réponse aux thérapies ciblées</li>
            
                    <li><input type="checkbox" id="q43d" name="q43" value="D"> D- Dépistage du cancer</li>
            
                    <li><input type="checkbox" id="q43e" name="q43" value="E"> E- Detection du syndrome de Lynch</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-44" class="question-container">
            <div class="question">
                <p>44.) La famille des tumeurs neuroendocrines du poumon comprend :</p>
                <ul>
        
                    <li><input type="checkbox" id="q44a" name="q44" value="A"> A- Carcinoïde typique</li>
            
                    <li><input type="checkbox" id="q44b" name="q44" value="B"> B- Carcinoïde atypique</li>
            
                    <li><input type="checkbox" id="q44c" name="q44" value="C"> C- Adénocarcinome in situ</li>
            
                    <li><input type="checkbox" id="q44d" name="q44" value="D"> D- Carcinome à petites cellules</li>
            
                    <li><input type="checkbox" id="q44e" name="q44" value="E"> E- Hyperplasie adénomateuse atypique</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-45" class="question-container">
            <div class="question">
                <p>45.) A partir de quelles cellules peut se développer l'adénocarcinome pulmonaire ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q45a" name="q45" value="A"> A- Cellules de Clara</li>
            
                    <li><input type="checkbox" id="q45b" name="q45" value="B"> B- Pneumocytes de type II</li>
            
                    <li><input type="checkbox" id="q45c" name="q45" value="C"> C- Pneumocytes de type I</li>
            
                    <li><input type="checkbox" id="q45d" name="q45" value="D"> D- Cellules basales</li>
            
                    <li><input type="checkbox" id="q45e" name="q45" value="E"> E- Cellules neuroendocrines</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-46" class="question-container">
            <div class="question">
                <p>46.) Quelle est la lésion précancéreuse de l'adénocarcinome pulmonaire ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q46a" name="q46" value="A"> A- Métaplasie malpighienne</li>
            
                    <li><input type="checkbox" id="q46b" name="q46" value="B"> B- Hyperplasie adénomateuse atypique des pneumocytes</li>
            
                    <li><input type="checkbox" id="q46c" name="q46" value="C"> C- Hyperplasie des cellules neuroendocrines</li>
            
                    <li><input type="checkbox" id="q46d" name="q46" value="D"> D- Hyperplasie des cellules ciliées</li>
            
                    <li><input type="checkbox" id="q46e" name="q46" value="E"> E- Adénocarcinome in situ</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-47" class="question-container">
            <div class="question">
                <p>47.) Quelles sont les propositions justes concernant le carcinome à petites cellules du poumon ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q47a" name="q47" value="A"> A- Souvent proximal</li>
            
                    <li><input type="checkbox" id="q47b" name="q47" value="B"> B- Se voit souvent chez le tabagique</li>
            
                    <li><input type="checkbox" id="q47c" name="q47" value="C"> C- Tumeur bien différenciée</li>
            
                    <li><input type="checkbox" id="q47d" name="q47" value="D"> D- Sécrétion inappropriée d'ACTH</li>
            
                    <li><input type="checkbox" id="q47e" name="q47" value="E"> E- Son principal diagnostic différentiel morphologique est le lymphome</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-48" class="question-container">
            <div class="question">
                <p>48.) Quelles sont les propositions justes concernant le carcinome épidermoïde du poumon ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q48a" name="q48" value="A"> A- Souvent périphérique</li>
            
                    <li><input type="checkbox" id="q48b" name="q48" value="B"> B- Forme une masse péribronchique</li>
            
                    <li><input type="checkbox" id="q48c" name="q48" value="C"> C- Crée un bourgeon endobronchique</li>
            
                    <li><input type="checkbox" id="q48d" name="q48" value="D"> D- Peut se présenter par un faux aspect de pneumonie</li>
            
                    <li><input type="checkbox" id="q48e" name="q48" value="E"> E- Peut former une masse excavée</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-49" class="question-container">
            <div class="question">
                <p>49.) Quels sont les marqueurs immunohistochimiques exprimés par l'adénocarcinome pulmonaire ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q49a" name="q49" value="A"> A- Chromogranine A</li>
            
                    <li><input type="checkbox" id="q49b" name="q49" value="B"> B- Synaptophysine</li>
            
                    <li><input type="checkbox" id="q49c" name="q49" value="C"> C- CD56</li>
            
                    <li><input type="checkbox" id="q49d" name="q49" value="D"> D- TTF1</li>
            
                    <li><input type="checkbox" id="q49e" name="q49" value="E"> E- Cytokératine 7 (CK7)</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-50" class="question-container">
            <div class="question">
                <p>50.) La localisation fréquente des tumeurs stromales gastro-intestinales est :</p>
                <ul>
        
                    <li><input type="checkbox" id="q50a" name="q50" value="A"> A- Estomac</li>
            
                    <li><input type="checkbox" id="q50b" name="q50" value="B"> B- Œsophage</li>
            
                    <li><input type="checkbox" id="q50c" name="q50" value="C"> C- Sigmoïde</li>
            
                    <li><input type="checkbox" id="q50d" name="q50" value="D"> D- Duodénum</li>
            
                    <li><input type="checkbox" id="q50e" name="q50" value="E"> E- Rectum</li>
            
                </ul>
            </div>
            
        </div>
        
            

            

            
                
                
                
            </div>
<button type="button" class="reset-quiz-button" onclick="window.location.href = '{% url "dynamic_view" "S5" "Anatomie_Pathologique_generale" "AP2019" %}';">Réessayer tout le Quiz</button>

            <div id="details-section" class="details-section" style="display: none;">
                <h3>Tableau des questions</h3>
                <div class="question-links" id="question-links"></div>
            </div>

            
    
            <script>
const correctAnswers = {
    q1: ['A', 'E'],
    q2: ['B'],
    q3: ['D'],
    q4: ['A', 'C'],
    q5: ['A', 'B', 'D', 'E'],
    q6: ['A', 'C', 'E'],
    q7: ['B', 'C', 'E'],
    q8: ['B'],
    q9: ['D'],
    q10: ['B', 'E'],
    q11: ['D', 'E'],
    q12: ['A', 'D', 'E'],
    q13: ['A', 'D', 'E'],
    q14: ['A', 'B', 'E'],
    q15: ['A'],
    q16: ['B'],
    q17: ['B'],
    q18: ['E'],
    q19: ['C', 'E'],
    q20: ['A', 'B', 'E'],
    q21: ['C'],
    q22: ['B', 'C'],
    q23: ['A', 'B', 'C'],
    q24: ['A', 'B', 'D'],
    q25: ['C', 'D', 'E'],
    q26: ['A', 'E'],
    q27: ['C', 'E'],
    q28: ['B', 'E'],
    q29: ['A', 'B', 'D', 'E'],
    q30: ['B', 'C', 'D'],
    q31: ['A', 'B', 'D'],
    q32: ['A'],
    q33: ['C'],
    q34: ['B', 'C', 'D', 'E'],
    q35: ['A', 'C', 'D', 'E'],
    q36: ['A', 'C', 'D'],
    q37: ['A', 'B', 'C', 'E'],
    q38: ['A', 'C', 'E'],
    q39: ['B', 'C'],
    q40: ['A'],
    q41: ['E'],
    q42: ['B', 'E'],
    q43: ['C'],
    q44: ['A', 'B', 'D'],
    q45: ['A', 'B', 'D'],
    q46: ['B'],
    q47: ['A', 'B', 'D', 'E'],
    q48: ['B', 'C', 'E'],
    q49: ['D', 'E'],
    q50: ['A'],
};

let userAnswers = {}; // Stocke les réponses de l'utilisateur
let loadedAnswers = {}; // Stocke les réponses chargées pour l'évaluation

// Charger les réponses utilisateur
function loadUserAnswersFromChimie() {
    const savedAnswers = JSON.parse(localStorage.getItem('userAnswersAP2019'));

    if (savedAnswers) {
        loadedAnswers = savedAnswers; // Stocker les réponses dans la variable globale
        for (const [questionName, answerData] of Object.entries(savedAnswers)) {
            const questionDiv = document.querySelector(`input[name="${questionName}"]`)?.closest('.question-container');
            if (!questionDiv) continue;

            // Appliquer les styles pour les bonnes réponses
            correctAnswers[questionName]?.forEach(correctAnswer => {
                const correctLi = questionDiv.querySelector(`input[value="${correctAnswer}"]`)?.closest('li');
                if (correctLi) {
                    correctLi.style.color = 'green';
                    correctLi.style.fontWeight = 'bold';
                    correctLi.style.textShadow = '1px 1px 2px rgba(0, 0, 0, 0.5)';
                }
            });

            // Appliquer les styles pour les réponses sélectionnées
            answerData.selected.forEach(selectedAnswer => {
                const selectedLi = questionDiv.querySelector(`input[value="${selectedAnswer}"]`)?.closest('li');
                if (selectedLi) {
                    selectedLi.style.color = correctAnswers[questionName]?.includes(selectedAnswer) ? 'lightgreen' : 'red';
                }
            });

            // Désactiver les cases après chargement
            questionDiv.querySelectorAll('input').forEach(input => (input.disabled = true));
        }
    }
}

// Générer les cercles pour les questions
function generateCircles() {
    const totalQuestions = Object.keys(correctAnswers).length;
    const circleContainer = document.getElementById('circle-container');

    for (let i = 1; i <= totalQuestions; i++) {
        const circle = document.createElement('div');
        circle.classList.add('circle', 'yellow'); // Couleur par défaut : jaune
        circle.innerText = i;

        circle.onclick = function () {
            scrollToQuestion(i);
        };

        circleContainer.appendChild(circle);
    }
}

// Mettre à jour les cercles après évaluation
function updateCircles() {
    const circles = document.querySelectorAll('.circle');
    let totalCorrectCircles = 0; // Compteur pour les réponses correctes
    for (let i = 1; i <= Object.keys(correctAnswers).length; i++) {
        const selectedAnswers = loadedAnswers[`q${i}`]?.selected || [];
        const circle = circles[i - 1];

        if (JSON.stringify(correctAnswers[`q${i}`]?.sort()) === JSON.stringify(selectedAnswers.sort())) {
            circle.classList.add('green');
            circle.classList.remove('yellow', 'red');
            totalCorrectCircles++;
        } else if (selectedAnswers.length > 0) {
            circle.classList.add('red');
            circle.classList.remove('yellow', 'green');
        } else {
            circle.classList.add('yellow');
            circle.classList.remove('green', 'red');
        }
    }

    // Mettre à jour la note avec le nombre de cercles verts
    document.getElementById('score').textContent = `${totalCorrectCircles} / ${Object.keys(correctAnswers).length}`;
}

// Défiler jusqu'à une question spécifique
function scrollToQuestion(questionNumber) {
    const questionDiv = document.getElementById(`question-${questionNumber}`);
    if (questionDiv) {
        questionDiv.scrollIntoView({ behavior: 'smooth' });
    }
}

// Charger les réponses et générer les cercles au chargement de la page
window.onload = function () {
    document.getElementById('total-questions').textContent = Object.keys(correctAnswers).length; // Nombre total de questions
    loadUserAnswersFromChimie();
    generateCircles();
    updateCircles();
};




    </script>
</body>
</html>
<script src="{% static 'java/question-stats.js' %}" defer></script>
<script src="{% static 'java/sidebar.js' %}"></script>
<script src="{% static 'java/navbar.js' %}"></script>