<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Luck - Syntanatomie 2022</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

{% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesynt.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylenavbar1.css' %}">


</head>
<body>





<div class="navbar">
    <span class="logo">QuizLuck</span>
    <!-- Bouton pour ouvrir complètement la barre latérale -->
<div class="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
</div>

    <div class="user-menu">
        <div class="user-profile" onclick="toggleMenu()">
            <span class="profile-icon">👤</span>
            <span class="user-name">Bonjour, {{ user_full_name}} !</span>
            <span class="dropdown-arrow">▼</span>
        </div>
        <ul class="dropdown-menu" id="dropdown-menu">
            <li><a href="#" onclick="openAccountModal()">Mon Compte</a></li>
            <li>
                <a href="{% url 'login' %}">
                    <i class="fas fa-sign-out-alt"></i> Déconnexion
                </a>
            </li>
        </ul>
    </div>

</div>

<!-- Pop-up Modifier Mon Compte -->
<div id="account-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Modifier Mon compte</h3>
            <span class="close-btn" onclick="closeAccountModal()">&times;</span>
        </div>
        <div class="modal-body">
            <form id="account-form">
                {% csrf_token %}
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" name="username" value="{{ user_full_name}}" required>
<!-- Champ caché contenant la date de naissance -->
<input type="hidden" id="profile-dob" value="{{ request.user.profile.birth_date|date:'Y-m-d' }}">

                <label for="dob">Date de naissance :</label>
                <input type="date" id="dob" name="dob" value="{{ user.dob|date:'Y-m-d' }}">

                <label for="password">Nouveau mot de passe :</label>
                <input type="password" id="password" name="password" placeholder="Nouveau mot de passe">

                <label for="confirm-password">Répéter le mot de passe :</label>
                <input type="password" id="confirm-password" name="confirm_password" placeholder="Répéter le mot de passe">

                <button type="button" id="submit-form" class="btn-primary">Modifier</button>
            </form>
        </div>
    </div>
</div>

<!-- Pop-up Message -->
<div id="success-popup" class="popup">
    <div class="popup-content">
        <p id="popup-message"></p>
        <button onclick="closePopup()">OK</button>
    </div>
</div>


<div class="sidebar open" id="sidebar">

    <!-- Section Accueil -->
    <h3><i class="fas fa-home"></i> Accueil</h3>
    <ul>
        <li><a href="{% url 'home' %}"><i class="fas fa-arrow-circle-left"></i> Retourner à l'accueil</a></li>
    </ul>

    <!-- Section Modes -->
    <h3><i class="fas fa-gamepad"></i> Modes</h3>
    <ul>
        <li><a href="{% url 'start_challenge' %}"><i class="fas fa-bolt"></i> Mode Challenge</a></li>
	<li><a href="{% url 'revision' %}"><i class="fas fa-book"></i> Mode Révision</a></li>
        <li><a href="{% url 'resultats' %}"><i class="fas fa-chart-line"></i> Vos Résultats</a></li>
    </ul>

<!-- Section Vos Modules -->
<h3><i class="fas fa-folder"></i> Vos Modules</h3>
<div id="sidebar-semesters">
    <ul>
        {% for semester, modules in data.items %}
            <li>
                <span class="semester-title">
                    <i class="fas fa-graduation-cap"></i> {{ semester }}
                    <span class="toggle-arrow">▶</span> <!-- Flèche pour masquer/afficher -->
                </span>
                <ul class="modules-list hidden"> <!-- Liste masquée par défaut -->
                    {% for module in modules %}
                        <li>
                            <!-- Affiche uniquement la description -->
                            <a href="/{{ semester }}/{{ module.name }}/">
                                <i class="fas fa-book"></i> {{ module.description }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>




    <!-- Bouton Déconnexion -->
    <div class="logout-icon">
        <a href="{% url 'login' %}">
            <i class="fas fa-sign-out-alt"></i> Déconnexion
        </a>
    </div>
</div>


    <div id="content">

<div id="score-container" class="score-container">
    <h3>Note : <span id="score">0 / <span id="total-questions"</span></h3>
</div>


        <div class="quiz-title">
            <h1>Resultats detail</h1>
    </div>

         <!-- Conteneur des cercles -->
    <div class="circle-container" id="circle-container">
        <!-- Les cercles seront générés ici par JavaScript -->
    </div>

            <div class="quiz-title">
                <h1>QCM Anatomie 1</h1>
            </div>
            <form id="quiz-form">
<input type="hidden" name="file_name" value="NC2022">
    
        <div id="question-1" class="question-container">
            <div class="question">
                <p>1.) Il s’agit probablement d’un processus expansif au niveau :</p>
                <ul>
        
                    <li><input type="checkbox" id="q1a" name="q1" value="A"> A- de l’hémisphère cérébelleux</li>
            
                    <li><input type="checkbox" id="q1b" name="q1" value="B"> B- du tronc cérébral</li>
            
                    <li><input type="checkbox" id="q1c" name="q1" value="C"> C- occipital</li>
            
                    <li><input type="checkbox" id="q1d" name="q1" value="D"> D- frontal</li>
            
                    <li><input type="checkbox" id="q1e" name="q1" value="E"> E- Vermien</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-2" class="question-container">
            <div class="question">
                <p>2.) Deux examens seront demandés :</p>
                <ul>
        
                    <li><input type="checkbox" id="q2a" name="q2" value="A"> A- Une TDM cérébrale</li>
            
                    <li><input type="checkbox" id="q2b" name="q2" value="B"> B- Une I.R.M. cérébrale</li>
            
                    <li><input type="checkbox" id="q2c" name="q2" value="C"> C- Un Electroencéphalogramme</li>
            
                    <li><input type="checkbox" id="q2d" name="q2" value="D"> D- Une angiographie cérébrale</li>
            
                    <li><input type="checkbox" id="q2e" name="q2" value="E"> E- Une TDM cervicale</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-3" class="question-container">
            <div class="question">
                <p>3.) Ces examens montrent une lésion latérale kystique avec prise de contraste d’un nodule, deux diagnostics sont retenus :</p>
                <ul>
        
                    <li><input type="checkbox" id="q3a" name="q3" value="A"> A- Un astrocytome pilocytique</li>
            
                    <li><input type="checkbox" id="q3b" name="q3" value="B"> B- Un Ependymome</li>
            
                    <li><input type="checkbox" id="q3c" name="q3" value="C"> C- Un hémangioblastome</li>
            
                    <li><input type="checkbox" id="q3d" name="q3" value="D"> D- Un médulloblastome</li>
            
                    <li><input type="checkbox" id="q3e" name="q3" value="E"> E- Un gliome malin</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-4" class="question-container">
            <div class="question">
                <p>4.) Quel traitement à envisager :</p>
                <ul>
        
                    <li><input type="checkbox" id="q4a" name="q4" value="A"> A- Une biopsie chirurgicale</li>
            
                    <li><input type="checkbox" id="q4b" name="q4" value="B"> B- Une chirurgie d’exérèse complète seule</li>
            
                    <li><input type="checkbox" id="q4c" name="q4" value="C"> C- Une chirurgie d’exérèse associée à une chimiothérapie</li>
            
                    <li><input type="checkbox" id="q4d" name="q4" value="D"> D- Une chirurgie d’exérèse associée à la chimiothérapie et la radiothérapie</li>
            
                    <li><input type="checkbox" id="q4e" name="q4" value="E"> E- Un traitement antalgique seul</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-5" class="question-container">
            <div class="question">
                <p>5.) Dans la scaphocéphalie la suture fermée est :</p>
                <ul>
        
                    <li><input type="checkbox" id="q5a" name="q5" value="A"> A- Une coronale</li>
            
                    <li><input type="checkbox" id="q5b" name="q5" value="B"> B- Le bregma</li>
            
                    <li><input type="checkbox" id="q5c" name="q5" value="C"> C- La sagittale</li>
            
                    <li><input type="checkbox" id="q5d" name="q5" value="D"> D- La lambdoide</li>
            
                    <li><input type="checkbox" id="q5e" name="q5" value="E"> E- Les 2 coronales</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-6" class="question-container">
            <div class="question">
                <p>6.) Le spina bifida occulta :</p>
                <ul>
        
                    <li><input type="checkbox" id="q6a" name="q6" value="A"> A- Est une non fermeture totale de tout le tube neural</li>
            
                    <li><input type="checkbox" id="q6b" name="q6" value="B"> B- Est une malformation du rachis et de la moelle épinière</li>
            
                    <li><input type="checkbox" id="q6c" name="q6" value="C"> C- La fermeture du tube neural s’est faite Avant le 21ème jour</li>
            
                    <li><input type="checkbox" id="q6d" name="q6" value="D"> D- Est de très bon pronostic</li>
            
                    <li><input type="checkbox" id="q6e" name="q6" value="E"> E- S’accompagne toujours d’hydrocéphalie</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-7" class="question-container">
            <div class="question">
                <p>7.) Un patient de 75 ans présente un tableau clinique typique de syndrome de la queue de cheval qui est fait de :</p>
                <ul>
        
                    <li><input type="checkbox" id="q7a" name="q7" value="A"> A- Troubles sphinctériens</li>
            
                    <li><input type="checkbox" id="q7b" name="q7" value="B"> B- Lourdeur des 2 membres inférieurs</li>
            
                    <li><input type="checkbox" id="q7c" name="q7" value="C"> C- Troubles sensitifs du périnée</li>
            
                    <li><input type="checkbox" id="q7d" name="q7" value="D"> D- D’une altération de l’état général</li>
            
                    <li><input type="checkbox" id="q7e" name="q7" value="E"> E- D’une VS accélérée</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-8" class="question-container">
            <div class="question">
                <p>8.) Un examen complémentaire sera demandé de première intention et en urgence :</p>
                <ul>
        
                    <li><input type="checkbox" id="q8a" name="q8" value="A"> A- Une TDM lombaire</li>
            
                    <li><input type="checkbox" id="q8b" name="q8" value="B"> B- Une IRM dorsale</li>
            
                    <li><input type="checkbox" id="q8c" name="q8" value="C"> C- Une IRM Lombaire</li>
            
                    <li><input type="checkbox" id="q8d" name="q8" value="D"> D- Des radiographies lombaires</li>
            
                    <li><input type="checkbox" id="q8e" name="q8" value="E"> E- Un EMG</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-9" class="question-container">
            <div class="question">
                <p>9.) Cet examen a montré une volumineuse Hernie Discale L3-L4, Le traitement est :</p>
                <ul>
        
                    <li><input type="checkbox" id="q9a" name="q9" value="A"> A- A base de corticoïdes seuls</li>
            
                    <li><input type="checkbox" id="q9b" name="q9" value="B"> B- A base de traitement anti-inflammatoire</li>
            
                    <li><input type="checkbox" id="q9c" name="q9" value="C"> C- Chirurgical en urgence</li>
            
                    <li><input type="checkbox" id="q9d" name="q9" value="D"> D- Chirurgical en différé</li>
            
                    <li><input type="checkbox" id="q9e" name="q9" value="E"> E- A base de corticoïdes et anti-inflammatoires</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-10" class="question-container">
            <div class="question">
                <p>10.) Dans les migraines, la douleur est :</p>
                <ul>
        
                    <li><input type="checkbox" id="q10a" name="q10" value="A"> A- Bilatérale</li>
            
                    <li><input type="checkbox" id="q10b" name="q10" value="B"> B- Associée à des nausées vomissements</li>
            
                    <li><input type="checkbox" id="q10c" name="q10" value="C"> C- Sévère dans tous les Cas</li>
            
                    <li><input type="checkbox" id="q10d" name="q10" value="D"> D- Toujours accompagnée de rougeur de la face</li>
            
                    <li><input type="checkbox" id="q10e" name="q10" value="E"> E- E de quelques minutes seulement</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-11" class="question-container">
            <div class="question">
                <p>11.) Le bilan radiologique montre une lésion osseuse du segment vertébral moyen, Le traitement est :</p>
                <ul>
        
                    <li><input type="checkbox" id="q11a" name="q11" value="A"> A- Orthopédique</li>
            
                    <li><input type="checkbox" id="q11b" name="q11" value="B"> B- Chirurgical : libération de la moelle épinière et fixation</li>
            
                    <li><input type="checkbox" id="q11c" name="q11" value="C"> C- Médical à base d’anti-inflammatoires</li>
            
                    <li><input type="checkbox" id="q11d" name="q11" value="D"> D- A base de corticoïdes seuls</li>
            
                    <li><input type="checkbox" id="q11e" name="q11" value="E"> E- Une décompression sans fixation</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-12" class="question-container">
            <div class="question">
                <p>12.) Un patient de 75 ans est admis avec une légère hémiparésie droite avec aphasie. Pour le diagnostic Quel est l’examen à faire ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q12a" name="q12" value="A"> A- Un Electroencéphalogramme</li>
            
                    <li><input type="checkbox" id="q12b" name="q12" value="B"> B- Un scanner cérébral</li>
            
                    <li><input type="checkbox" id="q12c" name="q12" value="C"> C- Une radiographie du crane</li>
            
                    <li><input type="checkbox" id="q12d" name="q12" value="D"> D- Un scanner cervical</li>
            
                    <li><input type="checkbox" id="q12e" name="q12" value="E"> E- Un fond d’œil</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-13" class="question-container">
            <div class="question">
                <p>13.) Lésion au niveau :</p>
                <ul>
        
                    <li><input type="checkbox" id="q13a" name="q13" value="A"> A- Temporal droit</li>
            
                    <li><input type="checkbox" id="q13b" name="q13" value="B"> B- Frontal gauche</li>
            
                    <li><input type="checkbox" id="q13c" name="q13" value="C"> C- Rolandique gauche</li>
            
                    <li><input type="checkbox" id="q13d" name="q13" value="D"> D- Rolandique droit</li>
            
                    <li><input type="checkbox" id="q13e" name="q13" value="E"> E- Pariétal gauche</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-14" class="question-container">
            <div class="question">
                <p>14.) Un blessé victime d’un accident de la voie publique se présente aux urgences dans un tableau de tétraplégie spastique avec un priapisme. La lésion à rechercher est au niveau de :</p>
                <ul>
        
                    <li><input type="checkbox" id="q14a" name="q14" value="A"> A- D2-D3</li>
            
                    <li><input type="checkbox" id="q14b" name="q14" value="B"> B- Cervical</li>
            
                    <li><input type="checkbox" id="q14c" name="q14" value="C"> C- Dorsal bas</li>
            
                    <li><input type="checkbox" id="q14d" name="q14" value="D"> D- L4 L5</li>
            
                    <li><input type="checkbox" id="q14e" name="q14" value="E"> E- L5 S1</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-15" class="question-container">
            <div class="question">
                <p>15.) Deux examens radiologiques à faire en urgence :</p>
                <ul>
        
                    <li><input type="checkbox" id="q15a" name="q15" value="A"> A- Des radiographies dorsales</li>
            
                    <li><input type="checkbox" id="q15b" name="q15" value="B"> B- Une IRM dorsale et lombaire</li>
            
                    <li><input type="checkbox" id="q15c" name="q15" value="C"> C- Une IRM cervicale</li>
            
                    <li><input type="checkbox" id="q15d" name="q15" value="D"> D- Une TDM lombaire</li>
            
                    <li><input type="checkbox" id="q15e" name="q15" value="E"> E- Une TDM cervicale</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-16" class="question-container">
            <div class="question">
                <p>16.) Suite cas clinique 4 : Cet examen montre une lésion corticale attachée à la dure mère prenant le contraste avec peu d'œdème, il s'agit probablement d'un :</p>
                <ul>
        
                    <li><input type="checkbox" id="q16a" name="q16" value="A"> A- Glioblastome</li>
            
                    <li><input type="checkbox" id="q16b" name="q16" value="B"> B- Medulloblastome</li>
            
                    <li><input type="checkbox" id="q16c" name="q16" value="C"> C- Œdème cérébral</li>
            
                    <li><input type="checkbox" id="q16d" name="q16" value="D"> D- Méningiome</li>
            
                    <li><input type="checkbox" id="q16e" name="q16" value="E"> E- Neurinome</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-17" class="question-container">
            <div class="question">
                <p>17.) Suite cas clinique 4 : Avant de proposer un traitement et de décider, l'examen fondamental à demander est :</p>
                <ul>
        
                    <li><input type="checkbox" id="q17a" name="q17" value="A"> A- Un Electroencéphalogramme</li>
            
                    <li><input type="checkbox" id="q17b" name="q17" value="B"> B- Un scanner cérébral</li>
            
                    <li><input type="checkbox" id="q17c" name="q17" value="C"> C- Une radiographie du crâne</li>
            
                    <li><input type="checkbox" id="q17d" name="q17" value="D"> D- Une IRM cérébrale</li>
            
                    <li><input type="checkbox" id="q17e" name="q17" value="E"> E- Un fond d’œil</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-18" class="question-container">
            <div class="question">
                <p>18.) Suite cas clinique 4 : le traitement est :</p>
                <ul>
        
                    <li><input type="checkbox" id="q18a" name="q18" value="A"> A- Chirurgical, réanimation et antiépileptiques</li>
            
                    <li><input type="checkbox" id="q18b" name="q18" value="B"> B- À base de réanimation seule</li>
            
                    <li><input type="checkbox" id="q18c" name="q18" value="C"> C- Chirurgie associée à la radiothérapie et la chimiothérapie</li>
            
                    <li><input type="checkbox" id="q18d" name="q18" value="D"> D- Chirurgie associée à la chimiothérapie</li>
            
                    <li><input type="checkbox" id="q18e" name="q18" value="E"> E- Surveillance</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-19" class="question-container">
            <div class="question">
                <p>19.) Suite cas clinique 4 : le diagnostic de certitude est confirmé par :</p>
                <ul>
        
                    <li><input type="checkbox" id="q19a" name="q19" value="A"> A- L'électroencéphalogramme</li>
            
                    <li><input type="checkbox" id="q19b" name="q19" value="B"> B- Une IRM cérébrale</li>
            
                    <li><input type="checkbox" id="q19c" name="q19" value="C"> C- Un scanner cérébral</li>
            
                    <li><input type="checkbox" id="q19d" name="q19" value="D"> D- L’examen Histologique</li>
            
                    <li><input type="checkbox" id="q19e" name="q19" value="E"> E- L’artériographie</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-20" class="question-container">
            <div class="question">
                <p>20.) Quelle est la tumeur qui évolue en 3 stades : stade otologique, stade oto-neurologique et stade d’HIC ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q20a" name="q20" value="A"> A- Medulloblastome de la F.C.P.</li>
            
                    <li><input type="checkbox" id="q20b" name="q20" value="B"> B- Ependymome de la F.C.P.</li>
            
                    <li><input type="checkbox" id="q20c" name="q20" value="C"> C- Astrocytome de la F.C.P.</li>
            
                    <li><input type="checkbox" id="q20d" name="q20" value="D"> D- Gliome temporal</li>
            
                    <li><input type="checkbox" id="q20e" name="q20" value="E"> E- Neurinome de l’acoustique</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-21" class="question-container">
            <div class="question">
                <p>21.) Concerant les névralgies cervico-brachiales :</p>
                <ul>
        
                    <li><input type="checkbox" id="q21a" name="q21" value="A"> A- Elles sont définies comme étant des douleurs irradiant à partir du cou vers les membres supérieurs de façon unilatérale exclusive</li>
            
                    <li><input type="checkbox" id="q21b" name="q21" value="B"> B- Elles sont le plus souvent dues à des hernies discales molles</li>
            
                    <li><input type="checkbox" id="q21c" name="q21" value="C"> C- Elles peuvent se manifester par des paresthésies</li>
            
                    <li><input type="checkbox" id="q21d" name="q21" value="D"> D- Elles peuvent être dues à un conflit acromio-huméral</li>
            
                    <li><input type="checkbox" id="q21e" name="q21" value="E"> E- Une névralgie cervico-brachiale accompagnée d’un déficit neurologique sur hernie discale est une urgence thérapeutique chirurgicale</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-22" class="question-container">
            <div class="question">
                <p>22.) La prise en charge thérapeutique des névralgies cervico-brachiales :</p>
                <ul>
        
                    <li><input type="checkbox" id="q22a" name="q22" value="A"> A- Est exclusivement chirurgicale</li>
            
                    <li><input type="checkbox" id="q22b" name="q22" value="B"> B- Consiste en un traitement conservateur de première intention en dehors du déficit neurologique</li>
            
                    <li><input type="checkbox" id="q22c" name="q22" value="C"> C- Repose sur une prise en charge plurimodale</li>
            
                    <li><input type="checkbox" id="q22d" name="q22" value="D"> D- Peut faire appel à des mesures de physiothérapie</li>
            
                    <li><input type="checkbox" id="q22e" name="q22" value="E"> E- Est exclusivement médicale</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-23" class="question-container">
            <div class="question">
                <p>23.) Concerant les crâniosténoses :</p>
                <ul>
        
                    <li><input type="checkbox" id="q23a" name="q23" value="A"> A- Elles peuvent être dues à la fermeture prématurée de l’une ou plusieurs sutures crâniennes</li>
            
                    <li><input type="checkbox" id="q23b" name="q23" value="B"> B- N’ont jamais de retentissement neuropsychologique</li>
            
                    <li><input type="checkbox" id="q23c" name="q23" value="C"> C- La forme plus fréquente est la scaphocéphalie</li>
            
                    <li><input type="checkbox" id="q23d" name="q23" value="D"> D- La forme la plus fréquente est le crâne en trèfle</li>
            
                    <li><input type="checkbox" id="q23e" name="q23" value="E"> E- Peuvent être syndromique ou non syndromique</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-24" class="question-container">
            <div class="question">
                <p>24.) Concerant les crâniosténoses non syndromiques :</p>
                <ul>
        
                    <li><input type="checkbox" id="q24a" name="q24" value="A"> A- La plagiocéphalie est due à la fermeture prématurée de la suture coronale de façon unilatérale</li>
            
                    <li><input type="checkbox" id="q24b" name="q24" value="B"> B- La plagiocéphalie est due à la fermeture prématurée de la suture coronale de façon bilatérale</li>
            
                    <li><input type="checkbox" id="q24c" name="q24" value="C"> C- La trigonocéphalie est due à la fermeture prématurée de la suture métopique</li>
            
                    <li><input type="checkbox" id="q24d" name="q24" value="D"> D- La scaphocéphalie est due à la fermeture prématurée de la suture sagittale</li>
            
                    <li><input type="checkbox" id="q24e" name="q24" value="E"> E- L’oxyocéphalie est due à la fermeture prématurée des sutures coronale et sagittale</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-25" class="question-container">
            <div class="question">
                <p>25.) Concerant la scaphocéphalie :</p>
                <ul>
        
                    <li><input type="checkbox" id="q25a" name="q25" value="A"> A- L’allongement du crâne peut se faire en avant par bombement du front ou vers l’arrière en exagérant la bosse occipitale dans les deux directions</li>
            
                    <li><input type="checkbox" id="q25b" name="q25" value="B"> B- Le diagnostic est clinique</li>
            
                    <li><input type="checkbox" id="q25c" name="q25" value="C"> C- La radiographie du crâne montre en évidence le bourrelet de la suture synostosée</li>
            
                    <li><input type="checkbox" id="q25d" name="q25" value="D"> D- La palpation de la suture sagittale met en évidence le bourrelet de la suture synostosée</li>
            
                    <li><input type="checkbox" id="q25e" name="q25" value="E"> E- Est due à la fermeture prématurée de la suture interpariétale</li>
            
                </ul>
            </div>
            
        </div>
        
            

            

            
                
                
                
            </div>
<button type="button" class="reset-quiz-button" onclick="window.location.href = '{% url "dynamic_view" "S7" "Maladie_du_Systeme_Nerveux" "NC2022" %}';">Réessayer tout le Quiz</button>

            <div id="details-section" class="details-section" style="display: none;">
                <h3>Tableau des questions</h3>
                <div class="question-links" id="question-links"></div>
            </div>

            
    
            <script>
const correctAnswers = {
    q1: ['A'],
    q2: ['A', 'B'],
    q3: ['A', 'C'],
    q4: ['B'],
    q5: ['C'],
    q6: ['D'],
    q7: ['A', 'B', 'C'],
    q8: ['C'],
    q9: ['C'],
    q10: ['B'],
    q11: ['B'],
    q12: ['C', 'E'],
    q13: ['B'],
    q14: ['B'],
    q15: ['D'],
    q16: ['D'],
    q17: ['D'],
    q18: ['A'],
    q19: ['D'],
    q20: ['E'],
    q21: ['B', 'C', 'E'],
    q22: ['B', 'C', 'D'],
    q23: ['A', 'C', 'E'],
    q24: ['A', 'C', 'D', 'E'],
    q25: ['A', 'B', 'D', 'E'],
};

let userAnswers = {}; // Stocke les réponses de l'utilisateur
let loadedAnswers = {}; // Stocke les réponses chargées pour l'évaluation

// Charger les réponses utilisateur
function loadUserAnswersFromChimie() {
    const savedAnswers = JSON.parse(localStorage.getItem('userAnswersNC2022'));

    if (savedAnswers) {
        loadedAnswers = savedAnswers; // Stocker les réponses dans la variable globale
        for (const [questionName, answerData] of Object.entries(savedAnswers)) {
            const questionDiv = document.querySelector(`input[name="${questionName}"]`)?.closest('.question-container');
            if (!questionDiv) continue;

            // Appliquer les styles pour les bonnes réponses
            correctAnswers[questionName]?.forEach(correctAnswer => {
                const correctLi = questionDiv.querySelector(`input[value="${correctAnswer}"]`)?.closest('li');
                if (correctLi) {
                    correctLi.style.color = 'green';
                    correctLi.style.fontWeight = 'bold';
                    correctLi.style.textShadow = '1px 1px 2px rgba(0, 0, 0, 0.5)';
                }
            });

            // Appliquer les styles pour les réponses sélectionnées
            answerData.selected.forEach(selectedAnswer => {
                const selectedLi = questionDiv.querySelector(`input[value="${selectedAnswer}"]`)?.closest('li');
                if (selectedLi) {
                    selectedLi.style.color = correctAnswers[questionName]?.includes(selectedAnswer) ? 'lightgreen' : 'red';
                }
            });

            // Désactiver les cases après chargement
            questionDiv.querySelectorAll('input').forEach(input => (input.disabled = true));
        }
    }
}

// Générer les cercles pour les questions
function generateCircles() {
    const totalQuestions = Object.keys(correctAnswers).length;
    const circleContainer = document.getElementById('circle-container');

    for (let i = 1; i <= totalQuestions; i++) {
        const circle = document.createElement('div');
        circle.classList.add('circle', 'yellow'); // Couleur par défaut : jaune
        circle.innerText = i;

        circle.onclick = function () {
            scrollToQuestion(i);
        };

        circleContainer.appendChild(circle);
    }
}

// Mettre à jour les cercles après évaluation
function updateCircles() {
    const circles = document.querySelectorAll('.circle');
    let totalCorrectCircles = 0; // Compteur pour les réponses correctes
    for (let i = 1; i <= Object.keys(correctAnswers).length; i++) {
        const selectedAnswers = loadedAnswers[`q${i}`]?.selected || [];
        const circle = circles[i - 1];

        if (JSON.stringify(correctAnswers[`q${i}`]?.sort()) === JSON.stringify(selectedAnswers.sort())) {
            circle.classList.add('green');
            circle.classList.remove('yellow', 'red');
            totalCorrectCircles++;
        } else if (selectedAnswers.length > 0) {
            circle.classList.add('red');
            circle.classList.remove('yellow', 'green');
        } else {
            circle.classList.add('yellow');
            circle.classList.remove('green', 'red');
        }
    }

    // Mettre à jour la note avec le nombre de cercles verts
    document.getElementById('score').textContent = `${totalCorrectCircles} / ${Object.keys(correctAnswers).length}`;
}

// Défiler jusqu'à une question spécifique
function scrollToQuestion(questionNumber) {
    const questionDiv = document.getElementById(`question-${questionNumber}`);
    if (questionDiv) {
        questionDiv.scrollIntoView({ behavior: 'smooth' });
    }
}

// Charger les réponses et générer les cercles au chargement de la page
window.onload = function () {
    document.getElementById('total-questions').textContent = Object.keys(correctAnswers).length; // Nombre total de questions
    loadUserAnswersFromChimie();
    generateCircles();
    updateCircles();
};




    </script>
</body>
</html>
<script src="{% static 'java/question-stats.js' %}" defer></script>
<script src="{% static 'java/sidebar.js' %}"></script>
<script src="{% static 'java/navbar.js' %}"></script>