<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Luck - Syntanatomie 2022</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

{% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesynt.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylenavbar1.css' %}">


</head>
<body>





<div class="navbar">
    <span class="logo">QuizLuck</span>
    <!-- Bouton pour ouvrir complètement la barre latérale -->
<div class="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
</div>

    <div class="user-menu">
        <div class="user-profile" onclick="toggleMenu()">
            <span class="profile-icon">👤</span>
            <span class="user-name">Bonjour, {{ user_full_name}} !</span>
            <span class="dropdown-arrow">▼</span>
        </div>
        <ul class="dropdown-menu" id="dropdown-menu">
            <li><a href="#" onclick="openAccountModal()">Mon Compte</a></li>
            <li>
                <a href="{% url 'login' %}">
                    <i class="fas fa-sign-out-alt"></i> Déconnexion
                </a>
            </li>
        </ul>
    </div>

</div>

<!-- Pop-up Modifier Mon Compte -->
<div id="account-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Modifier Mon compte</h3>
            <span class="close-btn" onclick="closeAccountModal()">&times;</span>
        </div>
        <div class="modal-body">
            <form id="account-form">
                {% csrf_token %}
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" name="username" value="{{ user_full_name}}" required>
<!-- Champ caché contenant la date de naissance -->
<input type="hidden" id="profile-dob" value="{{ request.user.profile.birth_date|date:'Y-m-d' }}">

                <label for="dob">Date de naissance :</label>
                <input type="date" id="dob" name="dob" value="{{ user.dob|date:'Y-m-d' }}">

                <label for="password">Nouveau mot de passe :</label>
                <input type="password" id="password" name="password" placeholder="Nouveau mot de passe">

                <label for="confirm-password">Répéter le mot de passe :</label>
                <input type="password" id="confirm-password" name="confirm_password" placeholder="Répéter le mot de passe">

                <button type="button" id="submit-form" class="btn-primary">Modifier</button>
            </form>
        </div>
    </div>
</div>

<!-- Pop-up Message -->
<div id="success-popup" class="popup">
    <div class="popup-content">
        <p id="popup-message"></p>
        <button onclick="closePopup()">OK</button>
    </div>
</div>


<div class="sidebar open" id="sidebar">

    <!-- Section Accueil -->
    <h3><i class="fas fa-home"></i> Accueil</h3>
    <ul>
        <li><a href="{% url 'home' %}"><i class="fas fa-arrow-circle-left"></i> Retourner à l'accueil</a></li>
    </ul>

    <!-- Section Modes -->
    <h3><i class="fas fa-gamepad"></i> Modes</h3>
    <ul>
        <li><a href="{% url 'start_challenge' %}"><i class="fas fa-bolt"></i> Mode Challenge</a></li>
	<li><a href="{% url 'revision' %}"><i class="fas fa-book"></i> Mode Révision</a></li>
        <li><a href="{% url 'resultats' %}"><i class="fas fa-chart-line"></i> Vos Résultats</a></li>
    </ul>

<!-- Section Vos Modules -->
<h3><i class="fas fa-folder"></i> Vos Modules</h3>
<div id="sidebar-semesters">
    <ul>
        {% for semester, modules in data.items %}
            <li>
                <span class="semester-title">
                    <i class="fas fa-graduation-cap"></i> {{ semester }}
                    <span class="toggle-arrow">▶</span> <!-- Flèche pour masquer/afficher -->
                </span>
                <ul class="modules-list hidden"> <!-- Liste masquée par défaut -->
                    {% for module in modules %}
                        <li>
                            <!-- Affiche uniquement la description -->
                            <a href="/{{ semester }}/{{ module.name }}/">
                                <i class="fas fa-book"></i> {{ module.description }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>




    <!-- Bouton Déconnexion -->
    <div class="logout-icon">
        <a href="{% url 'login' %}">
            <i class="fas fa-sign-out-alt"></i> Déconnexion
        </a>
    </div>
</div>


    <div id="content">

<div id="score-container" class="score-container">
    <h3>Note : <span id="score">0 / <span id="total-questions"</span></h3>
</div>


        <div class="quiz-title">
            <h1>Resultats detail</h1>
    </div>

         <!-- Conteneur des cercles -->
    <div class="circle-container" id="circle-container">
        <!-- Les cercles seront générés ici par JavaScript -->
    </div>

            <div class="quiz-title">
                <h1>QCM Anatomie 1</h1>
            </div>
            <form id="quiz-form">
<input type="hidden" name="file_name" value="NL2019">
    
        <div id="question-1" class="question-container">
            <div class="question">
                <p>1.) Une patiente âgée de 67 ans, consulte pour une altération de la marche graduelle apparue depuis 5 mois ; Sur quels arguments évoquez-vous une polynévropathie sensitivomotrice ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q1a" name="q1" value="A"> A- Une amyotrophie distale des membres inférieurs</li>
            
                    <li><input type="checkbox" id="q1b" name="q1" value="B"> B- Une démarche ébrieuse</li>
            
                    <li><input type="checkbox" id="q1c" name="q1" value="C"> C- Des douleurs en décharges électriques à la surélévation du membre inférieur en décubitus dorsal</li>
            
                    <li><input type="checkbox" id="q1d" name="q1" value="D"> D- Un déficit des interosseux des 2 mains</li>
            
                    <li><input type="checkbox" id="q1e" name="q1" value="E"> E- Une abolition des réflexes achilléens</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-2" class="question-container">
            <div class="question">
                <p>2.) Quelles données seraient incompatibles avec ce diagnostic ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q2a" name="q2" value="A"> A- La présence de troubles vasomoteurs</li>
            
                    <li><input type="checkbox" id="q2b" name="q2" value="B"> B- Une notion d'impuissance sexuelle</li>
            
                    <li><input type="checkbox" id="q2c" name="q2" value="C"> C- Un signe de Babinski</li>
            
                    <li><input type="checkbox" id="q2d" name="q2" value="D"> D- Une dysarthrie</li>
            
                    <li><input type="checkbox" id="q2e" name="q2" value="E"> E- Un déficit des jambiers antérieurs</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-3" class="question-container">
            <div class="question">
                <p>3.) Quelles données pourraient contribuer à la recherche étiologique ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q3a" name="q3" value="A"> A- La notion d'un diabète de type II</li>
            
                    <li><input type="checkbox" id="q3b" name="q3" value="B"> B- La notion d'une hypercholestérolémie</li>
            
                    <li><input type="checkbox" id="q3c" name="q3" value="C"> C- Une anémie macrocytaire</li>
            
                    <li><input type="checkbox" id="q3d" name="q3" value="D"> D- Une sérologie syphilitique positive</li>
            
                    <li><input type="checkbox" id="q3e" name="q3" value="E"> E- Une prise de poids importante</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-4" class="question-container">
            <div class="question">
                <p>4.) Une femme de 28 ans, sans ATCD particuliers, consulte pour des céphalées en casque apparues depuis 1 semaine sur un mode progressif, résistants au paracétamol. Elle incrimine une sinusite authentifiée depuis 10 jours et traitée par un ATB, qui a été arrêté pour cause d'intolérance (nausées et vomissements). Depuis 2 jours elle voit double et ressent une faiblesse progressive de son bras droit qui semble sursauter par intermittence. A l'examen la nuque est souple, il y a une hémiparésie droite prédominant en brachial. Quels sont les 2 diagnostics que vous évoquez en premier ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q4a" name="q4" value="A"> A- Une méningite</li>
            
                    <li><input type="checkbox" id="q4b" name="q4" value="B"> B- Une thrombophlébite cérébrale</li>
            
                    <li><input type="checkbox" id="q4c" name="q4" value="C"> C- Un abcès cérébral</li>
            
                    <li><input type="checkbox" id="q4d" name="q4" value="D"> D- Un AVC ischémique</li>
            
                    <li><input type="checkbox" id="q4e" name="q4" value="E"> E- Une hémorragie méningée</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-5" class="question-container">
            <div class="question">
                <p>5.) Dans ce contexte, qu'est ce qui devrait expliquer la paralysie du VI ? (Une proposition)</p>
                <ul>
        
                    <li><input type="checkbox" id="q5a" name="q5" value="A"> A- C'est un signe de focalisation</li>
            
                    <li><input type="checkbox" id="q5b" name="q5" value="B"> B- C'est un signe d'engagement temporal</li>
            
                    <li><input type="checkbox" id="q5c" name="q5" value="C"> C- C'est un signe d'irritation méningée</li>
            
                    <li><input type="checkbox" id="q5d" name="q5" value="D"> D- Il s'agit d'une infiltration locorégionale par l'abcédation sinueuse</li>
            
                    <li><input type="checkbox" id="q5e" name="q5" value="E"> E- Elle n'a pas de valeur localisatrice, c'est en rapport avec une HTIC</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-6" class="question-container">
            <div class="question">
                <p>6.) L'IRM encéphalique montre un signe du delta vide. Quel est votre diagnostic final ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q6a" name="q6" value="A"> A- Une méningite</li>
            
                    <li><input type="checkbox" id="q6b" name="q6" value="B"> B- Une thrombophlébite cérébrale</li>
            
                    <li><input type="checkbox" id="q6c" name="q6" value="C"> C- Un abcès cérébral</li>
            
                    <li><input type="checkbox" id="q6d" name="q6" value="D"> D- Un AVC ischémique</li>
            
                    <li><input type="checkbox" id="q6e" name="q6" value="E"> E- Une hémorragie méningée</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-7" class="question-container">
            <div class="question">
                <p>7.) Un Homme de 38 ans consulte pour une incapacité de marcher ; sur quels arguments évoquez-vous un syndrome de Guillain Barré ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q7a" name="q7" value="A"> A- Une installation graduelle depuis 7 mois</li>
            
                    <li><input type="checkbox" id="q7b" name="q7" value="B"> B- Une rétention urinaire</li>
            
                    <li><input type="checkbox" id="q7c" name="q7" value="C"> C- Une anesthésie superficielle et profonde des membres inférieurs</li>
            
                    <li><input type="checkbox" id="q7d" name="q7" value="D"> D- Une notion de syndrome infectieux ORL 15 jours avant le début des symptômes</li>
            
                    <li><input type="checkbox" id="q7e" name="q7" value="E"> E- Une Paraplégie flasque</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-8" class="question-container">
            <div class="question">
                <p>8.) Quels sont les 2 examens paracliniques qui conforteront ce diagnostic ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q8a" name="q8" value="A"> A- La PL</li>
            
                    <li><input type="checkbox" id="q8b" name="q8" value="B"> B- L'ENMG</li>
            
                    <li><input type="checkbox" id="q8c" name="q8" value="C"> C- La sérologie EBV</li>
            
                    <li><input type="checkbox" id="q8d" name="q8" value="D"> D- La Biopsie neuro-musculaire</li>
            
                    <li><input type="checkbox" id="q8e" name="q8" value="E"> E- Le prélèvement de gorge</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-9" class="question-container">
            <div class="question">
                <p>9.) Vous décidez d'une hospitalisation en raison d'une aggravation ; de quoi peut-il s'agir ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q9a" name="q9" value="A"> A- Un coma</li>
            
                    <li><input type="checkbox" id="q9b" name="q9" value="B"> B- Une crise d'épilepsie</li>
            
                    <li><input type="checkbox" id="q9c" name="q9" value="C"> C- Une tétraplégie</li>
            
                    <li><input type="checkbox" id="q9d" name="q9" value="D"> D- Des troubles respiratoires</li>
            
                    <li><input type="checkbox" id="q9e" name="q9" value="E"> E- Des troubles de la déglutition</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-10" class="question-container">
            <div class="question">
                <p>10.) La méningovasculaire syphilitique est caractérisée par :</p>
                <ul>
        
                    <li><input type="checkbox" id="q10a" name="q10" value="A"> A- Des symptômes neurologiques survenant durant la phase primaire de la syphilis</li>
            
                    <li><input type="checkbox" id="q10b" name="q10" value="B"> B- Une atteinte de la paroi vasculaire à type d'endartérite</li>
            
                    <li><input type="checkbox" id="q10c" name="q10" value="C"> C- La présence d'une méningite à liquide clair</li>
            
                    <li><input type="checkbox" id="q10d" name="q10" value="D"> D- L'analyse du LCR n'est pas obligatoire pour poser le diagnostic</li>
            
                    <li><input type="checkbox" id="q10e" name="q10" value="E"> E- Des symptômes neurologiques en rapport avec des accidents vasculaires ischémiques</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-11" class="question-container">
            <div class="question">
                <p>11.) Chez une patiente âgée de 76 ans vous évoquez une Sclérose Latérale Progressive débutante : Que présente t'elle cliniquement ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q11a" name="q11" value="A"> A- Une amyotrophie fasciculante de la langue</li>
            
                    <li><input type="checkbox" id="q11b" name="q11" value="B"> B- Une amyotrophie des mains</li>
            
                    <li><input type="checkbox" id="q11c" name="q11" value="C"> C- Un syndrome tétrapyramidal isolé</li>
            
                    <li><input type="checkbox" id="q11d" name="q11" value="D"> D- Un syndrome cervico-brachial et un syndrome pyramidal</li>
            
                    <li><input type="checkbox" id="q11e" name="q11" value="E"> E- Une atteinte proprioceptive et pyramidale</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-12" class="question-container">
            <div class="question">
                <p>12.) Quel argument supplémentaire vous permettra de confirmer votre diagnostic ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q12a" name="q12" value="A"> A- Un tracé neurogène de type corne antérieur</li>
            
                    <li><input type="checkbox" id="q12b" name="q12" value="B"> B- Une dissociation albumino-cytologique</li>
            
                    <li><input type="checkbox" id="q12c" name="q12" value="C"> C- Une arthrose cervicale à la Rx</li>
            
                    <li><input type="checkbox" id="q12d" name="q12" value="D"> D- Une carence en vit B12</li>
            
                    <li><input type="checkbox" id="q12e" name="q12" value="E"> E- Un ralentissement des vitesses de conduction nerveuses à l'ENMG</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-13" class="question-container">
            <div class="question">
                <p>13.) La maladie de Charcot :</p>
                <ul>
        
                    <li><input type="checkbox" id="q13a" name="q13" value="A"> A- Est une affection inflammatoire auto-immune du SNP</li>
            
                    <li><input type="checkbox" id="q13b" name="q13" value="B"> B- Associe une atteinte du faisceau pyramidal de la corne antérieure et des noyaux des nerfs bulbaires</li>
            
                    <li><input type="checkbox" id="q13c" name="q13" value="C"> C- Peut associer aux symptômes habituels une atteinte cognitive ou cérébelleuse</li>
            
                    <li><input type="checkbox" id="q13d" name="q13" value="D"> D- Est une transmission autosomique récessive</li>
            
                    <li><input type="checkbox" id="q13e" name="q13" value="E"> E- Est habituellement une pathologie de l'adulte jeune</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-14" class="question-container">
            <div class="question">
                <p>14.) Quels sont les caractères généraux d'une épilepsie généralisée idiopathique :</p>
                <ul>
        
                    <li><input type="checkbox" id="q14a" name="q14" value="A"> A- Il n'y a pas de prédisposition génétique</li>
            
                    <li><input type="checkbox" id="q14b" name="q14" value="B"> B- L'examen neurologique est normal</li>
            
                    <li><input type="checkbox" id="q14c" name="q14" value="C"> C- Les anomalies électriques sont symétriques et synchrones</li>
            
                    <li><input type="checkbox" id="q14d" name="q14" value="D"> D- Il existe un retard mental</li>
            
                    <li><input type="checkbox" id="q14e" name="q14" value="E"> E- Le pronostic est défavorable</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-15" class="question-container">
            <div class="question">
                <p>15.) L'épilepsie myoclonique juvénile :</p>
                <ul>
        
                    <li><input type="checkbox" id="q15a" name="q15" value="A"> A- Fait partie des épilepsies partielles idiopathiques</li>
            
                    <li><input type="checkbox" id="q15b" name="q15" value="B"> B- Comporte des myoclonies au réveil</li>
            
                    <li><input type="checkbox" id="q15c" name="q15" value="C"> C- Ne connaît pas de prédisposition génétique</li>
            
                    <li><input type="checkbox" id="q15d" name="q15" value="D"> D- Répond bien à la carbamazépine</li>
            
                    <li><input type="checkbox" id="q15e" name="q15" value="E"> E- Rechute fréquemment à l'arrêt du traitement</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-16" class="question-container">
            <div class="question">
                <p>16.) Un enfant âgé de 3 ans est amené en consultation pour des chutes fréquentes, vous retrouvez à l'examen un déficit de la ceinture pelvienne, une pseudo-hypertrophie des mollets, une macroglossie et un début de rétraction des tendons d'Achille. Quel diagnostic évoquez-vous ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q16a" name="q16" value="A"> A- Une dystrophie musculaire de Becker</li>
            
                    <li><input type="checkbox" id="q16b" name="q16" value="B"> B- Une dystrophie musculaire de Steinert</li>
            
                    <li><input type="checkbox" id="q16c" name="q16" value="C"> C- Une sarcoglycanopathie</li>
            
                    <li><input type="checkbox" id="q16d" name="q16" value="D"> D- Une dystrophie musculaire de Duchenne</li>
            
                    <li><input type="checkbox" id="q16e" name="q16" value="E"> E- Une atrophie des gros orteils</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-17" class="question-container">
            <div class="question">
                <p>17.) Quel argument va étayer votre hypothèse ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q17a" name="q17" value="A"> A- Une cousine également atteinte</li>
            
                    <li><input type="checkbox" id="q17b" name="q17" value="B"> B- Des parents consanguins</li>
            
                    <li><input type="checkbox" id="q17c" name="q17" value="C"> C- Des CPK à 45U/ml</li>
            
                    <li><input type="checkbox" id="q17d" name="q17" value="D"> D- Des CPK à 1250 chez sa sœur</li>
            
                    <li><input type="checkbox" id="q17e" name="q17" value="E"> E- Une notion de souffrance néonatale</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-18" class="question-container">
            <div class="question">
                <p>18.) Quelles complications allez-vous guetter ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q18a" name="q18" value="A"> A- Une cyphoscoliose</li>
            
                    <li><input type="checkbox" id="q18b" name="q18" value="B"> B- Une cardiomyopathie</li>
            
                    <li><input type="checkbox" id="q18c" name="q18" value="C"> C- Une hypothyroïdie</li>
            
                    <li><input type="checkbox" id="q18d" name="q18" value="D"> D- Une insuffisance respiratoire</li>
            
                    <li><input type="checkbox" id="q18e" name="q18" value="E"> E- Une paralysie labio-glosso-pharyngée</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-19" class="question-container">
            <div class="question">
                <p>19.) Les complications motrices du traitement dopaminergique chez un patient parkinsonien comportent les caractéristiques suivantes :</p>
                <ul>
        
                    <li><input type="checkbox" id="q19a" name="q19" value="A"> A- Survienne de fluctuations de la mobilité entre des états dits 'On' et des états dits 'Off'</li>
            
                    <li><input type="checkbox" id="q19b" name="q19" value="B"> B- Survienne de mouvements involontaires rythmés par la prise de médicaments</li>
            
                    <li><input type="checkbox" id="q19c" name="q19" value="C"> C- Survienne au début de la maladie chez les patients qui n'ont jamais reçu de traitement</li>
            
                    <li><input type="checkbox" id="q19d" name="q19" value="D"> D- Survienne chez la majorité des patients après quelques années de traitement</li>
            
                    <li><input type="checkbox" id="q19e" name="q19" value="E"> E- Survienne plus précocement sous Levo-Dopa comparativement aux agonistes dopaminergiques</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-20" class="question-container">
            <div class="question">
                <p>20.) Vous posez le diagnostic de Dystrophie Facio-Scapulo-Humérale chez un patient, quel est le tableau clinique qu'il présente ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q20a" name="q20" value="A"> A- Une épilepsie faciale associée à une amyotrophie de la ceinture scapulaire</li>
            
                    <li><input type="checkbox" id="q20b" name="q20" value="B"> B- Une scapulalgie douloureuse, bilatérale et un déficit des deltoïdes</li>
            
                    <li><input type="checkbox" id="q20c" name="q20" value="C"> C- Une paralysie avec fasciculations et crampes de la ceinture scapulaire et de la jambe</li>
            
                    <li><input type="checkbox" id="q20d" name="q20" value="D"> D- Une amyotrophie partielle de la face, une hyperlordose lombaire, un déficit des muscles élévateurs du bras et du biceps</li>
            
                    <li><input type="checkbox" id="q20e" name="q20" value="E"> E- Un déficit du releveur de la pointe des pieds, une scapula labiale, un déficit de la ceinture scapulaire</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-21" class="question-container">
            <div class="question">
                <p>21.) Vous examinez un patient de 59 ans qui a des manifestations psychiatriques en rapport avec un syndrome frontal. Les analyses biologiques du sang retrouvent un TPHA et un VDRL et TPHA positif. Parmi les attitudes suivantes, laquelle semble appropriée ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q21a" name="q21" value="A"> A- Faire un examen lombaire par ponction</li>
            
                    <li><input type="checkbox" id="q21b" name="q21" value="B"> B- Faire un bilan à la recherche d'autres infections sexuellement transmissibles</li>
            
                    <li><input type="checkbox" id="q21c" name="q21" value="C"> C- Faire un bilan biologique approfondi</li>
            
                    <li><input type="checkbox" id="q21d" name="q21" value="D"> D- Faire un scanner de l'aorte thoracique</li>
            
                    <li><input type="checkbox" id="q21e" name="q21" value="E"> E- Faire un examen cardiovasculaire et un fond d'œil</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-22" class="question-container">
            <div class="question">
                <p>22.) Une jeune femme consulte pour une épilepsie apparue depuis quelques semaines. Sur quels arguments supplémentaires évoquerez-vous un syndrome myasthénique ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q22a" name="q22" value="A"> A- Un rasonnement et une dysphagie fluctuante</li>
            
                    <li><input type="checkbox" id="q22b" name="q22" value="B"> B- Une abolition du réflexe photomoteur</li>
            
                    <li><input type="checkbox" id="q22c" name="q22" value="C"> C- Une amyotrophie des mains</li>
            
                    <li><input type="checkbox" id="q22d" name="q22" value="D"> D- Une survenue après un choc affectif</li>
            
                    <li><input type="checkbox" id="q22e" name="q22" value="E"> E- Une des bras à la manœuvre de Barré</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-23" class="question-container">
            <div class="question">
                <p>23.) Quel examen paraclinique pourra confirmer votre diagnostic :</p>
                <ul>
        
                    <li><input type="checkbox" id="q23a" name="q23" value="A"> A- La recherche d'Ac anti RAch</li>
            
                    <li><input type="checkbox" id="q23b" name="q23" value="B"> B- L'ENMG</li>
            
                    <li><input type="checkbox" id="q23c" name="q23" value="C"> C- L'IRM thoracique</li>
            
                    <li><input type="checkbox" id="q23d" name="q23" value="D"> D- Le dosage des CPK et Aldolases</li>
            
                    <li><input type="checkbox" id="q23e" name="q23" value="E"> E- La biopsie musculaire</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-24" class="question-container">
            <div class="question">
                <p>24.) Au cours d’un AVC ischémique constitué :</p>
                <ul>
        
                    <li><input type="checkbox" id="q24a" name="q24" value="A"> A- Il y a une interruption de la circulation dans le territoire de l’artère cérébrale</li>
            
                    <li><input type="checkbox" id="q24b" name="q24" value="B"> B- La mort cellulaire est responsable d'un œdème vasogénique</li>
            
                    <li><input type="checkbox" id="q24c" name="q24" value="C"> C- Le scanneur vasculaire survient au bout de 60 minutes d'interruption du débit</li>
            
                    <li><input type="checkbox" id="q24d" name="q24" value="D"> D- L'origine occlusive est minoritaire</li>
            
                    <li><input type="checkbox" id="q24e" name="q24" value="E"> E- Les signes cliniques sont immédiats dans les 24 heures</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-25" class="question-container">
            <div class="question">
                <p>25.) Un patient infecté par le VIH avec un taux de CD4 à 150/mm3, accusé des céphalées et une confusion. L’IRM cérébrale montre une lésion péritriculaire avec prise de contraste de façon intense et homogène. Quel est le diagnostic le plus probable ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q25a" name="q25" value="A"> A- Un lymphome cérébral</li>
            
                    <li><input type="checkbox" id="q25b" name="q25" value="B"> B- Une Leucoencéphalopathie Multifocale Progressive</li>
            
                    <li><input type="checkbox" id="q25c" name="q25" value="C"> C- Une toxicité médicamenteuse</li>
            
                    <li><input type="checkbox" id="q25d" name="q25" value="D"> D- Une méningite à cryptocoque</li>
            
                    <li><input type="checkbox" id="q25e" name="q25" value="E"> E- Une méningoencéphalite virale</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-26" class="question-container">
            <div class="question">
                <p>26.) Une patiente âgée de 26 ans se présente aux urgences pour une baisse massive de l’acuité visuelle de l’œil droit associée à des douleurs rétro-bulbaire, le FO est normal. Quels examen paraclinique pratiquerez-vous de première intention ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q26a" name="q26" value="A"> A- Une angiographie rétinienne</li>
            
                    <li><input type="checkbox" id="q26b" name="q26" value="B"> B- Une IRM</li>
            
                    <li><input type="checkbox" id="q26c" name="q26" value="C"> C- Une PL</li>
            
                    <li><input type="checkbox" id="q26d" name="q26" value="D"> D- Une biopsie</li>
            
                    <li><input type="checkbox" id="q26e" name="q26" value="E"> E- Un bilan inflammatoire</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-27" class="question-container">
            <div class="question">
                <p>27.) La patiente est hospitalisée, le bilan est réalisé et un bolus de corticoïde lui est administré. 2 mois plus tard, elle présente à nouveau une névrite optique homolatérale. À quelle condition devrez-vous répondre l'IRM alors pour que vous reteniez le diagnostic de SEP ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q27a" name="q27" value="A"> A- L’existence d’un hypersignal T2 du nerf optique gauche</li>
            
                    <li><input type="checkbox" id="q27b" name="q27" value="B"> B- L’existence d’une prise de contraste du nerf optique gauche</li>
            
                    <li><input type="checkbox" id="q27c" name="q27" value="C"> C- L’existence d’une dissémination temporo spatiale</li>
            
                    <li><input type="checkbox" id="q27d" name="q27" value="D"> D- Aucune de ces propositions</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-28" class="question-container">
            <div class="question">
                <p>28.) Quelles sont les caractéristiques anatomo-pathologiques de la maladie d'Alzheimer ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q28a" name="q28" value="A"> A- Atrophie corticale habituellement frontale</li>
            
                    <li><input type="checkbox" id="q28b" name="q28" value="B"> B- Préservation des structures sous corticales au début</li>
            
                    <li><input type="checkbox" id="q28c" name="q28" value="C"> C- Dépôts de protéine amyloïde</li>
            
                    <li><input type="checkbox" id="q28d" name="q28" value="D"> D- Dépôts de protéine tau</li>
            
                    <li><input type="checkbox" id="q28e" name="q28" value="E"> E- Perte neuronale des poids du cerveau</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-29" class="question-container">
            <div class="question">
                <p>29.) Une patiente âgée de 28 ans se consulte aux urgences pour des céphalées, sur quels arguments posez-vous le diagnostic de migraine ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q29a" name="q29" value="A"> A- Douleur en coup de tonnerre</li>
            
                    <li><input type="checkbox" id="q29b" name="q29" value="B"> B- Une durée de 10 mn</li>
            
                    <li><input type="checkbox" id="q29c" name="q29" value="C"> C- La localisation temporale gauche</li>
            
                    <li><input type="checkbox" id="q29d" name="q29" value="D"> D- Le déclenchement par le sport</li>
            
                    <li><input type="checkbox" id="q29e" name="q29" value="E"> E- Des épisodes similaires récurrents</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-30" class="question-container">
            <div class="question">
                <p>30.) Une tuberculose du système nerveux central peut se manifester par :</p>
                <ul>
        
                    <li><input type="checkbox" id="q30a" name="q30" value="A"> A- Des signes granulomateux centrés par caséum</li>
            
                    <li><input type="checkbox" id="q30b" name="q30" value="B"> B- Une confusion fébrile</li>
            
                    <li><input type="checkbox" id="q30c" name="q30" value="C"> C- Une méningo-encéphalite responsable de confusion fébrile</li>
            
                    <li><input type="checkbox" id="q30d" name="q30" value="D"> D- Un AVC hémorragique méningé</li>
            
                    <li><input type="checkbox" id="q30e" name="q30" value="E"> E- Une mono neuropathie multiple</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-31" class="question-container">
            <div class="question">
                <p>31.) Un homme a été retrouvé perdu à la recherche de son domicile, peu vêtu en pleine saison froide, incapable de donner son nom de famille, et répondant de façon inappropriée aux différentes questions. Vous pensez à une maladie d’Alzheimer si vous trouvez :</p>
                <ul>
        
                    <li><input type="checkbox" id="q31a" name="q31" value="A"> A- Une aphasie anomique</li>
            
                    <li><input type="checkbox" id="q31b" name="q31" value="B"> B- Une parole déliée et une akinésie</li>
            
                    <li><input type="checkbox" id="q31c" name="q31" value="C"> C- Des lésions diffuses de la substance blanche</li>
            
                    <li><input type="checkbox" id="q31d" name="q31" value="D"> D- Un LCR inflammatoire</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-32" class="question-container">
            <div class="question">
                <p>32.) Si vous retenez une maladie d'Alzheimer, à l'IRM cérébrale l'atrophie prédomine dans 2 régions, lesquelles ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q32a" name="q32" value="A"> A- Frontale</li>
            
                    <li><input type="checkbox" id="q32b" name="q32" value="B"> B- Cérébelleuse</li>
            
                    <li><input type="checkbox" id="q32c" name="q32" value="C"> C- Hippocampique</li>
            
                    <li><input type="checkbox" id="q32d" name="q32" value="D"> D- Régions associatives</li>
            
                    <li><input type="checkbox" id="q32e" name="q32" value="E"> E- Sous corticale</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-33" class="question-container">
            <div class="question">
                <p>33.) Quels sont les symptômes dopa résistants en cas de maladie de Parkinson ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q33a" name="q33" value="A"> A- L'akinésie</li>
            
                    <li><input type="checkbox" id="q33b" name="q33" value="B"> B- Les troubles de l'équilibre</li>
            
                    <li><input type="checkbox" id="q33c" name="q33" value="C"> C- La fuite urinaire</li>
            
                    <li><input type="checkbox" id="q33d" name="q33" value="D"> D- Le tremblement de repos</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-34" class="question-container">
            <div class="question">
                <p>34.) L’ataxie avec déficit en vitamine E (AVED) est caractérisée par :</p>
                <ul>
        
                    <li><input type="checkbox" id="q34a" name="q34" value="A"> A- Un syndrome de Friedreich</li>
            
                    <li><input type="checkbox" id="q34b" name="q34" value="B"> B- Un tremblement de la tête</li>
            
                    <li><input type="checkbox" id="q34c" name="q34" value="C"> C- Une mutation du gène de la-tocophérol-(a-TTP) sur le chromosome 8</li>
            
                    <li><input type="checkbox" id="q34d" name="q34" value="D"> D- Un début lent d’instabilité axiale constante</li>
            
                    <li><input type="checkbox" id="q34e" name="q34" value="E"> E- Une apraxie oculomotrice</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-35" class="question-container">
            <div class="question">
                <p>35.) Une patiente âgée de 35 ans consulte pour des céphalées, sur quels arguments évoquez-vous des céphalées de tension ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q35a" name="q35" value="A"> A- Elles sont en casque</li>
            
                    <li><input type="checkbox" id="q35b" name="q35" value="B"> B- Elles sont accompagnées de nausées et de vomissements</li>
            
                    <li><input type="checkbox" id="q35c" name="q35" value="C"> C- Elles durent plusieurs heures et peuvent récidiver plusieurs années</li>
            
                    <li><input type="checkbox" id="q35d" name="q35" value="D"> D- Un examen neurologique est normal</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-36" class="question-container">
            <div class="question">
                <p>36.) Le paracétamol :</p>
                <ul>
        
                    <li><input type="checkbox" id="q36a" name="q36" value="A"> A- Est un analgésique et un antipyrétique à action centrale et périphérique</li>
            
                    <li><input type="checkbox" id="q36b" name="q36" value="B"> B- Son effet analgésique est en relation avec l'inhibition de la synthèse des prostaglandines au niveau central</li>
            
                    <li><input type="checkbox" id="q36c" name="q36" value="C"> C- Son effet antipyrétique se base sur une stimulation de l'effet des pyrogènes endogènes</li>
            
                    <li><input type="checkbox" id="q36d" name="q36" value="D"> D- Possède un effet antiphlogistique marqué</li>
            
                    <li><input type="checkbox" id="q36e" name="q36" value="E"> E- N'influe ni sur l'hémostase, ni sur la muqueuse gastrique</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-37" class="question-container">
            <div class="question">
                <p>37.) Indiquez les actions de la morphine :</p>
                <ul>
        
                    <li><input type="checkbox" id="q37a" name="q37" value="A"> A- Analgésie puissante</li>
            
                    <li><input type="checkbox" id="q37b" name="q37" value="B"> B- Effet euphorisant</li>
            
                    <li><input type="checkbox" id="q37c" name="q37" value="C"> C- Action anti-inflammatoire</li>
            
                    <li><input type="checkbox" id="q37d" name="q37" value="D"> D- Action psychostupéfiante (hallucinations, délires)</li>
            
                    <li><input type="checkbox" id="q37e" name="q37" value="E"> E- Action dépressive respiratoire</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-38" class="question-container">
            <div class="question">
                <p>38.) La classification des analgésiques de l'OMS :</p>
                <ul>
        
                    <li><input type="checkbox" id="q38a" name="q38" value="A"> A- De palier I renferme les opioïdes faibles centraux</li>
            
                    <li><input type="checkbox" id="q38b" name="q38" value="B"> B- Les analgésiques de Niveau 2 sont indiqués dans les douleurs d’emblée modérées à fortes</li>
            
                    <li><input type="checkbox" id="q38c" name="q38" value="C"> C- Les analgésiques de niveau III comprennent la dihydrocodéine et le dextropropoxyphène</li>
            
                    <li><input type="checkbox" id="q38d" name="q38" value="D"> D- Parmi les analgésiques de Niveau 3 qui sont des agonistes purs on compte l'hydromorphone et l'oxycodone</li>
            
                    <li><input type="checkbox" id="q38e" name="q38" value="E"> E- Les analgésiques de niveau 3 sont indiqués après un échec des antalgiques de type aspirine ou paracétamol</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-39" class="question-container">
            <div class="question">
                <p>39.) La base du traitement de la maladie de Parkinson se base sur plusieurs mécanismes :</p>
                <ul>
        
                    <li><input type="checkbox" id="q39a" name="q39" value="A"> A- En apportant de la L-dopa exogène qui sera ensuite transformée en dopamine</li>
            
                    <li><input type="checkbox" id="q39b" name="q39" value="B"> B- En limitant l’action de la dopamine sur les récepteurs dopaminergiques D2 post synaptiques</li>
            
                    <li><input type="checkbox" id="q39c" name="q39" value="C"> C- En limitant les enzymes du catabolisme de la dopamine</li>
            
                    <li><input type="checkbox" id="q39d" name="q39" value="D"> D- En apportant de la tyrosine</li>
            
                    <li><input type="checkbox" id="q39e" name="q39" value="E"> E- En inhibant le métabolisme de la noradrénaline</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-40" class="question-container">
            <div class="question">
                <p>40.) Entourez la ou les réponses vraies concernant les effets indésirables de la dopamine :</p>
                <ul>
        
                    <li><input type="checkbox" id="q40a" name="q40" value="A"> A- Les nausées et vomissements s'expliquent par une stimulation sur les récepteurs dopaminergiques de la paroi de l’estomac et sur l’area postrema</li>
            
                    <li><input type="checkbox" id="q40b" name="q40" value="B"> B- L'hypotension orthostatique résulte du blocage des récepteurs dopaminergiques vasculaires (vasodilatation)</li>
            
                    <li><input type="checkbox" id="q40c" name="q40" value="C"> C- Un effet psychostimulant excessif résulte d'un effet central de la dopamine</li>
            
                    <li><input type="checkbox" id="q40d" name="q40" value="D"> D- La survenue d'une addiction aux jeux représente un des troubles du comportement engendré par la dopamine</li>
            
                    <li><input type="checkbox" id="q40e" name="q40" value="E"> E- L'arrêt brutal du traitement dopaminergique peut faire survenir un pseudo-syndrome malin des neuroleptiques</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-41" class="question-container">
            <div class="question">
                <p>41.) Parmi les règles générales de prescription d’un traitement antiépileptique figure :</p>
                <ul>
        
                    <li><input type="checkbox" id="q41a" name="q41" value="A"> A- N’entreprendre un traitement qu’après certitude diagnostique</li>
            
                    <li><input type="checkbox" id="q41b" name="q41" value="B"> B- Proscrire la consommation d’alcool</li>
            
                    <li><input type="checkbox" id="q41c" name="q41" value="C"> C- S’assurer d’une durée de sommeil suffisante</li>
            
                    <li><input type="checkbox" id="q41d" name="q41" value="D"> D- Éviter toute cause d’hyperthermie</li>
            
                    <li><input type="checkbox" id="q41e" name="q41" value="E"> E- Commencer par une bithérapie à dose progressive</li>
            
                </ul>
            </div>
            
        </div>
        
            

            

            
                
                
                
            </div>
<button type="button" class="reset-quiz-button" onclick="window.location.href = '{% url "dynamic_view" "S7" "Maladie_du_Systeme_Nerveux" "NL2019" %}';">Réessayer tout le Quiz</button>

            <div id="details-section" class="details-section" style="display: none;">
                <h3>Tableau des questions</h3>
                <div class="question-links" id="question-links"></div>
            </div>

            
    
            <script>
const correctAnswers = {
    q1: ['A', 'D', 'E'],
    q2: ['C', 'D'],
    q3: ['A', 'C'],
    q4: ['B', 'C'],
    q5: ['E'],
    q6: ['B'],
    q7: ['D', 'E'],
    q8: ['A', 'B'],
    q9: ['C', 'D', 'E'],
    q10: ['C', 'B', 'E'],
    q11: ['C'],
    q12: ['A'],
    q13: ['B'],
    q14: ['B', 'C'],
    q15: ['B', 'E'],
    q16: ['D'],
    q17: ['D'],
    q18: ['A', 'B', 'D'],
    q19: ['A', 'B', 'D', 'E'],
    q20: ['D'],
    q21: ['B'],
    q22: ['A', 'D', 'E'],
    q23: ['B'],
    q24: ['A', 'B'],
    q25: ['A'],
    q26: ['C'],
    q27: ['C'],
    q28: ['B', 'C'],
    q29: ['C', 'E'],
    q30: ['A', 'B', 'C', 'D'],
    q31: ['A', 'C'],
    q32: ['C', 'D'],
    q33: ['B', 'C', 'D'],
    q34: ['A', 'B', 'C'],
    q35: ['A', 'C', 'E'],
    q36: ['A', 'B', 'E'],
    q37: ['A', 'B', 'D', 'E'],
    q38: ['B', 'D'],
    q39: ['A', 'B', 'C'],
    q40: ['A', 'D', 'E'],
    q41: ['A', 'B', 'C', 'D'],
};

let userAnswers = {}; // Stocke les réponses de l'utilisateur
let loadedAnswers = {}; // Stocke les réponses chargées pour l'évaluation

// Charger les réponses utilisateur
function loadUserAnswersFromChimie() {
    const savedAnswers = JSON.parse(localStorage.getItem('userAnswersNL2019'));

    if (savedAnswers) {
        loadedAnswers = savedAnswers; // Stocker les réponses dans la variable globale
        for (const [questionName, answerData] of Object.entries(savedAnswers)) {
            const questionDiv = document.querySelector(`input[name="${questionName}"]`)?.closest('.question-container');
            if (!questionDiv) continue;

            // Appliquer les styles pour les bonnes réponses
            correctAnswers[questionName]?.forEach(correctAnswer => {
                const correctLi = questionDiv.querySelector(`input[value="${correctAnswer}"]`)?.closest('li');
                if (correctLi) {
                    correctLi.style.color = 'green';
                    correctLi.style.fontWeight = 'bold';
                    correctLi.style.textShadow = '1px 1px 2px rgba(0, 0, 0, 0.5)';
                }
            });

            // Appliquer les styles pour les réponses sélectionnées
            answerData.selected.forEach(selectedAnswer => {
                const selectedLi = questionDiv.querySelector(`input[value="${selectedAnswer}"]`)?.closest('li');
                if (selectedLi) {
                    selectedLi.style.color = correctAnswers[questionName]?.includes(selectedAnswer) ? 'lightgreen' : 'red';
                }
            });

            // Désactiver les cases après chargement
            questionDiv.querySelectorAll('input').forEach(input => (input.disabled = true));
        }
    }
}

// Générer les cercles pour les questions
function generateCircles() {
    const totalQuestions = Object.keys(correctAnswers).length;
    const circleContainer = document.getElementById('circle-container');

    for (let i = 1; i <= totalQuestions; i++) {
        const circle = document.createElement('div');
        circle.classList.add('circle', 'yellow'); // Couleur par défaut : jaune
        circle.innerText = i;

        circle.onclick = function () {
            scrollToQuestion(i);
        };

        circleContainer.appendChild(circle);
    }
}

// Mettre à jour les cercles après évaluation
function updateCircles() {
    const circles = document.querySelectorAll('.circle');
    let totalCorrectCircles = 0; // Compteur pour les réponses correctes
    for (let i = 1; i <= Object.keys(correctAnswers).length; i++) {
        const selectedAnswers = loadedAnswers[`q${i}`]?.selected || [];
        const circle = circles[i - 1];

        if (JSON.stringify(correctAnswers[`q${i}`]?.sort()) === JSON.stringify(selectedAnswers.sort())) {
            circle.classList.add('green');
            circle.classList.remove('yellow', 'red');
            totalCorrectCircles++;
        } else if (selectedAnswers.length > 0) {
            circle.classList.add('red');
            circle.classList.remove('yellow', 'green');
        } else {
            circle.classList.add('yellow');
            circle.classList.remove('green', 'red');
        }
    }

    // Mettre à jour la note avec le nombre de cercles verts
    document.getElementById('score').textContent = `${totalCorrectCircles} / ${Object.keys(correctAnswers).length}`;
}

// Défiler jusqu'à une question spécifique
function scrollToQuestion(questionNumber) {
    const questionDiv = document.getElementById(`question-${questionNumber}`);
    if (questionDiv) {
        questionDiv.scrollIntoView({ behavior: 'smooth' });
    }
}

// Charger les réponses et générer les cercles au chargement de la page
window.onload = function () {
    document.getElementById('total-questions').textContent = Object.keys(correctAnswers).length; // Nombre total de questions
    loadUserAnswersFromChimie();
    generateCircles();
    updateCircles();
};




    </script>
</body>
</html>
<script src="{% static 'java/question-stats.js' %}" defer></script>
<script src="{% static 'java/sidebar.js' %}"></script>
<script src="{% static 'java/navbar.js' %}"></script>