<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Luck - Syntanatomie 2022</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

{% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesynt.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylenavbar1.css' %}">


</head>
<body>





<div class="navbar">
    <span class="logo">QuizLuck</span>
    <!-- Bouton pour ouvrir complètement la barre latérale -->
<div class="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
</div>

    <div class="user-menu">
        <div class="user-profile" onclick="toggleMenu()">
            <span class="profile-icon">👤</span>
            <span class="user-name">Bonjour, {{ user_full_name}} !</span>
            <span class="dropdown-arrow">▼</span>
        </div>
        <ul class="dropdown-menu" id="dropdown-menu">
            <li><a href="#" onclick="openAccountModal()">Mon Compte</a></li>
            <li>
                <a href="{% url 'login' %}">
                    <i class="fas fa-sign-out-alt"></i> Déconnexion
                </a>
            </li>
        </ul>
    </div>

</div>

<!-- Pop-up Modifier Mon Compte -->
<div id="account-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Modifier Mon compte</h3>
            <span class="close-btn" onclick="closeAccountModal()">&times;</span>
        </div>
        <div class="modal-body">
            <form id="account-form">
                {% csrf_token %}
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" name="username" value="{{ user_full_name}}" required>
<!-- Champ caché contenant la date de naissance -->
<input type="hidden" id="profile-dob" value="{{ request.user.profile.birth_date|date:'Y-m-d' }}">

                <label for="dob">Date de naissance :</label>
                <input type="date" id="dob" name="dob" value="{{ user.dob|date:'Y-m-d' }}">

                <label for="password">Nouveau mot de passe :</label>
                <input type="password" id="password" name="password" placeholder="Nouveau mot de passe">

                <label for="confirm-password">Répéter le mot de passe :</label>
                <input type="password" id="confirm-password" name="confirm_password" placeholder="Répéter le mot de passe">

                <button type="button" id="submit-form" class="btn-primary">Modifier</button>
            </form>
        </div>
    </div>
</div>

<!-- Pop-up Message -->
<div id="success-popup" class="popup">
    <div class="popup-content">
        <p id="popup-message"></p>
        <button onclick="closePopup()">OK</button>
    </div>
</div>


<div class="sidebar open" id="sidebar">

    <!-- Section Accueil -->
    <h3><i class="fas fa-home"></i> Accueil</h3>
    <ul>
        <li><a href="{% url 'home' %}"><i class="fas fa-arrow-circle-left"></i> Retourner à l'accueil</a></li>
    </ul>

    <!-- Section Modes -->
    <h3><i class="fas fa-gamepad"></i> Modes</h3>
    <ul>
        <li><a href="{% url 'start_challenge' %}"><i class="fas fa-bolt"></i> Mode Challenge</a></li>
	<li><a href="{% url 'revision' %}"><i class="fas fa-book"></i> Mode Révision</a></li>
        <li><a href="{% url 'resultats' %}"><i class="fas fa-chart-line"></i> Vos Résultats</a></li>
    </ul>

<!-- Section Vos Modules -->
<h3><i class="fas fa-folder"></i> Vos Modules</h3>
<div id="sidebar-semesters">
    <ul>
        {% for semester, modules in data.items %}
            <li>
                <span class="semester-title">
                    <i class="fas fa-graduation-cap"></i> {{ semester }}
                    <span class="toggle-arrow">▶</span> <!-- Flèche pour masquer/afficher -->
                </span>
                <ul class="modules-list hidden"> <!-- Liste masquée par défaut -->
                    {% for module in modules %}
                        <li>
                            <!-- Affiche uniquement la description -->
                            <a href="/{{ semester }}/{{ module.name }}/">
                                <i class="fas fa-book"></i> {{ module.description }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>




    <!-- Bouton Déconnexion -->
    <div class="logout-icon">
        <a href="{% url 'login' %}">
            <i class="fas fa-sign-out-alt"></i> Déconnexion
        </a>
    </div>
</div>


    <div id="content">

<div id="score-container" class="score-container">
    <h3>Note : <span id="score">0 / <span id="total-questions"</span></h3>
</div>


        <div class="quiz-title">
            <h1>Resultats detail</h1>
    </div>

         <!-- Conteneur des cercles -->
    <div class="circle-container" id="circle-container">
        <!-- Les cercles seront générés ici par JavaScript -->
    </div>

            <div class="quiz-title">
                <h1>QCM Anatomie 1</h1>
            </div>
            <form id="quiz-form">
<input type="hidden" name="file_name" value="NC2019R">
    
        <div id="question-1" class="question-container">
            <div class="question">
                <p>1.) Quels gestes il faut à faire</p>
                <ul>
        
                    <li><input type="checkbox" id="q1a" name="q1" value="A"> A- Remplir le blessé</li>
            
                    <li><input type="checkbox" id="q1b" name="q1" value="B"> B- Libérer les voies aériennes supérieures</li>
            
                    <li><input type="checkbox" id="q1c" name="q1" value="C"> C- Suturer la plaie</li>
            
                    <li><input type="checkbox" id="q1d" name="q1" value="D"> D- Intuber et ventiler</li>
            
                    <li><input type="checkbox" id="q1e" name="q1" value="E"> E- Immobiliser le cou</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-2" class="question-container">
            <div class="question">
                <p>2.) L'examen neurologique montre un niveau sensitif au niveau des membres supérieurs, il s'agit d'une lésion de :</p>
                <ul>
        
                    <li><input type="checkbox" id="q2a" name="q2" value="A"> A- C4</li>
            
                    <li><input type="checkbox" id="q2b" name="q2" value="B"> B- D1</li>
            
                    <li><input type="checkbox" id="q2c" name="q2" value="C"> C- D4</li>
            
                    <li><input type="checkbox" id="q2d" name="q2" value="D"> D- L4</li>
            
                    <li><input type="checkbox" id="q2e" name="q2" value="E"> E- L1</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-3" class="question-container">
            <div class="question">
                <p>3.) Deux examens sont à demander en urgence :</p>
                <ul>
        
                    <li><input type="checkbox" id="q3a" name="q3" value="A"> A- Une TDM du crâne</li>
            
                    <li><input type="checkbox" id="q3b" name="q3" value="B"> B- Une échographie abdominale</li>
            
                    <li><input type="checkbox" id="q3c" name="q3" value="C"> C- Un fond d'œil</li>
            
                    <li><input type="checkbox" id="q3d" name="q3" value="D"> D- Une TDM du rachis cervical</li>
            
                    <li><input type="checkbox" id="q3e" name="q3" value="E"> E- Une IRM cérébrale</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-4" class="question-container">
            <div class="question">
                <p>4.) Un des 2 examens montre une fracture d'une vertèbre au niveau des éléments du segment vertébral moyen, lesquels :</p>
                <ul>
        
                    <li><input type="checkbox" id="q4a" name="q4" value="A"> A- L'épineuse</li>
            
                    <li><input type="checkbox" id="q4b" name="q4" value="B"> B- Les lames</li>
            
                    <li><input type="checkbox" id="q4c" name="q4" value="C"> C- Le pédicule</li>
            
                    <li><input type="checkbox" id="q4d" name="q4" value="D"> D- Les articulaires</li>
            
                    <li><input type="checkbox" id="q4e" name="q4" value="E"> E- L'apophyse transverse</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-5" class="question-container">
            <div class="question">
                <p>5.) Le traitement est chirurgical 3 principes du traitement sont :</p>
                <ul>
        
                    <li><input type="checkbox" id="q5a" name="q5" value="A"> A- Abstention</li>
            
                    <li><input type="checkbox" id="q5b" name="q5" value="B"> B- Réduction</li>
            
                    <li><input type="checkbox" id="q5c" name="q5" value="C"> C- Immobilisation par plâtre</li>
            
                    <li><input type="checkbox" id="q5d" name="q5" value="D"> D- Fixation</li>
            
                    <li><input type="checkbox" id="q5e" name="q5" value="E"> E- Décompression</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-6" class="question-container">
            <div class="question">
                <p>6.) Parmi ces lésions quelle est la plus bénigne :</p>
                <ul>
        
                    <li><input type="checkbox" id="q6a" name="q6" value="A"> A- La contusion cérébrale</li>
            
                    <li><input type="checkbox" id="q6b" name="q6" value="B"> B- La commotion cérébrale</li>
            
                    <li><input type="checkbox" id="q6c" name="q6" value="C"> C- La dilacération cérébrale</li>
            
                    <li><input type="checkbox" id="q6d" name="q6" value="D"> D- L'œdème cérébral</li>
            
                    <li><input type="checkbox" id="q6e" name="q6" value="E"> E- L'hématome intra-cérébral</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-7" class="question-container">
            <div class="question">
                <p>7.) Quel est le diagnostic le plus probable ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q7a" name="q7" value="A"> A- Une contusion cérébrale</li>
            
                    <li><input type="checkbox" id="q7b" name="q7" value="B"> B- Une commotion cérébrale</li>
            
                    <li><input type="checkbox" id="q7c" name="q7" value="C"> C- Un hématome extra-dural</li>
            
                    <li><input type="checkbox" id="q7d" name="q7" value="D"> D- Un hématome sous-dural aigu</li>
            
                    <li><input type="checkbox" id="q7e" name="q7" value="E"> E- Un hématome sous-dural chronique</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-8" class="question-container">
            <div class="question">
                <p>8.) En l'absence de T.D.M. du crâne il faut faire en urgence :</p>
                <ul>
        
                    <li><input type="checkbox" id="q8a" name="q8" value="A"> A- Un traitement aux corticoïdes</li>
            
                    <li><input type="checkbox" id="q8b" name="q8" value="B"> B- Une prise en charge en réanimation</li>
            
                    <li><input type="checkbox" id="q8c" name="q8" value="C"> C- Un trou de trépan explorateur à gauche</li>
            
                    <li><input type="checkbox" id="q8d" name="q8" value="D"> D- Un trou de trépan explorateur à droite</li>
            
                    <li><input type="checkbox" id="q8e" name="q8" value="E"> E- Un traitement à base de furosémide.</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-9" class="question-container">
            <div class="question">
                <p>9.) Dans les migraines les accès sont :</p>
                <ul>
        
                    <li><input type="checkbox" id="q9a" name="q9" value="A"> A- Bilatéraux</li>
            
                    <li><input type="checkbox" id="q9b" name="q9" value="B"> B- Associés à des nausées vomissements</li>
            
                    <li><input type="checkbox" id="q9c" name="q9" value="C"> C- Sévères dans 75% des Cas</li>
            
                    <li><input type="checkbox" id="q9d" name="q9" value="D"> D- L'apanage du sujet âgé au-delà de 70 ans</li>
            
                    <li><input type="checkbox" id="q9e" name="q9" value="E"> E- De durée de quelques minutes seulement</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-10" class="question-container">
            <div class="question">
                <p>10.) Dans la névralgie faciale essentielle :</p>
                <ul>
        
                    <li><input type="checkbox" id="q10a" name="q10" value="A"> A- Les douleurs sont paroxystiques</li>
            
                    <li><input type="checkbox" id="q10b" name="q10" value="B"> B- Il y a une étiologie tumorale</li>
            
                    <li><input type="checkbox" id="q10c" name="q10" value="C"> C- Il n'y a pas d'intervalle libre entre les crises</li>
            
                    <li><input type="checkbox" id="q10d" name="q10" value="D"> D- Il y a souvent un déficit neurologique</li>
            
                    <li><input type="checkbox" id="q10e" name="q10" value="E"> E- La carbamazépine est souvent efficace</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-11" class="question-container">
            <div class="question">
                <p>11.) Dans la trigono-céphalie :</p>
                <ul>
        
                    <li><input type="checkbox" id="q11a" name="q11" value="A"> A- L'aspect est en proue de navire</li>
            
                    <li><input type="checkbox" id="q11b" name="q11" value="B"> B- L'aspect est en tour (Turicéphalie)</li>
            
                    <li><input type="checkbox" id="q11c" name="q11" value="C"> C- L'atteinte est bilatérale des sutures coronales</li>
            
                    <li><input type="checkbox" id="q11d" name="q11" value="D"> D- L'atteinte d'une seule suture coronale</li>
            
                    <li><input type="checkbox" id="q11e" name="q11" value="E"> E- L'atteinte est celle de la suture sagittale</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-12" class="question-container">
            <div class="question">
                <p>12.) Dans le spina bifida la fermeture du tube neural s’est fermée au</p>
                <ul>
        
                    <li><input type="checkbox" id="q12a" name="q12" value="A"> A- 10ème jour</li>
            
                    <li><input type="checkbox" id="q12b" name="q12" value="B"> B- 18ème jour</li>
            
                    <li><input type="checkbox" id="q12c" name="q12" value="C"> C- Après le 23ème jour</li>
            
                    <li><input type="checkbox" id="q12d" name="q12" value="D"> D- Avant le 23ème jour</li>
            
                    <li><input type="checkbox" id="q12e" name="q12" value="E"> E- Avant le 21ème jour</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-13" class="question-container">
            <div class="question">
                <p>13.) Un enfant de 6 ans se présente dans un tableau d’HIC et un syndrome cérébelleux statique. Le niveau de la lésion est</p>
                <ul>
        
                    <li><input type="checkbox" id="q13a" name="q13" value="A"> A- Vermien</li>
            
                    <li><input type="checkbox" id="q13b" name="q13" value="B"> B- L’hémisphère cérébelleux</li>
            
                    <li><input type="checkbox" id="q13c" name="q13" value="C"> C- Les noyaux dentelés</li>
            
                    <li><input type="checkbox" id="q13d" name="q13" value="D"> D- Le thalamus</li>
            
                    <li><input type="checkbox" id="q13e" name="q13" value="E"> E- Le lobe frontal</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-14" class="question-container">
            <div class="question">
                <p>14.) Deux examens peuvent être demandés pour localiser la lésion :</p>
                <ul>
        
                    <li><input type="checkbox" id="q14a" name="q14" value="A"> A- La TDM cérébrale</li>
            
                    <li><input type="checkbox" id="q14b" name="q14" value="B"> B- L’IRM cérébrale</li>
            
                    <li><input type="checkbox" id="q14c" name="q14" value="C"> C- L’angiographie</li>
            
                    <li><input type="checkbox" id="q14d" name="q14" value="D"> D- La ponction lombaire</li>
            
                    <li><input type="checkbox" id="q14e" name="q14" value="E"> E- Le fond d’œil</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-15" class="question-container">
            <div class="question">
                <p>15.) Un diagnostic est probable :</p>
                <ul>
        
                    <li><input type="checkbox" id="q15a" name="q15" value="A"> A- L’astrocytome</li>
            
                    <li><input type="checkbox" id="q15b" name="q15" value="B"> B- Le médulloblastome</li>
            
                    <li><input type="checkbox" id="q15c" name="q15" value="C"> C- L’épendymome</li>
            
                    <li><input type="checkbox" id="q15d" name="q15" value="D"> D- Le méningiome</li>
            
                    <li><input type="checkbox" id="q15e" name="q15" value="E"> E- Gliome protubérantiel</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-16" class="question-container">
            <div class="question">
                <p>16.) Le diagnostic de certitude sera fait par :</p>
                <ul>
        
                    <li><input type="checkbox" id="q16a" name="q16" value="A"> A- L’IRM cérébrale</li>
            
                    <li><input type="checkbox" id="q16b" name="q16" value="B"> B- La TDM cérébrale</li>
            
                    <li><input type="checkbox" id="q16c" name="q16" value="C"> C- L’angiographie</li>
            
                    <li><input type="checkbox" id="q16d" name="q16" value="D"> D- L’histologie</li>
            
                    <li><input type="checkbox" id="q16e" name="q16" value="E"> E- L’EEG</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-17" class="question-container">
            <div class="question">
                <p>17.) Un patient âgé de 75 ans suivi pour un cancer du sein consulte pour des céphalées, vomissements. A l’examen, il présente une Ataxie. Ce tableau clinique fait évoquer quelle localisation tumorale ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q17a" name="q17" value="A"> A- Frontale</li>
            
                    <li><input type="checkbox" id="q17b" name="q17" value="B"> B- Pariétale</li>
            
                    <li><input type="checkbox" id="q17c" name="q17" value="C"> C- Rolandique</li>
            
                    <li><input type="checkbox" id="q17d" name="q17" value="D"> D- Cervelet</li>
            
                    <li><input type="checkbox" id="q17e" name="q17" value="E"> E- Temporale</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-18" class="question-container">
            <div class="question">
                <p>18.) Les deux examens complémentaires à faire chez cette patiente sont :</p>
                <ul>
        
                    <li><input type="checkbox" id="q18a" name="q18" value="A"> A- Une radiographie du crâne</li>
            
                    <li><input type="checkbox" id="q18b" name="q18" value="B"> B- Une I.R.M cérébrale</li>
            
                    <li><input type="checkbox" id="q18c" name="q18" value="C"> C- Une échographie transfontanellaire</li>
            
                    <li><input type="checkbox" id="q18d" name="q18" value="D"> D- Une numération sanguine</li>
            
                    <li><input type="checkbox" id="q18e" name="q18" value="E"> E- Une T.D.M cérébrale</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-19" class="question-container">
            <div class="question">
                <p>19.) Le diagnostic à évoquer en cas de tumeur :</p>
                <ul>
        
                    <li><input type="checkbox" id="q19a" name="q19" value="A"> A- Un épendymome</li>
            
                    <li><input type="checkbox" id="q19b" name="q19" value="B"> B- Un astrocytome</li>
            
                    <li><input type="checkbox" id="q19c" name="q19" value="C"> C- Un tuberculome</li>
            
                    <li><input type="checkbox" id="q19d" name="q19" value="D"> D- Un médulloblastome</li>
            
                    <li><input type="checkbox" id="q19e" name="q19" value="E"> E- Une métastase</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-20" class="question-container">
            <div class="question">
                <p>20.) Le traitement est à base de :</p>
                <ul>
        
                    <li><input type="checkbox" id="q20a" name="q20" value="A"> A- Chirurgie seule</li>
            
                    <li><input type="checkbox" id="q20b" name="q20" value="B"> B- Chirurgie et chimiothérapie</li>
            
                    <li><input type="checkbox" id="q20c" name="q20" value="C"> C- Chirurgie, chimiothérapie et radiothérapie</li>
            
                    <li><input type="checkbox" id="q20d" name="q20" value="D"> D- Chirurgie et radiothérapie</li>
            
                    <li><input type="checkbox" id="q20e" name="q20" value="E"> E- Chimiothérapie et radiothérapie</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-21" class="question-container">
            <div class="question">
                <p>21.) Dans le myelomeningocele la lésion intéresse :</p>
                <ul>
        
                    <li><input type="checkbox" id="q21a" name="q21" value="A"> A- La peau et les méninges</li>
            
                    <li><input type="checkbox" id="q21b" name="q21" value="B"> B- La moelle épinière</li>
            
                    <li><input type="checkbox" id="q21c" name="q21" value="C"> C- Uniquement les méninges</li>
            
                    <li><input type="checkbox" id="q21d" name="q21" value="D"> D- L’arc postérieur et le corps antérieur des vertèbres</li>
            
                    <li><input type="checkbox" id="q21e" name="q21" value="E"> E- Le corps antérieur des vertèbres</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-22" class="question-container">
            <div class="question">
                <p>22.) Une patiente de 65 ans ayant dans les antécédents des lombalgies, présente à la suite d’une chute une douleur qui irradie le long des 2 membres inférieurs jusqu’aux talons. Il s’agit de radiculalgies des racines :</p>
                <ul>
        
                    <li><input type="checkbox" id="q22a" name="q22" value="A"> A- L2</li>
            
                    <li><input type="checkbox" id="q22b" name="q22" value="B"> B- L3</li>
            
                    <li><input type="checkbox" id="q22c" name="q22" value="C"> C- L4</li>
            
                    <li><input type="checkbox" id="q22d" name="q22" value="D"> D- L5</li>
            
                    <li><input type="checkbox" id="q22e" name="q22" value="E"> E- S1</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-23" class="question-container">
            <div class="question">
                <p>23.) Le siège peut être confirmé par 1 seul signe :</p>
                <ul>
        
                    <li><input type="checkbox" id="q23a" name="q23" value="A"> A- Un signe de la sonnette L4 – L5</li>
            
                    <li><input type="checkbox" id="q23b" name="q23" value="B"> B- Un signe de DE SEZE</li>
            
                    <li><input type="checkbox" id="q23c" name="q23" value="C"> C- Une abolition du réflexe rotulien</li>
            
                    <li><input type="checkbox" id="q23d" name="q23" value="D"> D- Une abolition des réflexes achilléens</li>
            
                    <li><input type="checkbox" id="q23e" name="q23" value="E"> E- Un syndrome rachidien</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-24" class="question-container">
            <div class="question">
                <p>24.) Les examens neuroradiologiques n’ont pas montré de lésion chirurgicale, votre traitement sera à base de :</p>
                <ul>
        
                    <li><input type="checkbox" id="q24a" name="q24" value="A"> A- Corticoïdes</li>
            
                    <li><input type="checkbox" id="q24b" name="q24" value="B"> B- Anti-inflammatoires non stéroïdiens</li>
            
                    <li><input type="checkbox" id="q24c" name="q24" value="C"> C- Myorelaxants</li>
            
                    <li><input type="checkbox" id="q24d" name="q24" value="D"> D- Antalgiques</li>
            
                    <li><input type="checkbox" id="q24e" name="q24" value="E"> E- Vitaminothérapie B</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-25" class="question-container">
            <div class="question">
                <p>25.) Un mois plus tard à la suite d’une rechute, la patiente se présente aux urgences avec impossibilité de marcher sur les pointes des pieds et des troubles sphinctériens et génitaux. Il s’agit de :</p>
                <ul>
        
                    <li><input type="checkbox" id="q25a" name="q25" value="A"> A- Un syndrome de compression médullaire</li>
            
                    <li><input type="checkbox" id="q25b" name="q25" value="B"> B- Un syndrome de la queue de cheval</li>
            
                    <li><input type="checkbox" id="q25c" name="q25" value="C"> C- Une sciatique hyperalgique</li>
            
                    <li><input type="checkbox" id="q25d" name="q25" value="D"> D- Une sciatique commune</li>
            
                    <li><input type="checkbox" id="q25e" name="q25" value="E"> E- Une coxarthrose</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-26" class="question-container">
            <div class="question">
                <p>26.) Un seul examen est demandé en urgence est :</p>
                <ul>
        
                    <li><input type="checkbox" id="q26a" name="q26" value="A"> A- Un électromyogramme</li>
            
                    <li><input type="checkbox" id="q26b" name="q26" value="B"> B- La radiographie standard lombaire</li>
            
                    <li><input type="checkbox" id="q26c" name="q26" value="C"> C- La V.S.</li>
            
                    <li><input type="checkbox" id="q26d" name="q26" value="D"> D- L’I.R.M lombaire</li>
            
                    <li><input type="checkbox" id="q26e" name="q26" value="E"> E- La saccoradiculographie</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-27" class="question-container">
            <div class="question">
                <p>27.) Le traitement est :</p>
                <ul>
        
                    <li><input type="checkbox" id="q27a" name="q27" value="A"> A- A base d’antiinflammatoires seuls</li>
            
                    <li><input type="checkbox" id="q27b" name="q27" value="B"> B- A base de kinésithérapie seule</li>
            
                    <li><input type="checkbox" id="q27c" name="q27" value="C"> C- Chirurgical en urgence</li>
            
                    <li><input type="checkbox" id="q27d" name="q27" value="D"> D- A base d’anti-inflammatoires avec chirurgie différée</li>
            
                    <li><input type="checkbox" id="q27e" name="q27" value="E"> E- L’abstention</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-28" class="question-container">
            <div class="question">
                <p>28.) Quelle est la cause la plus probable ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q28a" name="q28" value="A"> A- Une hernie discale simple L2 – L3</li>
            
                    <li><input type="checkbox" id="q28b" name="q28" value="B"> B- Un bourrelet discal L5 – S1</li>
            
                    <li><input type="checkbox" id="q28c" name="q28" value="C"> C- Une hernie discale L4 – L5 rompue</li>
            
                    <li><input type="checkbox" id="q28d" name="q28" value="D"> D- Une hernie discale migrée L5 – S1</li>
            
                    <li><input type="checkbox" id="q28e" name="q28" value="E"> E- Une protrusion discale L3 – L4</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-29" class="question-container">
            <div class="question">
                <p>29.) Quelles sont les lésions considérées stables ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q29a" name="q29" value="A"> A- Fracture tear-drops</li>
            
                    <li><input type="checkbox" id="q29b" name="q29" value="B"> B- Fracture bipédiculaire type 2</li>
            
                    <li><input type="checkbox" id="q29c" name="q29" value="C"> C- Fracture apophyse transverse</li>
            
                    <li><input type="checkbox" id="q29d" name="q29" value="D"> D- Fracture apophyse épineuse</li>
            
                    <li><input type="checkbox" id="q29e" name="q29" value="E"> E- Fracture luxation</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-30" class="question-container">
            <div class="question">
                <p>30.) Une patiente épileptique sous depakine désire une grossesse. La prévention d’un spina bifida chez cette patiente demande :</p>
                <ul>
        
                    <li><input type="checkbox" id="q30a" name="q30" value="A"> A- La diminution des doses de depakine</li>
            
                    <li><input type="checkbox" id="q30b" name="q30" value="B"> B- L’arrêt de la depakine</li>
            
                    <li><input type="checkbox" id="q30c" name="q30" value="C"> C- L’augmentation des doses de depakine</li>
            
                    <li><input type="checkbox" id="q30d" name="q30" value="D"> D- L’adjonction de l’acide folique</li>
            
                    <li><input type="checkbox" id="q30e" name="q30" value="E"> E- L’interdiction de la grossesse</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-31" class="question-container">
            <div class="question">
                <p>31.) La surveillance de cette grossesse demande :</p>
                <ul>
        
                    <li><input type="checkbox" id="q31a" name="q31" value="A"> A- L’échographie obstétricale</li>
            
                    <li><input type="checkbox" id="q31b" name="q31" value="B"> B- L’amniocentèse</li>
            
                    <li><input type="checkbox" id="q31c" name="q31" value="C"> C- Des radiographies standards de la patiente</li>
            
                    <li><input type="checkbox" id="q31d" name="q31" value="D"> D- Le dosage des alphafetoproteines</li>
            
                    <li><input type="checkbox" id="q31e" name="q31" value="E"> E- L’interruption volontaire de la grossesse</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-32" class="question-container">
            <div class="question">
                <p>32.) Quelles sont les 2 méthodes de choix pour exclure l’anévrysme ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q32a" name="q32" value="A"> A- Inhibiteurs calciques (nimodipine)</li>
            
                    <li><input type="checkbox" id="q32b" name="q32" value="B"> B- Enrobage de l’anévrysme</li>
            
                    <li><input type="checkbox" id="q32c" name="q32" value="C"> C- Embolisation avec la colle biologique</li>
            
                    <li><input type="checkbox" id="q32d" name="q32" value="D"> D- Clippage de l’anévrysme</li>
            
                    <li><input type="checkbox" id="q32e" name="q32" value="E"> E- Embolisation avec les coils</li>
            
                </ul>
            </div>
            
        </div>
        
            

            

            
                
                
                
            </div>
<button type="button" class="reset-quiz-button" onclick="window.location.href = '{% url "dynamic_view" "S7" "Maladie_du_Systeme_Nerveux" "NC2019R" %}';">Réessayer tout le Quiz</button>

            <div id="details-section" class="details-section" style="display: none;">
                <h3>Tableau des questions</h3>
                <div class="question-links" id="question-links"></div>
            </div>

            
    
            <script>
const correctAnswers = {
    q1: ['A', 'B', 'C', 'E'],
    q2: ['A'],
    q3: ['A', 'D'],
    q4: ['C', 'D'],
    q5: ['B', 'D', 'E'],
    q6: ['B'],
    q7: ['C'],
    q8: ['D'],
    q9: ['B', 'C'],
    q10: ['A', 'E'],
    q11: ['A'],
    q12: ['C'],
    q13: ['A'],
    q14: ['A', 'B'],
    q15: ['B'],
    q16: ['D'],
    q17: ['D'],
    q18: ['B', 'E'],
    q19: ['E'],
    q20: ['C'],
    q21: ['A'],
    q22: ['E'],
    q23: ['D'],
    q24: ['B', 'C', 'D', 'E'],
    q25: ['B'],
    q26: ['D'],
    q27: ['C'],
    q28: ['D'],
    q29: ['C', 'D'],
    q30: ['B', 'D'],
    q31: ['A', 'D'],
    q32: ['D', 'E'],
};

let userAnswers = {}; // Stocke les réponses de l'utilisateur
let loadedAnswers = {}; // Stocke les réponses chargées pour l'évaluation

// Charger les réponses utilisateur
function loadUserAnswersFromChimie() {
    const savedAnswers = JSON.parse(localStorage.getItem('userAnswersNC2019R'));

    if (savedAnswers) {
        loadedAnswers = savedAnswers; // Stocker les réponses dans la variable globale
        for (const [questionName, answerData] of Object.entries(savedAnswers)) {
            const questionDiv = document.querySelector(`input[name="${questionName}"]`)?.closest('.question-container');
            if (!questionDiv) continue;

            // Appliquer les styles pour les bonnes réponses
            correctAnswers[questionName]?.forEach(correctAnswer => {
                const correctLi = questionDiv.querySelector(`input[value="${correctAnswer}"]`)?.closest('li');
                if (correctLi) {
                    correctLi.style.color = 'green';
                    correctLi.style.fontWeight = 'bold';
                    correctLi.style.textShadow = '1px 1px 2px rgba(0, 0, 0, 0.5)';
                }
            });

            // Appliquer les styles pour les réponses sélectionnées
            answerData.selected.forEach(selectedAnswer => {
                const selectedLi = questionDiv.querySelector(`input[value="${selectedAnswer}"]`)?.closest('li');
                if (selectedLi) {
                    selectedLi.style.color = correctAnswers[questionName]?.includes(selectedAnswer) ? 'lightgreen' : 'red';
                }
            });

            // Désactiver les cases après chargement
            questionDiv.querySelectorAll('input').forEach(input => (input.disabled = true));
        }
    }
}

// Générer les cercles pour les questions
function generateCircles() {
    const totalQuestions = Object.keys(correctAnswers).length;
    const circleContainer = document.getElementById('circle-container');

    for (let i = 1; i <= totalQuestions; i++) {
        const circle = document.createElement('div');
        circle.classList.add('circle', 'yellow'); // Couleur par défaut : jaune
        circle.innerText = i;

        circle.onclick = function () {
            scrollToQuestion(i);
        };

        circleContainer.appendChild(circle);
    }
}

// Mettre à jour les cercles après évaluation
function updateCircles() {
    const circles = document.querySelectorAll('.circle');
    let totalCorrectCircles = 0; // Compteur pour les réponses correctes
    for (let i = 1; i <= Object.keys(correctAnswers).length; i++) {
        const selectedAnswers = loadedAnswers[`q${i}`]?.selected || [];
        const circle = circles[i - 1];

        if (JSON.stringify(correctAnswers[`q${i}`]?.sort()) === JSON.stringify(selectedAnswers.sort())) {
            circle.classList.add('green');
            circle.classList.remove('yellow', 'red');
            totalCorrectCircles++;
        } else if (selectedAnswers.length > 0) {
            circle.classList.add('red');
            circle.classList.remove('yellow', 'green');
        } else {
            circle.classList.add('yellow');
            circle.classList.remove('green', 'red');
        }
    }

    // Mettre à jour la note avec le nombre de cercles verts
    document.getElementById('score').textContent = `${totalCorrectCircles} / ${Object.keys(correctAnswers).length}`;
}

// Défiler jusqu'à une question spécifique
function scrollToQuestion(questionNumber) {
    const questionDiv = document.getElementById(`question-${questionNumber}`);
    if (questionDiv) {
        questionDiv.scrollIntoView({ behavior: 'smooth' });
    }
}

// Charger les réponses et générer les cercles au chargement de la page
window.onload = function () {
    document.getElementById('total-questions').textContent = Object.keys(correctAnswers).length; // Nombre total de questions
    loadUserAnswersFromChimie();
    generateCircles();
    updateCircles();
};




    </script>
</body>
</html>
<script src="{% static 'java/question-stats.js' %}" defer></script>
<script src="{% static 'java/sidebar.js' %}"></script>
<script src="{% static 'java/navbar.js' %}"></script>