<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Luck - Syntanatomie 2022</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

{% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesynt.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylenavbar1.css' %}">


</head>
<body>





<div class="navbar">
    <span class="logo">QuizLuck</span>
    <!-- Bouton pour ouvrir complètement la barre latérale -->
<div class="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
</div>

    <div class="user-menu">
        <div class="user-profile" onclick="toggleMenu()">
            <span class="profile-icon">👤</span>
            <span class="user-name">Bonjour, {{ user_full_name}} !</span>
            <span class="dropdown-arrow">▼</span>
        </div>
        <ul class="dropdown-menu" id="dropdown-menu">
            <li><a href="#" onclick="openAccountModal()">Mon Compte</a></li>
            <li>
                <a href="{% url 'login' %}">
                    <i class="fas fa-sign-out-alt"></i> Déconnexion
                </a>
            </li>
        </ul>
    </div>

</div>

<!-- Pop-up Modifier Mon Compte -->
<div id="account-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Modifier Mon compte</h3>
            <span class="close-btn" onclick="closeAccountModal()">&times;</span>
        </div>
        <div class="modal-body">
            <form id="account-form">
                {% csrf_token %}
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" name="username" value="{{ user_full_name}}" required>
<!-- Champ caché contenant la date de naissance -->
<input type="hidden" id="profile-dob" value="{{ request.user.profile.birth_date|date:'Y-m-d' }}">

                <label for="dob">Date de naissance :</label>
                <input type="date" id="dob" name="dob" value="{{ user.dob|date:'Y-m-d' }}">

                <label for="password">Nouveau mot de passe :</label>
                <input type="password" id="password" name="password" placeholder="Nouveau mot de passe">

                <label for="confirm-password">Répéter le mot de passe :</label>
                <input type="password" id="confirm-password" name="confirm_password" placeholder="Répéter le mot de passe">

                <button type="button" id="submit-form" class="btn-primary">Modifier</button>
            </form>
        </div>
    </div>
</div>

<!-- Pop-up Message -->
<div id="success-popup" class="popup">
    <div class="popup-content">
        <p id="popup-message"></p>
        <button onclick="closePopup()">OK</button>
    </div>
</div>


<div class="sidebar open" id="sidebar">

    <!-- Section Accueil -->
    <h3><i class="fas fa-home"></i> Accueil</h3>
    <ul>
        <li><a href="{% url 'home' %}"><i class="fas fa-arrow-circle-left"></i> Retourner à l'accueil</a></li>
    </ul>

    <!-- Section Modes -->
    <h3><i class="fas fa-gamepad"></i> Modes</h3>
    <ul>
        <li><a href="{% url 'start_challenge' %}"><i class="fas fa-bolt"></i> Mode Challenge</a></li>
	<li><a href="{% url 'revision' %}"><i class="fas fa-book"></i> Mode Révision</a></li>
        <li><a href="{% url 'resultats' %}"><i class="fas fa-chart-line"></i> Vos Résultats</a></li>
    </ul>

<!-- Section Vos Modules -->
<h3><i class="fas fa-folder"></i> Vos Modules</h3>
<div id="sidebar-semesters">
    <ul>
        {% for semester, modules in data.items %}
            <li>
                <span class="semester-title">
                    <i class="fas fa-graduation-cap"></i> {{ semester }}
                    <span class="toggle-arrow">▶</span> <!-- Flèche pour masquer/afficher -->
                </span>
                <ul class="modules-list hidden"> <!-- Liste masquée par défaut -->
                    {% for module in modules %}
                        <li>
                            <!-- Affiche uniquement la description -->
                            <a href="/{{ semester }}/{{ module.name }}/">
                                <i class="fas fa-book"></i> {{ module.description }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>




    <!-- Bouton Déconnexion -->
    <div class="logout-icon">
        <a href="{% url 'login' %}">
            <i class="fas fa-sign-out-alt"></i> Déconnexion
        </a>
    </div>
</div>


    <div id="content">

<div id="score-container" class="score-container">
    <h3>Note : <span id="score">0 / <span id="total-questions"</span></h3>
</div>


        <div class="quiz-title">
            <h1>Resultats detail</h1>
    </div>

         <!-- Conteneur des cercles -->
    <div class="circle-container" id="circle-container">
        <!-- Les cercles seront générés ici par JavaScript -->
    </div>

            <div class="quiz-title">
                <h1>QCM Urologie</h1>
            </div>
            <form id="quiz-form">
                <input type="hidden" id='exam_name' name="exam_name" value="URO2023R">
    {% csrf_token %}>
    
        <div id="question-1" class="question-container">
            <div class="question">
                <p>1.) La nature chimique du calcul urinaire le plus fréquent est :</p>
                <ul>
        
                    <li><input type="checkbox" id="q1a" name="q1" value="A"> A- Phosphate de calcium</li>
            
                    <li><input type="checkbox" id="q1b" name="q1" value="B"> B- Cystine</li>
            
                    <li><input type="checkbox" id="q1c" name="q1" value="C"> C- Phosphate ammoniaco-magnésien</li>
            
                    <li><input type="checkbox" id="q1d" name="q1" value="D"> D- Oxalate de calcium</li>
            
                    <li><input type="checkbox" id="q1e" name="q1" value="E"> E- Acide urique</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-2" class="question-container">
            <div class="question">
                <p>2.) Quelles sont, parmi les propositions suivantes, les facteurs favorisant la formation de calculs urinaires ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q2a" name="q2" value="A"> A- Anomalies du pH urinaire</li>
            
                    <li><input type="checkbox" id="q2b" name="q2" value="B"> B- Consommation importante des fibres alimentaires</li>
            
                    <li><input type="checkbox" id="q2c" name="q2" value="C"> C- Syndrome de la jonction pyélo-urétérale</li>
            
                    <li><input type="checkbox" id="q2d" name="q2" value="D"> D- Infections urinaires à germes uréasiques</li>
            
                    <li><input type="checkbox" id="q2e" name="q2" value="E"> E- Obésité</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-3" class="question-container">
            <div class="question">
                <p>3.) Dans le cadre du bilan étiologique de la maladie lithiasique, il faut demander :</p>
                <ul>
        
                    <li><input type="checkbox" id="q3a" name="q3" value="A"> A- Étude spectrophotométrique infrarouge du calcul</li>
            
                    <li><input type="checkbox" id="q3b" name="q3" value="B"> B- Scintigraphie rénale</li>
            
                    <li><input type="checkbox" id="q3c" name="q3" value="C"> C- Arbre urinaire sans préparation (AUSP)</li>
            
                    <li><input type="checkbox" id="q3d" name="q3" value="D"> D- pH urinaire</li>
            
                    <li><input type="checkbox" id="q3e" name="q3" value="E"> E- Uroscanner</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-4" class="question-container">
            <div class="question">
                <p>4.) Aux urgences, le traitement initial d'une crise de colique néphrétique non compliquée doit comprendre :</p>
                <ul>
        
                    <li><input type="checkbox" id="q4a" name="q4" value="A"> A- Traitement antalgique et antispasmodique</li>
            
                    <li><input type="checkbox" id="q4b" name="q4" value="B"> B- Traitement anti-inflammatoire (Kétoprofène)</li>
            
                    <li><input type="checkbox" id="q4c" name="q4" value="C"> C- Hyperhydratation</li>
            
                    <li><input type="checkbox" id="q4d" name="q4" value="D"> D- Traitement antibiotique</li>
            
                    <li><input type="checkbox" id="q4e" name="q4" value="E"> E- Dérivation urinaire par montée de sonde urétérale</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-5" class="question-container">
            <div class="question">
                <p>5.) Le traitement optimal d'un calcul rénal radio-opaque de 1,6 cm est :</p>
                <ul>
        
                    <li><input type="checkbox" id="q5a" name="q5" value="A"> A- Urétéroscopie flexible (souple)</li>
            
                    <li><input type="checkbox" id="q5b" name="q5" value="B"> B- Urétéroscopie rigide</li>
            
                    <li><input type="checkbox" id="q5c" name="q5" value="C"> C- Néphrolithotomie percutanée</li>
            
                    <li><input type="checkbox" id="q5d" name="q5" value="D"> D- Alcalinisation des urines</li>
            
                    <li><input type="checkbox" id="q5e" name="q5" value="E"> E- Abstention-surveillance</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-6" class="question-container">
            <div class="question">
                <p>6.) L'incontinence urinaire par urgenturie est en rapport avec :</p>
                <ul>
        
                    <li><input type="checkbox" id="q6a" name="q6" value="A"> A- Augmentation de la sensibilité vésicale</li>
            
                    <li><input type="checkbox" id="q6b" name="q6" value="B"> B- Hyperactivité détrusorienne</li>
            
                    <li><input type="checkbox" id="q6c" name="q6" value="C"> C- Hypermobilité urétrale</li>
            
                    <li><input type="checkbox" id="q6d" name="q6" value="D"> D- Insuffisance sphinctérienne</li>
            
                    <li><input type="checkbox" id="q6e" name="q6" value="E"> E- Toutes les réponses sont justes</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-7" class="question-container">
            <div class="question">
                <p>7.) L'infertilité du couple :</p>
                <ul>
        
                    <li><input type="checkbox" id="q7a" name="q7" value="A"> A- Se définit par l'incapacité du couple à procréer après un délai de deux années d'union et des rapports sexuels non protégés</li>
            
                    <li><input type="checkbox" id="q7b" name="q7" value="B"> B- Est primo-secondaire en cas d'une ou plusieurs grossesses menées à terme</li>
            
                    <li><input type="checkbox" id="q7c" name="q7" value="C"> C- Est primaire en cas d'absence de grossesse</li>
            
                    <li><input type="checkbox" id="q7d" name="q7" value="D"> D- Est secondaire en cas de fausses couches</li>
            
                    <li><input type="checkbox" id="q7e" name="q7" value="E"> E- Est secondaire en cas d'une ou plusieurs grossesses menées à terme</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-8" class="question-container">
            <div class="question">
                <p>8.) Dans le spermogramme :</p>
                <ul>
        
                    <li><input type="checkbox" id="q8a" name="q8" value="A"> A- Asthénospermie est définie par une mobilité inférieure à 52%</li>
            
                    <li><input type="checkbox" id="q8b" name="q8" value="B"> B- Oligospermie est définie par un nombre de spermatozoïdes inférieur à 15 millions</li>
            
                    <li><input type="checkbox" id="q8c" name="q8" value="C"> C- Oligospermie est définie par une absence de sperme</li>
            
                    <li><input type="checkbox" id="q8d" name="q8" value="D"> D- Aspermie est définie par une absence de spermatozoïdes dans le sperme</li>
            
                    <li><input type="checkbox" id="q8e" name="q8" value="E"> E- Tératospermie est définie par un taux de spermatozoïdes normaux inférieur à 20%</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-9" class="question-container">
            <div class="question">
                <p>9.) Les examens complémentaires à demander en cas d'andropause :</p>
                <ul>
        
                    <li><input type="checkbox" id="q9a" name="q9" value="A"> A- Dosage de FSH-LH</li>
            
                    <li><input type="checkbox" id="q9b" name="q9" value="B"> B- Dosage de la testostéronémie totale</li>
            
                    <li><input type="checkbox" id="q9c" name="q9" value="C"> C- Dosage du PSA total</li>
            
                    <li><input type="checkbox" id="q9d" name="q9" value="D"> D- Dosage de la prolactinémie</li>
            
                    <li><input type="checkbox" id="q9e" name="q9" value="E"> E- Aucun examen biologique n'est nécessaire</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-10" class="question-container">
            <div class="question">
                <p>10.) Les facteurs de risque du cancer du testicule sont :</p>
                <ul>
        
                    <li><input type="checkbox" id="q10a" name="q10" value="A"> A- Hydrocèle</li>
            
                    <li><input type="checkbox" id="q10b" name="q10" value="B"> B- Ectopie testiculaire</li>
            
                    <li><input type="checkbox" id="q10c" name="q10" value="C"> C- Atrophie testiculaire</li>
            
                    <li><input type="checkbox" id="q10d" name="q10" value="D"> D- Tabagisme</li>
            
                    <li><input type="checkbox" id="q10e" name="q10" value="E"> E- Exposition professionnelle</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-11" class="question-container">
            <div class="question">
                <p>11.) Dans le bilan para-clinique d'une hypertrophie bénigne de la prostate :</p>
                <ul>
        
                    <li><input type="checkbox" id="q11a" name="q11" value="A"> A- Le dosage du PSA permet de faire le diagnostic positif</li>
            
                    <li><input type="checkbox" id="q11b" name="q11" value="B"> B- L'échographie urinaire permet de faire le diagnostic positif</li>
            
                    <li><input type="checkbox" id="q11c" name="q11" value="C"> C- L'échographie urinaire permet de rechercher les complications</li>
            
                    <li><input type="checkbox" id="q11d" name="q11" value="D"> D- Le bilan urodynamique est indiqué en cas de suspicion d'une sténose de l'urètre</li>
            
                    <li><input type="checkbox" id="q11e" name="q11" value="E"> E- L'IRM prostatique permet de faire le bilan d'extension loco-régional</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-12" class="question-container">
            <div class="question">
                <p>12.) Parmi les facteurs de risque du cancer du rein, on retrouve :</p>
                <ul>
        
                    <li><input type="checkbox" id="q12a" name="q12" value="A"> A- L'alcool</li>
            
                    <li><input type="checkbox" id="q12b" name="q12" value="B"> B- Les infections urinaires</li>
            
                    <li><input type="checkbox" id="q12c" name="q12" value="C"> C- L'hypertension artérielle</li>
            
                    <li><input type="checkbox" id="q12d" name="q12" value="D"> D- Les prédispositions génétiques</li>
            
                    <li><input type="checkbox" id="q12e" name="q12" value="E"> E- Les kystes simples du rein</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-13" class="question-container">
            <div class="question">
                <p>13.) Le diagnostic du cancer du rein :</p>
                <ul>
        
                    <li><input type="checkbox" id="q13a" name="q13" value="A"> A- Est purement clinique</li>
            
                    <li><input type="checkbox" id="q13b" name="q13" value="B"> B- Peut se faire par une échographie abdominale</li>
            
                    <li><input type="checkbox" id="q13c" name="q13" value="C"> C- Repose sur le scanner abdomino-pelvien</li>
            
                    <li><input type="checkbox" id="q13d" name="q13" value="D"> D- Repose sur les marqueurs tumoraux biologiques</li>
            
                    <li><input type="checkbox" id="q13e" name="q13" value="E"> E- Se fait systématiquement par biopsie rénale</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-14" class="question-container">
            <div class="question">
                <p>14.) Le traitement du cancer du rein :</p>
                <ul>
        
                    <li><input type="checkbox" id="q14a" name="q14" value="A"> A- Est purement médical</li>
            
                    <li><input type="checkbox" id="q14b" name="q14" value="B"> B- Se base sur la classification TNM</li>
            
                    <li><input type="checkbox" id="q14c" name="q14" value="C"> C- Repose sur l'association radio-chimiothérapie si contre-indication à la chirurgie</li>
            
                    <li><input type="checkbox" id="q14d" name="q14" value="D"> D- Repose sur la néphrectomie partielle en cas de cancer localement avancé</li>
            
                    <li><input type="checkbox" id="q14e" name="q14" value="E"> E- Repose sur l'immunothérapie en cas de cancer métastatique</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-15" class="question-container">
            <div class="question">
                <p>15.) Dans les tumeurs de vessie :</p>
                <ul>
        
                    <li><input type="checkbox" id="q15a" name="q15" value="A"> A- L'hématurie est le signe clinique le plus classique</li>
            
                    <li><input type="checkbox" id="q15b" name="q15" value="B"> B- Le diagnostic est purement clinique</li>
            
                    <li><input type="checkbox" id="q15c" name="q15" value="C"> C- Le diagnostic peut être évoqué à l'échographie</li>
            
                    <li><input type="checkbox" id="q15d" name="q15" value="D"> D- L'IRM pelvienne est le meilleur examen pour faire le bilan d'extension</li>
            
                    <li><input type="checkbox" id="q15e" name="q15" value="E"> E- Le diagnostic est confirmé par une résection endoscopique avec étude histologique</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-16" class="question-container">
            <div class="question">
                <p>16.) En cas de sténose de l'urètre, l'urétro-cystographie rétrograde permet de :</p>
                <ul>
        
                    <li><input type="checkbox" id="q16a" name="q16" value="A"> A- Préciser le nombre de sténoses</li>
            
                    <li><input type="checkbox" id="q16b" name="q16" value="B"> B- Chercher le retentissement sur le rein</li>
            
                    <li><input type="checkbox" id="q16c" name="q16" value="C"> C- Chercher un décalage entre les deux segments de l'urètre</li>
            
                    <li><input type="checkbox" id="q16d" name="q16" value="D"> D- Éliminer le diagnostic d'un cancer de la prostate associé</li>
            
                    <li><input type="checkbox" id="q16e" name="q16" value="E"> E- Réaliser le premier temps du traitement de la sténose</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-17" class="question-container">
            <div class="question">
                <p>17.) Parmi les éléments cliniques suivants, quels sont ceux évoquant le diagnostic de torsion du cordon spermatique ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q17a" name="q17" value="A"> A- Tuméfaction molle au-dessus du testicule</li>
            
                    <li><input type="checkbox" id="q17b" name="q17" value="B"> B- Ascension du testicule</li>
            
                    <li><input type="checkbox" id="q17c" name="q17" value="C"> C- Bourse vide</li>
            
                    <li><input type="checkbox" id="q17d" name="q17" value="D"> D- Conservation du réflexe crémastérien</li>
            
                    <li><input type="checkbox" id="q17e" name="q17" value="E"> E- Douleur soulagée par le soutènement du testicule</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-18" class="question-container">
            <div class="question">
                <p>18.) Quels éléments cliniques sont en faveur d'une orchi-épididymite aiguë ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q18a" name="q18" value="A"> A- Hyperthermie à 38,5 °C</li>
            
                    <li><input type="checkbox" id="q18b" name="q18" value="B"> B- Début brutal</li>
            
                    <li><input type="checkbox" id="q18c" name="q18" value="C"> C- Augmentation du volume de la bourse</li>
            
                    <li><input type="checkbox" id="q18d" name="q18" value="D"> D- Disparition du sillon épididymo-testiculaire</li>
            
                    <li><input type="checkbox" id="q18e" name="q18" value="E"> E- Signe de Prehn négatif</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-19" class="question-container">
            <div class="question">
                <p>19.) Quels examens envisagez-vous ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q19a" name="q19" value="A"> A- Échographie scrotale</li>
            
                    <li><input type="checkbox" id="q19b" name="q19" value="B"> B- Dosage des marqueurs tumoraux du cancer du testicule</li>
            
                    <li><input type="checkbox" id="q19c" name="q19" value="C"> C- Doppler des vaisseaux spermatiques</li>
            
                    <li><input type="checkbox" id="q19d" name="q19" value="D"> D- CRP</li>
            
                    <li><input type="checkbox" id="q19e" name="q19" value="E"> E- Aucun examen</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-20" class="question-container">
            <div class="question">
                <p>20.) Quelle sera votre conduite thérapeutique ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q20a" name="q20" value="A"> A- Exploration chirurgicale différée si persistance des symptômes</li>
            
                    <li><input type="checkbox" id="q20b" name="q20" value="B"> B- Exploration chirurgicale en urgence</li>
            
                    <li><input type="checkbox" id="q20c" name="q20" value="C"> C- Surveillance et traitement antalgique</li>
            
                    <li><input type="checkbox" id="q20d" name="q20" value="D"> D- Traitement antibiotique</li>
            
                    <li><input type="checkbox" id="q20e" name="q20" value="E"> E- Anti-inflammatoires non stéroïdiens</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-21" class="question-container">
            <div class="question">
                <p>21.) Après l'appréciation de la viabilité du testicule, qu'envisagez-vous ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q21a" name="q21" value="A"> A- Orchido-péxie si le testicule est toujours viable</li>
            
                    <li><input type="checkbox" id="q21b" name="q21" value="B"> B- Orchidectomie si le testicule est non viable</li>
            
                    <li><input type="checkbox" id="q21c" name="q21" value="C"> C- Conservation du testicule quel que soit son aspect et sa viabilité</li>
            
                    <li><input type="checkbox" id="q21d" name="q21" value="D"> D- Orchidectomie quel que soit l'aspect et la viabilité du testicule</li>
            
                    <li><input type="checkbox" id="q21e" name="q21" value="E"> E- Aucune réponse n'est juste</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-22" class="question-container">
            <div class="question">
                <p>22.) Quel est le diagnostic à évoquer en premier ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q22a" name="q22" value="A"> A- Tumeur rénale</li>
            
                    <li><input type="checkbox" id="q22b" name="q22" value="B"> B- Tumeur de vessie</li>
            
                    <li><input type="checkbox" id="q22c" name="q22" value="C"> C- Tumeur prostatique</li>
            
                    <li><input type="checkbox" id="q22d" name="q22" value="D"> D- Tumeur de la voie excrétrice supérieure</li>
            
                    <li><input type="checkbox" id="q22e" name="q22" value="E"> E- Infection urinaire</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-23" class="question-container">
            <div class="question">
                <p>23.) Quel est l'examen complémentaire à demander pour confirmer votre diagnostic ?</p>
                <ul>
        
                    <li><input type="checkbox" id="q23a" name="q23" value="A"> A- Urétro-cystographie rétrograde (UCRM)</li>
            
                    <li><input type="checkbox" id="q23b" name="q23" value="B"> B- Uroscanner avec biopsie</li>
            
                    <li><input type="checkbox" id="q23c" name="q23" value="C"> C- Cystoscopie avec biopsie</li>
            
                    <li><input type="checkbox" id="q23d" name="q23" value="D"> D- ECBU</li>
            
                    <li><input type="checkbox" id="q23e" name="q23" value="E"> E- IRM pelvienne</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-24" class="question-container">
            <div class="question">
                <p>24.) Cette tumeur infiltre :</p>
                <ul>
        
                    <li><input type="checkbox" id="q24a" name="q24" value="A"> A- La musculeuse</li>
            
                    <li><input type="checkbox" id="q24b" name="q24" value="B"> B- Le chorion</li>
            
                    <li><input type="checkbox" id="q24c" name="q24" value="C"> C- La graisse</li>
            
                    <li><input type="checkbox" id="q24d" name="q24" value="D"> D- Les organes de voisinage</li>
            
                    <li><input type="checkbox" id="q24e" name="q24" value="E"> E- Le péritoine</li>
            
                </ul>
            </div>
            
        </div>
        
        <div id="question-25" class="question-container">
            <div class="question">
                <p>25.) Le traitement de ce patient est basé sur :</p>
                <ul>
        
                    <li><input type="checkbox" id="q25a" name="q25" value="A"> A- Une cystoprostatectomie avec entérocystoplastie</li>
            
                    <li><input type="checkbox" id="q25b" name="q25" value="B"> B- Une résection endoscopique trans-urétérale (RTUV) seule</li>
            
                    <li><input type="checkbox" id="q25c" name="q25" value="C"> C- Une résection endoscopique trans-urétérale (RTUV) suivie d'une chimiothérapie intra-vésicale</li>
            
                    <li><input type="checkbox" id="q25d" name="q25" value="D"> D- Une néphrectomie totale élargie</li>
            
                    <li><input type="checkbox" id="q25e" name="q25" value="E"> E- Une prostatectomie radicale</li>
            
                </ul>
            </div>
            
        </div>
        

                
            </div>
<button type="button" class="reset-quiz-button" onclick="window.location.href = '{% url "dynamic_view" "S5" "Radiologie" "Rd2022" %}';">Réessayer tout le Quiz</button>

            <div id="details-section" class="details-section" style="display: none;">
                <h3>Tableau des questions</h3>
                <div class="question-links" id="question-links"></div>
            </div>

                
            <script>
const correctAnswers = {
    q1: ['D'],
    q2: ['A', 'C', 'D'],
    q3: ['A'],
    q4: ['A', 'B'],
    q5: ['C'],
    q6: ['A', 'B'],
    q7: ['B', 'C'],
    q8: ['A', 'D', 'E'],
    q9: ['A', 'B'],
    q10: ['B', 'C'],
    q11: ['A', 'B', 'C', 'E'],
    q12: ['C', 'D'],
    q13: ['C'],
    q14: ['B', 'D', 'E'],
    q15: ['A', 'D', 'E'],
    q16: ['A', 'E'],
    q17: ['A', 'B', 'D'],
    q18: ['A', 'B', 'E'],
    q19: ['E'],
    q20: ['B'],
    q21: ['A', 'B'],
    q22: ['B'],
    q23: ['C'],
    q24: ['B'],
    q25: ['C'],
};

let userAnswers = {}; // Stocke les réponses de l'utilisateur
let loadedAnswers = {}; // Stocke les réponses chargées pour l'évaluation

// Charger les réponses utilisateur
function loadUserAnswersFromChimie() {
    const savedAnswers = JSON.parse(localStorage.getItem('userAnswersRd2022'));

    if (savedAnswers) {
        loadedAnswers = savedAnswers; // Stocker les réponses dans la variable globale
        for (const [questionName, answerData] of Object.entries(savedAnswers)) {
            const questionDiv = document.querySelector(`input[name="${questionName}"]`)?.closest('.question-container');
            if (!questionDiv) continue;

            // Appliquer les styles pour les bonnes réponses
            correctAnswers[questionName]?.forEach(correctAnswer => {
                const correctLi = questionDiv.querySelector(`input[value="${correctAnswer}"]`)?.closest('li');
                if (correctLi) {
                    correctLi.style.color = 'green';
                    correctLi.style.fontWeight = 'bold';
                    correctLi.style.textShadow = '1px 1px 2px rgba(0, 0, 0, 0.5)';
                }
            });

            // Appliquer les styles pour les réponses sélectionnées
            answerData.selected.forEach(selectedAnswer => {
                const selectedLi = questionDiv.querySelector(`input[value="${selectedAnswer}"]`)?.closest('li');
                if (selectedLi) {
                    selectedLi.style.color = correctAnswers[questionName]?.includes(selectedAnswer) ? 'lightgreen' : 'red';
                }
            });

            // Désactiver les cases après chargement
            questionDiv.querySelectorAll('input').forEach(input => (input.disabled = true));
        }
    }
}

// Générer les cercles pour les questions
function generateCircles() {
    const totalQuestions = Object.keys(correctAnswers).length;
    const circleContainer = document.getElementById('circle-container');

    for (let i = 1; i <= totalQuestions; i++) {
        const circle = document.createElement('div');
        circle.classList.add('circle', 'yellow'); // Couleur par défaut : jaune
        circle.innerText = i;

        circle.onclick = function () {
            scrollToQuestion(i);
        };

        circleContainer.appendChild(circle);
    }
}

// Mettre à jour les cercles après évaluation
function updateCircles() {
    const circles = document.querySelectorAll('.circle');
    let totalCorrectCircles = 0; // Compteur pour les réponses correctes
    for (let i = 1; i <= Object.keys(correctAnswers).length; i++) {
        const selectedAnswers = loadedAnswers[`q${i}`]?.selected || [];
        const circle = circles[i - 1];

        if (JSON.stringify(correctAnswers[`q${i}`]?.sort()) === JSON.stringify(selectedAnswers.sort())) {
            circle.classList.add('green');
            circle.classList.remove('yellow', 'red');
            totalCorrectCircles++;
        } else if (selectedAnswers.length > 0) {
            circle.classList.add('red');
            circle.classList.remove('yellow', 'green');
        } else {
            circle.classList.add('yellow');
            circle.classList.remove('green', 'red');
        }
    }

    // Mettre à jour la note avec le nombre de cercles verts
    document.getElementById('score').textContent = `${totalCorrectCircles} / ${Object.keys(correctAnswers).length}`;
}

// Défiler jusqu'à une question spécifique
function scrollToQuestion(questionNumber) {
    const questionDiv = document.getElementById(`question-${questionNumber}`);
    if (questionDiv) {
        questionDiv.scrollIntoView({ behavior: 'smooth' });
    }
}

// Charger les réponses et générer les cercles au chargement de la page
window.onload = function () {
    document.getElementById('total-questions').textContent = Object.keys(correctAnswers).length; // Nombre total de questions
    loadUserAnswersFromChimie();
    generateCircles();
    updateCircles();
};




    </script>
</body>
</html>
<script src="{% static 'java/question-stats.js' %}" defer></script>
<script src="{% static 'java/sidebar.js' %}"></script>
<script src="{% static 'java/navbar.js' %}"></script>
